.mt3_numericcounter {
  * {
    display: inline-block;
    vertical-align: middle;
  }
}

.mt3_numericcounter-button {
  background-color: transparent;
  border: 0;
}

.mt3_numericcounter-arrow {

  &:not(.mt3_numericcounter-arrow--disabled):hover {
    color: $mt3_color-gray-50;
    cursor: pointer;
  }

  &--disabled {
    color: $mt3_color-gray-10;
  }
}

.mt3_dotcounter-container {
  left: 50%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  transform: translateX(-50%);

  &:hover {
    color: $mt3_color-gray-50;
  }

  &--inverse {
    bottom: 0;
  }
}

.mt3_dotcounter-item {
  background-color: $mt3_color-gray-10;
  border-radius: 50%;
  display: inline-block;
  height: .5rem;
  margin: $mt3_unit-quarter;
  width: .5rem;

  &--active,
  &:hover {
    background-color: $mt3_color-gray-40;
    cursor: pointer;
  }

  &--inverse {
    box-shadow: 0 0 $mt3_unit-quarter transparentize($mt3_color-primary, .6);
    opacity: .3;

    &--active,
    &:hover {
      opacity: .75;
    }
  }
}
