.mt_numericcounter-button {
  background-color: transparent;
  border: 0;
}

.mt_numericcounter-arrow {
  &:not(.numericcounter-arrow--disabled):hover {
    color: $mt_color-neutral;
  }

  &--disabled {
    color: $mt_color-neutral-xl;
  }
}

.mt_dotcounter-container {
  left: 50%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  transform: translateX(-50%);

  &:hover {
    color: $mt_color-neutral;
  }

  &--inverse {
    bottom: 0;
  }
}

.mt_dotcounter-item {
  background-color: $mt_color-neutral-xl;
  border-radius: 50%;
  display: inline-block;
  height: $mt_unit-half;
  margin: $mt_unit-quarter;
  width: $mt_unit-half;

  &--active,
  &:hover {
    background-color: $mt_color-neutral-l;
  }

  &--inverse {
    box-shadow: 0 0 $mt_unit-quarter transparentize($mt_color-primary-xxxl, .6);
    opacity: .3;

    &--active,
    &:hover {
      opacity: .75;
    }
  }
}
