.videopromo-container {
  position: relative;
  margin: 0;
}

.videopromo-button {
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: $mt_video-promo-play-button;
  border: none;
  content: $mt_unit;
  height: 40%;
  left: 50%;
  max-height: $mt_unit * 15;
  max-width: $mt_unit * 15;
  min-height: $mt_unit-double;
  min-width: $mt_unit-double;
  opacity: .5;
  position: absolute;
  top: 50%;
  transition: 400ms;
  transform: translate(-50%, -50%);
  width: 40%;

  .videopromo-container:hover & {
    opacity: .65;
  }
}
