.mt_videopromo-container {
  margin: 0;
  position: relative;
}

.mt_videopromo-button {
  background-color: transparent;
  background-image: $mt_video-promo-play-button;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  height: 40%;
  left: 50%;
  max-height: $mt_unit * 15;
  max-width: $mt_unit * 15;
  min-height: $mt_unit-double;
  min-width: $mt_unit-double;
  opacity: .5;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 400ms;
  width: 40%;

  .mt_videopromo-container:hover & {
    opacity: .65;
  }
}
