.mt3_videopromo-container {
  margin: 0;
  position: relative;
}

.mt3_videopromo-button {
  background-color: $mt3_color-black;
  border: 0;
  bottom: 0;
  color: $mt3_color-primary;
  cursor: pointer;
  height: 24.3%;
  min-height: 63px;
  min-width: 44px;
  opacity: .65;
  overflow: hidden;
  position: absolute;
  width: 10%;

  &:hover {
    background-color: $mt3_color-primary;
    color: $mt3_color-black;
    opacity: 1;
  }
}

.mt3_videopromo-button-container {
  position: relative;
}

.mt3_videopromo-button-icon {
  padding: 34.95% 26.88%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
