@charset "UTF-8";
/*doc
---
title: Fonts
name: fonts
category: Typography
---

Primary font: “utopia-std”, Georgia, Times, “Times New Roman”, serif

<em>Primary font italic: “utopia-std”, Georgia, Times, “Times New Roman”, serif</em>

<strong>Primary font bold: “utopia-std”, Georgia, Times, “Times New Roman”, serif</strong>

<strong><em>Primary font bold italic: “utopia-std”, Georgia, Times, “Times New Roman”, serif</em></strong>

<p><span class="h5">Primary font deck: “utopia-std”, Georgia, Times, “Times New Roman”, serif</span></p>

<p><span class="h5"><em>Primary font deck italic: “utopia-std”, Georgia, Times, “Times New Roman”, serif</em></span></p>

<p><span class="h5--alt">Primary font display: “utopia-std”, Georgia, Times, “Times New Roman”, serif</span></p>

<p><span class="h5--alt"><em>Primary font display italic: “utopia-std”, Georgia, Times, “Times New Roman”, serif</em></span></p>

<p class="subh5">Secondary font: “pragmatica-web”, “Helvetica Neue”, Helvetica, Arial, “Nimbus Sans L”, sans-serif</p>

<p class="subh5"><em>Secondary font italic: “pragmatica-web”, “Helvetica Neue”, Helvetica, Arial, “Nimbus Sans L”, sans-serif</em></p>

<p class="subh5"><strong>Secondary font bold: “pragmatica-web”, “Helvetica Neue”, Helvetica, Arial, “Nimbus Sans L”, sans-serif</strong></p>

<p class="subh5"><strong><em>Secondary font bold italic: “pragmatica-web”, “Helvetica Neue”, Helvetica, Arial, “Nimbus Sans L”, sans-serif</em></strong></p>

*/
@font-face {
  font-family: 'icongs';
  src: url("../bower_components/icongs/fonts/icongs_a5b67007ff5a80787e9ee410b47e8038.eot");
  /* IE9 Compat Modes */
  src: url("../bower_components/icongs/fonts/icongs_a5b67007ff5a80787e9ee410b47e8038.eot?#iefix") format("embedded-opentype"), url("../bower_components/icongs/fonts/icongs_a5b67007ff5a80787e9ee410b47e8038.woff") format("woff"), url("../bower_components/icongs/fonts/icongs_a5b67007ff5a80787e9ee410b47e8038.ttf") format("truetype"), url("../bower_components/icongs/fonts/icongs_a5b67007ff5a80787e9ee410b47e8038.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
@media screen and (min-width: 15em) {
  .layout_colorsample {
    width: 100%; } }
@media screen and (min-width: 30em) {
  .layout_colorsample {
    width: 50%; } }
@media screen and (min-width: 45em) {
  .layout_colorsample {
    width: 33.33333%; } }
@media screen and (min-width: 60em) {
  .layout_colorsample {
    width: 25%; } }
@media screen and (min-width: 75em) {
  .layout_colorsample {
    width: 20%; } }
@media screen and (min-width: 90em) {
  .layout_colorsample {
    width: 16.66667%; } }
@media screen and (min-width: 105em) {
  .layout_colorsample {
    width: 14.28571%; } }
@media screen and (min-width: 120em) {
  .layout_colorsample {
    width: 12.5%; } }
@media screen and (min-width: 135em) {
  .layout_colorsample {
    width: 11.11111%; } }

.colorsample-sample {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border: solid 1px #021122; }
.colorsample-container {
  padding: .5em; }

header {
  margin-bottom: 1.44em; }

header > hgroup,
header > nav,
footer {
  padding-left: 7.5%;
  padding-right: 7.5%; }

header > hgroup {
  padding-bottom: 0.72em; }

header > nav {
  padding-top: 0.36em;
  padding-bottom: 0.36em; }

footer {
  padding-top: 0.72em;
  padding-bottom: 0.72em; }

.container {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  margin-bottom: 2.88em; }

.field-container {
  margin-bottom: 1.44em; }

.navitem {
  margin-right: 1.44em;
  padding-top: 0.36em;
  padding-bottom: 0.36em; }
  .navitem:last-child {
    margin-right: 0; }

.subnav {
  margin-bottom: 1.44em; }
  .subnav ul {
    margin: 0.36em 1.44em 0.72em 0; }
  @media (min-width: 50em) {
    .subnav {
      width: 21.05263%;
      float: left;
      margin-right: -100%;
      margin-left: 0;
      clear: none; } }

main > h1 {
  margin-top: 1.60751em;
  margin-bottom: 0.40188em; }
  main > h1 + h1 {
    margin-bottom: 0; }
  main > h1:first-of-type {
    margin-top: 0; }
main > h2 {
  margin-top: 0.80376em;
  margin-bottom: 0.40188em; }
@media (min-width: 50em) {
  main {
    width: 73.68421%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }

.codeExample {
  border: 1px solid #d7dada;
  margin-bottom: 1.44em; }

.exampleOutput {
  padding: 0.72em 1.44em; }

.codeBlock {
  background-color: white;
  border-top: 1px solid #d7dada;
  max-height: 20em;
  padding: 0.72em 1.44em;
  overflow: auto; }
  .codeBlock pre {
    margin: 0;
    overflow: visible; }

/*# sourceMappingURL=hologram.css.map */
