.mt3_sharing-container {
  display: inline-flex;

  &--vertical {
    flex-direction: column;
  }
}

.mt3_sharing-btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: .75rem;

  *:hover {
    color: $mt3_color-gray-40;
  }
}
