// Extends

%mt3_row {
  &::before,
  &::after {
    content: ' ';
    display: table;
  }

  &::after {
    clear: both;
  }
}

.mt3_row {
  @extend %mt3_row;
}

.mt3_row-gut-half {
  margin-bottom: $mt3_unit / 2;
}

@for $mt3_i from 0 through 4 {
  .mt3_row-gut-#{$mt3_i} {
    @if $mt3_i < 1 {
      margin-bottom: 0;
    } @else {
      margin-bottom: $mt3_unit * $mt3_i;
    }
  }
}

@each $mt3_bp, $mt3_width in $mt3_layout-bps { // loop through breakpoints
  @media #{$mt3_width} {
    .mt3_row-#{$mt3_bp}-gut-half {
      margin-bottom: $mt3_unit / 2;
    }

    @for $mt3_i from 0 through 4 {
      .mt3_row-#{$mt3_bp}-gut-#{$mt3_i} {
        @if $mt3_i < 1 {
          margin-bottom: 0;
        } @else {
          margin-bottom: $mt3_unit * $mt3_i;
        }
      }
    }
  }
}
