<div class="pagewrapper mt3_row mt3_row-gut-4 mt3_col-gut">
  <div class="mt3_col-lg-3">
    <h3 class="mt3_h3">Columns</h3>

    <p class="mt3_subh4">
      The grid contains 12 columns and spans the entire width of its container. The columns have many configurable properties outlined here.
    </p>
  </div>

  <div class="mt3_col-lg-8 mt3_col-sm-12 mt3_col-lg-offset-1">
    <p class="mt3_subh4">
      <span class="mt3_h5">Available classes:</span>

      Use the following classes to configure the grid. The asterisks below (*) can be replaced with a relevant number. The <span class="mt3_h5">column, offset, push</span>, and <span class="mt3_h5">pull</span> classes are respective to the 12-column grid, so values 1 through 12 are available.
      The <span class="mt3_h5">column gutter</span> class can have values of none, sm, md, and lg.
      The <span class="mt3_h5">row gutter</span> class can have values of none, half, 1, 2, 3, and 4.

    <table class="mt3_bgcolor--gray5 mt3_col-12 mt3_row-gut-3">
      <tr>
        <td></td>
        <td class="mt3_h5">default class name</td>
        <td class="mt3_h5">class name with breakpoint</td>
      </tr>
      <tr>
        <td class="mt3_h5">Column</td>
        <td class="mt3_subh4">.mt3_col-*</td>
        <td class="mt3_subh4">.mt3_col-[sm, md, lg]-*</td>
      </tr>
      <tr>
        <td class="mt3_h5">Offset</td>
        <td class="mt3_subh4">.mt3_col-offset-*</td>
        <td class="mt3_subh4">.mt3_col-[sm, md, lg]-offset-*</td>
      </tr>
      <tr>
        <td class="mt3_h5">Pull</td>
        <td class="mt3_subh4">.mt3_col-pull-*</td>
        <td class="mt3_subh4">.mt3_col-[sm, md, lg]-pull-*</td>
      </tr>
      <tr>
        <td class="mt3_h5">Push</td>
        <td class="mt3_subh4">.mt3_col-push-*</td>
        <td class="mt3_subh4">.mt3_col-[sm, md, lg]-push-*</td>
      </tr>
      <tr>
        <td class="mt3_h5">Row Gutter</td>
        <td class="mt3_subh4">.mt3_row-gut-*</td>
        <td class="mt3_subh4">.mt3_row-[sm, md, lg]-gut-*`</td>
      </tr>
    </table>

    <p class="mt3_subh4">
      <span class="mt3_h5">Available Breakpoints:</span>

      You can specify different values for the classes described above at different breakpoints by using the sm, md, or lg qualifier in the class name. If a qualifier is not used, then the value will be applied at all breakpoints.
    </p>

    <table class="mt3_bgcolor--gray5 mt3_col-12 mt3_row-gut-3">
      <tr>
        <td class="mt3_h5">breakpoint name</td>
        <td class="mt3_h5">size</td>
      </tr>
      <tr>
        <td class="mt3_subh4">sm</td>
        <td class="mt3_subh4"> > 30em (480px)</td>
      </tr>
      <tr>
        <td class="mt3_subh4">md</td>
        <td class="mt3_subh4"> > 50em (800px)</td>
      </tr>
      <tr>
        <td class="mt3_subh4">lg</td>
        <td class="mt3_subh4"> > 70em (1120px)</td>
      </tr>
    </table>
  </div>
</div>
