$mt3_arrowheight: .625rem;

.mt3_tooltip-container {
  margin: $mt3_unit-half;
  pointer-events: none;
  position: relative;
  transition: 400ms;
}

.mt3_tooltip-btn {
  cursor: pointer;
  display: block;
  padding: .0625rem .375rem 0;
  pointer-events: auto;

  &:hover {
    color: $mt3_color-gray-40;
  }
}

.mt3_tooltip {
  max-width: 18.75rem;
  padding: $mt3_unit;
  pointer-events: auto;
  position: absolute;
  text-align: center;
  z-index: zIndex('tooltip');


  &--top {
    bottom: 100%;
    margin-bottom: $mt3_unit;
    margin-left: $mt3_unit-half;
    transform: translateX(-50%);

    &::after {
      border: $mt3_arrowheight solid transparent;
      border-top: $mt3_arrowheight solid $mt3_color-gray-5;
      content: '';
      display: block;
      left: 50%;
      position: absolute;
      top: 100%;
      transform: translateX(-50%);
    }
  }

  &--right {
    margin-left: $mt3_fs-med-lrg;
    top: 50%;
    transform: translateY(-50%);

    &::before {
      border: $mt3_arrowheight solid transparent;
      border-right: $mt3_arrowheight solid $mt3_color-gray-5;
      content: '';
      display: block;
      position: absolute;
      right: 100%;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &--bottom {
    margin-left: $mt3_unit-half;
    margin-top: $mt3_unit;
    top: 100%;
    transform: translateX(-50%);

    &::after {
      border: $mt3_arrowheight solid transparent;
      border-bottom: $mt3_arrowheight solid $mt3_color-gray-5;
      bottom: 100%;
      content: '';
      position: absolute;
      right: 50%;
      transform: translateX(50%);
    }
  }

  &--left {
    top: 50%;
    transform: translateY(-50%);

    &::before {
      border: $mt3_arrowheight solid transparent;
      border-left: $mt3_arrowheight solid $mt3_color-gray-5;
      content: '';
      left: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
