$mt3_small: 768px;
$mt3_medium: 1024px;
$mt3_large: 1280px;


.hero-with-two-rails {
  position: relative;

  //specific height rules to match the exact height of the expected text
  &__heading, &__heading__wrap, &__heading__wrap--above {
    height: 31px;
    @media (min-width: $mt3_small) {
      height: 47px;
    }
    @media (min-width: $mt3_medium) {
      height: 64px;
    }
    @media (min-width: $mt3_large) {
      height: 93px;
    }
  }

  &__hero {
    margin: 0 auto;
    max-width: 1600px;

    //specific override - modify promo's margins for a "hero" promos
    .mt3_promocard-container {
      .mt3_promocard-pad {
        padding-left: 30px;
      }
      @media(min-width: $mt3_small) {
        margin-bottom: 0;
        figure {
          margin-bottom: 0;
        }
        .mt3_promocard-pad {
          padding-left: 0;
        }
      }
    }
    .mt3_promocard-container--text-only {
      .mt3_promocard-pad {
        padding: 0;
      }
    }
  }

  //for edge cases when there is no hero promo, the first promo in the rails should not be indented for mobile
  &__rails .mt3_promocard--first {
    @media(max-width: $mt3_small - 1) {
      margin-left: -30px;
      width: calc(100% + 30px);
      .mt3_promocard-pad {
        padding-left:30px;
      }
    }
  }

  //LIGHT theme rules
  &--light {
    /*needed overflow issue with pod promo in Firefox and IE*/
    background: $mt3_color-white;
  }
  &__heading {
    h1 {
      color: $mt3_color-gray-10;
      @extend %mt3_verlag;
      font-size: 40px;
      font-weight: 600;
      margin: 0 auto;
      overflow: hidden;
      text-align: center;
      margin-top: -7px;
      max-height: 50px;
      @media (min-width: $mt3_small) {
        font-size: 60px;
        margin-top: -12px;
        max-height: 75px;
      }
      @media (min-width: $mt3_medium) {
        font-size: 80px;
        margin-top: -16px;
        max-height: 90px;
      }
      @media (min-width: $mt3_large) {
        font-size: 120px;
        margin-top:-24px;
        max-height: 150px;
      }
    }
    &--fixed {
      left: 0px;
      position: fixed;
      top: 0px;
      width: 100%;
    }
  }
  //DARK theme rules
  &--dark {
    background: $mt3_color-gray-86;

    .hero-with-two-rails__heading h1 {
      color: $mt3_color-black;
    }
  }

  &__rails {
    margin: 0 auto;
    max-width: 1600px;
    @media (min-width: $mt3_small) {
      padding: 0 40px;
    }
    @media (min-width: $mt3_medium) {
      padding: 0 60px;
    }
  }
  &__left-rail {
    min-height: 1px; //this rule enables the rail to still take up space even if it has no relative-positioned content (for parallax purposes)
    @media (max-width: $mt3_small) {
      padding: 0 0 0 30px;
    }
  }
  &__right-rail {
    min-height: 1px; //this rule enables the rail to still take up space even if it has no relative-positioned content (for parallax purposes)
    @media (max-width: $mt3_small) {
      padding: 0 0 0 30px;
    }
  }
  &--no-heading {
    .hero-with-two-rails__heading__wrap {
      height: 40px;
    }
  }
  &--heading-below {
    .hero-with-two-rails__heading__wrap--above {
      display: none;
    }
    @media (max-width: $mt3_small) {
      .hero-with-two-rails__heading__wrap {
        display: none
      }
    }
  }

  &--heading-above {
    padding-top: 30px;
    @media (min-width: $mt3_small) {
      padding-top: 60px;
    }

    @media (max-width: $mt3_small) {
      .hero-with-two-rails__heading__wrap {
        display: none
      }
    }
  }

  &--no-hero {
    .hero-with-two-rails__heading__wrap--above {
      display: none;
    }

    &.hero-with-two-rails--heading-below {
      padding-top: 0;

      @media (min-width: $mt3_small) {
        padding-top: 60px;
      }
    }

    &.hero-with-two-rails--no-heading {
      padding-top: 40px;

      @media (max-width: $mt3_small) {
        padding-top: 0;
      }


      .hero-with-two-rails__heading__wrap {
        display: none;
      }
    }

    &.hero-with-two-rails--heading-above {
      @media (max-width: $mt3_small) {
        .hero-with-two-rails__heading__wrap {
          display: block
        }
      }
    }
  }
}
