.mt_modal-button {
  position: absolute;
  right: 1em;
  top: 1em;
}

.mt_modal-closeicon {
  color: currentColor;
  height: 3em;
  padding: .5em;
  width: 3em;
}


// ====================
// ====================
// Homepage
// ====================
// ====================

.herocontainer {
  padding-top: 2em;
  text-align: center;

  @media #{$mt_mq-lg} {
    padding-top: 6em;
    text-align: left;
  }
}

.examplelink {
  &:link,
  &:visited {
    color: $mt_color-neutral-darkest;
    text-decoration: none;
  }
}

// Will eventually move this block to links documentation file

.mt_link {
  &:link,
  &:visited {
    border-bottom: 1px solid $mt_color-primary;
    color: $mt_color-neutral-darkest;
    text-decoration: none;
  }

  &:hover {
    border-bottom: 1px solid $mt_color-neutral;
    color: $mt_color-neutral;
  }
}

.codemarkup {
  border: 1px solid $mt_color-neutral-lighter-even;
  display: block;
  padding: 1.5em;
  word-wrap: break-word;
}


// ====================
// Page Wrapper
// ====================

.pagewrapper {
  @media #{$mt_mq-lg} {
    margin: 0 auto;
    max-width: 70em;
    padding: 0;
  }
}


// ====================
// Page Divider
// ====================

.divider {
  border-bottom: 1px solid $mt_color-neutral-lighter-even;
  border-top: 1px solid $mt_color-neutral-lighter-even;
  height: 1em;
}


// ====================
// ====================
// Color page
// ====================
// ====================


// ====================
// Illustrated Examples Block
// ====================

.illustratedexamples {
  // Remove this declaration block once we have responsive classnames for .col-offset
  @media #{$mt_mq-lg} {
    margin-left: 8em;
  }
}

.illustratedexamples-item {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 1.59em;
  max-width: 9em;
  text-align: center;
  border: 0;

  @media #{$mt_mq-lg} {
    margin-right: 1em;
  }

  svg {
    border: 1px solid $mt_color-neutral-lighter-even;
    border-radius: 50%;
    height: 9em;
    padding: 1em;
    width: 9em;
  }
}

.circle {
  border: 1px solid $mt_color-neutral-lighter-even;
  border-radius: 50%;
  height: 9em;
  width: 9em;

  @media #{$mt_mq-lg} {
    height: 8em;
    width: 8em;
  }
}


// ====================
// ====================
// Typography page
// ====================
// ====================

.typographyexamples {
  // Remove this declaration block once we have responsive classnames for .col-offset
  @media #{$mt_mq-lg} {
    margin-left: 8em;
  }
}

.typographyexamples-item {
  border: 1px solid $mt_color-neutral-lighter-even;
  padding: 1em;
}

.examplepadding {
  padding: 2em;
}

// ====================
// Footer / Copyright
// ====================

.footer {
  padding: 2.5em;
}

.copyright {
  @media #{$mt_mq-lg} {
    margin-bottom: 0;
  }
}

// ====================
// Fieldset
// ====================

.fieldset {
  border: none;
}


// ====================
// ====================
// Typography page
// ====================
// ====================

.photocaption {
  margin-bottom: .4em;
}
