@import "breakpoint";
@import "singularitygs";

@import "../../src/sass/global/variables/*";
@import "../../src/sass/global/functions/*";
@import "../../src/sass/global/mixins/*";
@import "../../src/sass/global/extends/*";

// MQ Variables

$bp-med: 30em;
$bp-mlrg: 50em;
$bp-lrg: 70em;
$bp-xlrg: 90em;
$bp-xxlrg: 110em;

// Layout Variables

$center-column-width-sm: 85%;

@include add-grid(4);

// Theme Variables

$border-default: 2px solid $color-lowlight;

// Font

@import "compass/css3/font-face";

@include font-face("icongs",
  font-files(
    "icongs_4176808f3eae2f9b12b92233f91f7ba2.woff",
    "icongs_4176808f3eae2f9b12b92233f91f7ba2.ttf",
    "icongs_4176808f3eae2f9b12b92233f91f7ba2.svg"
  ),
  "icongs_4176808f3eae2f9b12b92233f91f7ba2.eot",
  normal
);

.layout_colorsample {
    @for $i from 1 to 10 {
        @media screen and (min-width: $i * 15em) {
            width: percentage(1 / $i);
        }
    }
}

.colorsample {
    @include e( sample ) {
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        border: solid 1px $color-inverse;
    }

    @include e( container ) {
        padding: .5em;
    }
}

header {
    margin-bottom: $padding-default;
}

header > hgroup,
header > nav,
footer {
    padding-left: (100 - $center-column-width-sm) / 2;
    padding-right: (100 - $center-column-width-sm) / 2;
}

header > hgroup {
    padding-bottom: $padding-half;
}

header > nav {
    padding-top: $padding-quarter;
    padding-bottom: $padding-quarter;
}

footer {
    padding-top: $padding-half;
    padding-bottom: $padding-half;
}

.container {
    @include background-grid;
    margin-left: auto;
    margin-right: auto;
    width: $center-column-width-sm;
    margin-bottom: $padding-double;
}

.field-container {
    margin-bottom: $padding-default;
}

.navitem {
    margin-right: $padding-default;
    padding-top: $padding-quarter;
    padding-bottom: $padding-quarter;

    &:last-child {
        margin-right: 0;
    }
}

.subnav {
    border: $border-default;
    padding: $padding-quarter $padding-default 0 0;
    margin-bottom: $padding-default;

    @include breakpoint( $bp-mlrg ) {
        @include grid-span(1, 1);
    }
}

main {
    > h1 {
        @include margin-leader( 4, $ms-xxxlrg );
        @include margin-trailer( 1, $ms-xxxlrg );

        + h1 {
            margin-bottom: 0;
        }

        &:first-of-type {
            margin-top: 0;
        }
    }

    > h2 {
        @include margin-leader( 2, $ms-xxxlrg );
        @include margin-trailer( 1, $ms-xxxlrg );
    }

    @include breakpoint( $bp-mlrg ) {
        @include grid-span(3, 2);
    }
}

// Code Blocks

.codeExample {
    // border-radius: $ms-norm;
    // overflow: hidden;
    border: $border-default;
}

.exampleOutput {
    padding: $padding-half $padding-default;
}

.codeBlock {
    background-color: white;
    padding: $padding-half $padding-default;
    border-top: $border-default;

    pre {
        margin: 0;
    }
}
