@import "../../src/styles/global/variables/colors";
@import "../../src/styles/global/variables/mqs";
@import "../../src/styles/global/variables/theme";
@import "../../src/styles/global/variables/typography";
@import "../../src/styles/global/variables/z-index";

@import "../../src/styles/global/functions/yiq";

@import "../../src/styles/global/extends/inputs";
@import "../../src/styles/global/extends/typography";

// Layout Variables

$center-column-width-sm: 85%;

// Font

@font-face {
  font-family: 'icongs';
  src: url('../bower_components/icongs/fonts/icongs_a5b67007ff5a80787e9ee410b47e8038.eot'); /* IE9 Compat Modes */
  src: url('../bower_components/icongs/fonts/icongs_a5b67007ff5a80787e9ee410b47e8038.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../bower_components/icongs/fonts/icongs_a5b67007ff5a80787e9ee410b47e8038.woff') format('woff'), /* Modern Browsers */
       url('../bower_components/icongs/fonts/icongs_a5b67007ff5a80787e9ee410b47e8038.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../bower_components/icongs/fonts/icongs_a5b67007ff5a80787e9ee410b47e8038.svg#svgFontName') format('svg'); /* Legacy iOS */
}

.layout_colorsample {
    @for $i from 1 to 10 {
        @media screen and (min-width: $i * 15em) {
            width: percentage(1 / $i);
        }
    }
}

.colorsample {
    &-sample {
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        border: solid 1px $mt_color-inverse;
    }

    &-container {
        padding: .5em;
    }
}

header {
    margin-bottom: $mt_padding-default;
}

header > hgroup,
header > nav,
footer {
    padding-left: (100 - $center-column-width-sm) / 2;
    padding-right: (100 - $center-column-width-sm) / 2;
}

header > hgroup {
    padding-bottom: $mt_padding-half;
}

header > nav {
    padding-top: $mt_padding-quarter;
    padding-bottom: $mt_padding-quarter;
}

footer {
    padding-top: $mt_padding-half;
    padding-bottom: $mt_padding-half;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: $center-column-width-sm;
    margin-bottom: $mt_padding-double;
}

.field-container {
    margin-bottom: $mt_padding-default;
}

.navitem {
    margin-right: $mt_padding-default;
    padding-top: $mt_padding-quarter;
    padding-bottom: $mt_padding-quarter;

    &:last-child {
        margin-right: 0;
    }
}

.subnav {
    margin-bottom: $mt_padding-default;

    ul {
        margin: $mt_padding-quarter $mt_padding-default $mt_padding-half 0;
    }
}

main {
    > h1 {
        @include margin-leader( 4, $mt_ms-xxxlrg );
        @include margin-trailer( 1, $mt_ms-xxxlrg );

        + h1 {
            margin-bottom: 0;
        }

        &:first-of-type {
            margin-top: 0;
        }
    }

    > h2 {
        @include margin-leader( 2, $mt_ms-xxxlrg );
        @include margin-trailer( 1, $mt_ms-xxxlrg );
    }
}

// Code Blocks

.codeExample {
    border: $mt_border-default;
    margin-bottom: $mt_unit;
}

.exampleOutput {
    padding: $mt_padding-half $mt_padding-default;
}

.codeBlock {
    background-color: white;
    border-top: $mt_border-default;
    max-height: 20em;
    padding: $mt_padding-half $mt_padding-default;
    overflow: auto;

    pre {
        margin: 0;
        overflow: visible;
    }
}
