/*Channel Branding - Channel Mapping*/
.mt3_channelbranding {
  $ratio: 1.5;

  &--default,
  &--inverse {
    position: relative;
  }

  &--rect {
    $thisWidth: 30%;
    background: $mt3_color-black;
    height: 0;
    opacity: .3;
    padding-bottom: $thisWidth / $ratio;
    position: absolute;
    width: $thisWidth;
    z-index: zIndex('channel-branding-middle');

    .mt3_channelbranding--inverse & {
      background: $mt3_color-white;
    }

    .mt3_channelbranding--nobranding & {
      display: none;
    }
  }

  &--topleft {
    left: 0;
    top: 0;

    .mt3_channelbranding--inverse & {
      opacity: .15;
    }
  }

  &--bottomright {
    $thisWidth: 40%;
    bottom: 0;
    opacity: .4;
    padding-bottom: $thisWidth / $ratio;
    right: 0;
    width: $thisWidth;

    .mt3_channelbranding--inverse & {
      opacity: .2;
    }
  }
}
