$mq-sm: "screen and (min-width: 30em)";
$mq-md: "screen and (min-width: 50em)";
$mq-lg: "screen and (min-width: 70em)";

// Example Use
// ===========
//
// mq variables will need to be interpolated like so:
//
// @media #{$mq-sm} {
//     div {
//         color: red;
//     }
// }


$layout-bps: (
  sm: $mq-sm,
  md: $mq-md,
  lg: $mq-lg
);
