// Color Variables
// ===============
//
// These should not be referenced outside of this partial

$medium-blue:   hsl(233, 39%, 26%);
$bright-blue:   hsl(236, 81%, 61%);
$medium-grey:   hsl(0, 0%, 60%);
$light-grey:    hsl(0, 0%, 90%);
$off-white:     hsl(0, 0%, 97%);
$brand-gold:    hsl(48, 100%, 50%);
$red:           darken(#f00, 10);

// Semantic Variables
// ==================
//
// These variables are for use throughout the project

$mt_color-basic:           white;
$mt_color-basic-alt:       $off-white;
$mt_color-inverse:         black;
$mt_color-primary:         $medium-blue;
$mt_color-highlight:       $brand-gold;
$mt_color-lowlight:        $light-grey;
$mt_color-danger:          $red;
$mt_color-text:            black;
$mt_color-text-inverse:    $off-white;
$mt_color-link:            $bright-blue;
$mt_color-link-inverse:    lighten($bright-blue, 10);
$mt_color-beta:            $medium-grey;
$mt_color-image-mask:      transparentize(black, .2);
