// scss-lint:disable ColorVariable ColorKeyword

// Color Variables
// ===============
//
// These should not be referenced outside of this partial

$medium-blue:   hsl(233, 39%, 26%);
$bright-blue:   hsl(236, 81%, 61%);
$dark-grey:     hsl(0, 0%, 40%);
$medium-grey:   hsl(0, 0%, 60%);
$light-grey:    hsl(0, 0%, 88%);
$off-white:     hsl(0, 0%, 95%);
$brand-gold:    hsl(48, 100%, 50%);
$facebook-blue: hsl(220, 60%, 59%);
$red:           hsl(0,  100%, 82%);
$light-red:     hsl(0,    8%, 95%);
$green:         hsl(98,  93%, 70%);
$light-green:   hsl(112,  6%, 97%);


// Semantic Variables
// ==================
//
// These variables are for use throughout the project

$mt_color-basic:           white;
$mt_color-basic-alt:       $off-white;
$mt_color-inverse:         black;
$mt_color-primary:         $medium-blue;
$mt_color-highlight:       $brand-gold;
$mt_color-lowlight:        $light-grey;
$mt_color-danger:          $red;
$mt_color-success:         $green;
$mt_color-text:            black;
$mt_color-text-inverse:    $off-white;
$mt_color-link:            $bright-blue;
$mt_color-link-inverse:    lighten($bright-blue, 10);
$mt_color-beta:            $medium-grey;
$mt_color-image-mask:      transparentize(black, .2);
$mt_color-facebook:        $facebook-blue;
