$mt3_small: 768px;
$mt3_medium: 1024px;
$mt3_large: 1280px;


.broadsheet {
  position: relative;
  padding: 30px 60px;
  text-align: center;

  // Natgeo banner cetered in gold border
  > a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.1em;
    top: -14px;
    position: relative;
  }

  .mt3_broadsheet-leadMedia-header {
    position: relative;
    z-index: 1;
    top: auto;
    left: auto;
    margin-top: 50px;
  }

  .mt3_broadsheet-leadMedia-issue-date {
    color: white;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.05em;
    line-height: 1.15;
    text-transform: uppercase;
    font-weight: 100;
    margin-top: 50px;
    padding: 0 2rem;
    border-left: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.5);
  }

  .mt3_broadsheet-leadMedia-title {
    font-size: 26px;
    font-weight: 600;
    line-height: 1.15;
    text-transform: none;
    margin: 0px 20% 30px;
    padding: 0;
    display: block;
    h1 {
      font-size: 1.8rem;
      letter-spacing: 0.05em;
      margin: 12px 0;
    }
    p {
      margin: 6px 0;
      line-height: 0;
    }

  }

  .mt3_broadsheet-leadMedia-image {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  .mt3_broadsheet-leadMedia-image-overlay {
    padding-bottom:56.49717514124294%;
  }

  .mt3_broadsheet-leadMedia-by-label,
  .mt3_broadsheet-leadMedia-photograph-label {
    font-size: 0.7rem;
    font-weight: 500;
    font-style: italic;
    color: #CCCCCC;
  }

  .mt3_broadsheet-leadMedia-by,
  .mt3_broadsheet-leadMedia-photograph {
    font-size: 0.7rem;
    font-weight: 500;
    color: #FFFFFF;
  }

  .mt3_article {
    text-align: left;
    padding-left: 104px;
    padding-top: 60px;
  }

  .mt3_broadsheet-col-right {
    right: -60px;
    position: relative;
    background: #f2f2f2;
    background-image:
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><line x1='50%' y1='0' x2='50%' y2='100%' stroke-width='0.5' stroke='#999999'/></svg>");
    padding: 0;
    margin: 0 0 10px;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        text-align: center;
        background: #f2f2f2;
        padding: 14px;
        margin: 20px auto 0;
      }
    }

    // remove the centered vertical rule from the right cols last entry
    &:after {
      content: "";
      background: #f2f2f2;
      clear: both;
      float: left;
      width: 100%;
      height: 30px;
    }
  }

  .mt3_broadsheet-story-also-in {
    background: #f2f2f2;
    padding: 12px;
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    line-height: 1.6;
    margin: 30px 0;

  }

  .mt3_broadsheet-story-title {
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.05em;
    line-height: 1.15;
    margin: 0 0 0.2rem 0;
  }

  .mt3_broadsheet-story-dek {
    font-family: Georgia, serif;
    font-size: 0.9rem;
    font-weight: normal;
    line-height: 1.6875;
    margin: 0;
  }

  .mt3_broadsheet-cover-heading {
    background: #000000;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 1rem;
    &> p {
      font-size: .7rem;
      padding: 1rem;
      margin: 0;
    }
  }

  .mt3_broadsheet-subscribe-label {
    font-weight: 600;
    letter-spacing: 0.1em;
    line-height: 1.6;
  }

  section {
      position: relative;
      background-color: #FFF;
      figure {
        margin: 0;
      }
  }


  //specific height rules to match the exact height of the expected text
  &__title {
      @media (min-width: $mt3_small) {
        height: 47px;
      }
      @media (min-width: $mt3_medium) {
        height: 64px;
      }
      @media (min-width: $mt3_large) {
        height: 93px;
      }
  }

  // &__hero {
  //   margin: 0 auto;
  //   max-width: 1600px;
  //
  //   //specific override - modify promo's margins for a "hero" promos
  //   .mt3_promocard-container {
  //     .mt3_promocard-pad {
  //       padding-left: 30px;
  //     }
  //     @media(min-width: $mt3_small) {
  //       margin-bottom: 0;
  //       figure {
  //         margin-bottom: 0;
  //       }
  //
  //       .mt3_promocard-pad {
  //         padding-left: 0px;
  //       }
  //     }
  //   }
  // }
}
