---
title: Color
---


<div class="pagewrapper mt3_row mt3_col-gut sectionpadding">
  <div class="mt3_col-lg-10 mt3_row-gut-2">
    <h1 class="mt3_h1"> Color Palette </h1>
    <p class="mt3_subh1">
      National Geographic&apos;s visual brand is driven by stunning photography. Color should be used sparingly to indicate special importance, calls to action, or branding.
    </p>
  </div>
</div>

<div class="mt3_bgcolor--gray5 mt3_row-gut-4 divider">&nbsp;</div>

{% include "src/styles/theme/colordoc.html" %}
<div class="mt3_bgcolor--gray5 mt3_row-gut-4 divider">&nbsp;</div>
{% include "src/styles/theme/primary.html" %}
{% include "src/styles/theme/neutrals.html" %}
{% include "src/styles/theme/miscellaneous.html" %}
{% include "src/styles/theme/socialbrands.html" %}
