---
title: Color
---


<div class="pagewrapper mt3_row mt3_col-gut sectionpadding">
  <div class="mt3_col-lg-10 mt3_row-gut-2">
    <h1 class="mt3_heading--h1--2"> Color Palette </h1>
    <p class="mt3_page-description">
      National Geographic&apos;s visual brand is driven by stunning photography. Color should be used sparingly to indicate special importance, calls to action, or branding.
    </p>
  </div>
</div>


<div class="pagewrapper mt3_col-gut">
  <div id="secondaryNav" class="secondary-nav-sticky"></div>

  <a class="anchor-link" name="colordoc"></a>
  {% include "src/styles/theme/colordoc.html" %}
  <div class="mt3_bgcolor--gray5 mt3_col-lg-offset-3 mt3_row-gut-4 divider">&nbsp;</div>

  <a class="anchor-link" name="primary"></a>
  {% include "src/styles/theme/primary.html" %}

  <a class="anchor-link" name="neutrals"></a>
  {% include "src/styles/theme/neutrals.html" %}

  <a class="anchor-link" name="miscellaneous"></a>
  {% include "src/styles/theme/miscellaneous.html" %}

  <a class="anchor-link" name="socialbrands"></a>
  {% include "src/styles/theme/socialbrands.html" %}
</div>

<script>

</script>
