.mt_slider-container {
  img { // this probably needs to go away once the component exists
    height: auto;
    width: 100%;
  }
}

%mt_slider-button {
  background-color: $mt_color-neutral-xd;
  border: none;
  color: $mt_color-neutral-xxxl;
  height: $mt-unit * 2.5;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(1.0, 1.0);
  width: $mt-unit * 2.5;

  .mt_slider-container--large & {
    height: $mt-unit * 5;
    width: $mt-unit * 5;

    .mt_icon {
      height: $mt-unit * 2.5;
      width: $mt-unit * 2.5;
    }
  }
}

.mt_slider-button--next {
  @extend %mt_slider-button;

  right: 0;
}

.mt_slider-button--prev {
  @extend %mt_slider-button;

  left: 0;
}
