.mt_slider-container {
  z-index: $mt_z-middle;

  img { // this probably needs to go away once the component exists
    height: auto;
    width: 100%;
  }
}

%mt_slider-button {
  background-color: $mt_color-neutral-xxd;
  border: none;
  color: $mt_color-neutral-xxxl;
  cursor: pointer;
  opacity: 0.65;
  padding: 1em 0.5em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(1.0, 1.0);
  z-index: $mt_z-top;
}

.mt_slider-button--next {
  @extend %mt_slider-button;

  right: 0;
}

.mt_slider-button--prev {
  @extend %mt_slider-button;

  left: 0;
}
