/*doc
---
title: Backgrounds
name: backgrounds
category: Theme
---

<div class="backgroundbasic border--default paddingdefault margininlinebottom"><code>.backgroundbasic</code></div>
<div class="backgroundinverse textinverse border--default paddingdefault margininlinebottom"><code>.backgroundinverse</code></div>
<div class="backgroundhighlight border--default paddingdefault margininlinebottom"><code>.backgroundhighlight</code></div>
<div class="backgroundlowlight border--inverse paddingdefault"><code>.backgroundlowlight</code></div>

*/

$backgrounds: (
    basic: $color-basic,
    inverse: $color-inverse,
    highlight: $color-highlight,
    lowlight: $color-lowlight
);

@each $background, $color in $backgrounds {
    .background#{$background} {
        background-color: $color;
    }
}
