/*doc
---
title: Outlines
name: outlines
category: Theme
---

```html_example
<div class="background--basic border--default paddingdefault margininlinebottom">Default border</div>
<div class="background--basic border--inverse paddingdefault">Inverse border</div>
```
*/

.border--default {
    border: $border-default;
}

.border--inverse {
    border: $border-inverse;
}
