@import "compass/typography/vertical_rhythm";

/*doc
---
title: Fonts
name: fonts
category: Typography
---

Primary font: "utopia-std", Georgia, Times, "Times New Roman", serif

<em>Primary font italic: "utopia-std", Georgia, Times, "Times New Roman", serif</em>

<strong>Primary font bold: "utopia-std", Georgia, Times, "Times New Roman", serif</strong>

<strong><em>Primary font bold italic: "utopia-std", Georgia, Times, "Times New Roman", serif</em></strong>

<p class="subh5">Secondary font: "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L", sans-serif</p>

<p class="subh5"><strong>Secondary font bold: "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L", sans-serif</strong></p>

*/

%font-antialiased {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

%font-default {
    font-family: $font-default;
}

%font-default-strong {
    font-family: $font-default;
    font-weight: 600;
}

%font-default-em {
    font-family: $font-default;
    font-style: italic;
}

%font-default-strong-em {
    font-family: $font-default;
    font-style: italic;
    font-weight: 600;
}

%font-alternate {
    font-family: $font-alternate;
}

%font-alternate-strong {
    font-family: $font-alternate;
    font-weight: 700;
}

// Font sizes

$font-sizes: (
    font-size-xsm: (
        $ms-smscr-xsm,
        $ms-xsm
    ),
    font-size-sm: (
        $ms-smscr-sm,
        $ms-sm
    ),
    font-size-norm: (
        $ms-smscr-norm,
        $ms-norm
    ),
    font-size-med: (
        $ms-smscr-med,
        $ms-med
    ),
    font-size-lrg: (
        $ms-smscr-lrg,
        $ms-lrg
    ),
    font-size-xxlrg: (
        $ms-smscr-xxlrg,
        $ms-xxlrg
    ),
    font-size-xxxlrg: (
        $ms-smscr-xxxlrg,
        $ms-xxxlrg
    )
);

@each $font-size, $ms-size in $font-sizes {
    %#{$font-size} {
        @include adjust-font-size-to( nth($ms-size, 1) );

        @media screen and (min-width:40em) {
            @include adjust-font-size-to( nth($ms-size, 2) );
        }
    }
}
