@import "../../../../bower_components/vertical-rhythms-without-compass/vertical-rhythms";

/*doc
---
title: Fonts
name: fonts
category: Typography
---

Primary font: "utopia-std", Georgia, Times, "Times New Roman", serif

<em>Primary font italic: "utopia-std", Georgia, Times, "Times New Roman", serif</em>

<strong>Primary font bold: "utopia-std", Georgia, Times, "Times New Roman", serif</strong>

<strong><em>Primary font bold italic: "utopia-std", Georgia, Times, "Times New Roman", serif</em></strong>

<p class="subh5">Secondary font: "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L", sans-serif</p>

<p class="subh5"><strong>Secondary font bold: "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L", sans-serif</strong></p>

*/

%font-antialiased {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

%font-default {
    font-family: $mt_font-default;
}

%font-default-strong {
    font-family: $mt_font-default;
    font-weight: 600;
}

%font-default-em {
    font-family: $mt_font-default;
    font-style: italic;
}

%font-default-strong-em {
    font-family: $mt_font-default;
    font-style: italic;
    font-weight: 600;
}

%font-alternate {
    font-family: $mt_font-alternate;
}

%font-alternate-strong {
    font-family: $mt_font-alternate;
    font-weight: 700;
}

// Font sizes

$mt_font-sizes: (
    font-size-xsm: ( // Font size
        $mt_ms-smscr-xsm, // Small screen modular scale size
        $mt_ms-xsm // Default modular scale size
    ),
    font-size-sm: (
        $mt_ms-smscr-sm,
        $mt_ms-sm
    ),
    font-size-norm: (
        $mt_ms-smscr-norm,
        $mt_ms-norm
    ),
    font-size-med: (
        $mt_ms-smscr-med,
        $mt_ms-med
    ),
    font-size-lrg: (
        $mt_ms-smscr-lrg,
        $mt_ms-lrg
    ),
    font-size-xxlrg: (
        $mt_ms-smscr-xxlrg,
        $mt_ms-xxlrg
    ),
    font-size-xxxlrg: (
        $mt_ms-smscr-xxxlrg,
        $mt_ms-xxxlrg
    )
);


// Loop through font-sizes
@each $mt_font-size, $mt_ms-size in $mt_font-sizes {
    %#{$mt_font-size} {
        @include adjust-font-size-to( nth($mt_ms-size, 1) );

        @media screen and (min-width:40em) {
            @include adjust-font-size-to( nth($mt_ms-size, 2) );
        }
    }
}
