//Override for user-agent defaults link button text/icon
a.mt_btn {
  color: inherit;
  text-decoration: none;
  &-naked--reversed,
  &-naked--inactive {
    color: white;
  }
}

.mt_btn {
  min-height: 55px;
}

//Center icon and text within button, or center link if no icon
.mt_iconandlabel--horizontal,
.mt_iconandlabel--vertical {
  height: auto;
  left: 50%;
  position: absolute;
  top: 44%;
  transform: translate(-50%,-50%);
  width: auto;
}

