@import '../../styles/themes/default/vars/mqs';
@import '../../styles/themes/default/vars/colors';
@import '../../styles/themes/default/vars/typography';
@import '../../styles/global/vars/theme';
@import '../../styles/global/vars/z';


// ====================
// ====================
// Reset
// ====================
// ====================


body {
  margin: 0;
}

table {
  border-collapse: collapse;
}


td, th {
  border: 1px solid $mt_color-neutral-xl;
  padding: .5rem;
  text-align: left;
}


// ====================
// ====================
// Homepage
// ====================
// ====================


.intro-txt {
  text-align: center;

  @media #{$mt_mq-lg} {
    text-align: left;
  }
}

.examplelink {
  &:link,
  &:visited {
    color: $mt_color-neutral-xxd;
    text-decoration: none;
  }
}

.codemarkup {
  border: 1px solid $mt_color-neutral-xl;
  display: block;
  padding: 1.5em;
  word-wrap: break-word;
}


// ====================
// Page Wrapper
// ====================

.pagewrapper {
  position: relative;

  @media #{$mt_mq-lg} {
    margin: auto;
    max-width: 70em;
  }
}


// ====================
// Page Divider
// ====================

.divider {
  border-bottom: 1px solid $mt_color-neutral-xl;
  border-top: 1px solid $mt_color-neutral-xl;
  height: 1em;
}


// ====================
// ====================
// Color page
// ====================
// ====================


// ====================
// Color Examples Block
// ====================

.colorexamplepadding {
  padding: .625rem;
}

hr {
  background: $mt_color-neutral-xl;
  border: 0;
  display: block;
  height: 1px;
  margin: 2.5rem 0 2.5rem 0;
}

// ====================
// Illustrated Examples Block
// ====================

.illustratedexamples-container {
  margin: 0;
  padding: 0;
}

.illustratedexamples-item {
  text-align: center;
  list-style-type: none;
  min-height: 215px;
}

.circle {
  border: 1px solid $mt_color-neutral-xl;
  border-radius: 50%;
}


// ====================
// ====================
// Typography page
// ====================
// ====================

.typographyexamples-item {
  border: 1px solid $mt_color-neutral-xl;
  padding: 1em;
}

.examplepadding {
  padding: 2em;
}


// ====================
// Footer / Copyright
// ====================

.footer {
  padding-bottom: 2.5em;
  padding-top: 2.5em;
}

.copyright {
  @media #{$mt_mq-lg} {
    margin-bottom: 0;
  }
}


// ====================
// Fieldset
// ====================

.fieldset {
  border: none;
}

.photocaption {
  margin-bottom: .4em;
}

.iconexample-container {
  border: 1px solid $mt_color-neutral-xl;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
}

.iconexample-icon {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}


// ====================
// ====================
// Layout page
// ====================
// ====================

.sectionpadding {
  padding-top: 1rem;

  @media #{$mt_mq-lg} {
    padding-top: 3rem;
  }
}

.gridexample {
  overflow: hidden;
  position: relative;
}

.gridexample-container {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -5;
}

.gridexample-item {
  height: 1000vh;
}

.dashed-border {
  background-image: linear-gradient(to bottom, $mt_color-primary 50%, transparent 0);
  background-repeat: repeat-y;
  background-size: .09375em 1.125em;
}

.exampleborder {
  border: 2px solid $mt_color-neutral-xxd;
}


// ====================
// ====================
// Site Header
// ====================
// ====================

.headerwrapper {
  background: $mt_color-neutral-xxxl;
  border-bottom: 1px solid $mt_color-neutral-xl;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $mt_z-top;
}

.header {
  height: 3.75rem;
  position: relative;
}

.branding {
  margin-top: 0.83125rem;
}

.site-logo {
  padding-right: .5rem;
  text-decoration: none;
}

.navbutton {
  background: transparent;
  border: 0;
  cursor: pointer;
  vertical-align: bottom;

  @media #{$mt_mq-lg} {
    cursor: default;
  }
}

.navicon {
  transition: 400ms;
  vertical-align: middle;

  @media #{$mt_mq-lg} {
    display: none;
  }

  &--flipped {
    transform: rotate(180deg);
  }
}

.navcontainer {
  display: none;

  @media #{$mt_mq-lg} {
    display: block;
  }

  &--active {
    background-color: $mt_color-neutral-xxxl;
    border: 1px solid $mt_color-neutral-xl;
    border-bottom: 6px solid $mt_color-primary;
    display: block;
    margin-left: 5rem;
    position: absolute;
    top: 100%;
    transition: 400ms;
    width: 200px;
    z-index: 1;

    @media #{$mt_mq-lg} {
      border: 0;
      margin-left: 0;
      position: static;
      width: initial;
    }
  }
}

.branding-grey-border {
  background-color: $mt_color-neutral-xl;
  display: inline-block;
  height: 2rem;
  width: .0625rem;
}

.navcontainer-yellow-border {
  background-color: $mt_color-primary;
  display: block;
  height: 0.375rem;
  position: absolute;
  top: -3%;
  width: 9.5rem;

  @media #{$mt_mq-lg} {
    display: none;
  }
}

.nav-item {
  display: block;
  font-size: 1rem;

  @media #{$mt_mq-lg} {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 1.675em;
  }
}

.nav-link {
  &,
  &:link,
  &:visited {
    color: $mt_color-neutral-xd;
    text-decoration: none;
  }

  &:hover {
    color: $mt_color-neutral;
    text-decoration: underline;
  }
}


// ====================
// ====================
// Components page
// ====================
// ====================

.illustratedexample-border {
  border: 1px solid $mt_color-neutral-xl;
}


// ====================
// ====================
// UI patterns page
// ====================
// ====================

.nomargin {
  margin: 0;
}

.pattern-examplepadding {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.counter-example {
  height: 12rem;
}

.iconlabelexample {
  min-height: 3em;
}


// ====================
// ====================
// Code snippets
// ====================
// ====================

pre {
  &.codesnippet,
  &.codesnippet[class*="language-"] {
    background-color: $mt_color-neutral-xd;
    border: 1px solid $mt_color-neutral-xl;
    border-radius: 0;
    padding-bottom: -1em;

    code {
      margin: 0;
      font-size: .9375rem;
    }
  }
}

code {
  font-size: 14px;
}
