.mt2_relatedcontent-heading {
  border-bottom: 1px solid $mt2_color-neutral-xl;
  padding: 1.5rem 1rem;
}

.mt2_relatedcontent-item {
  list-style: none;

  &:not(:last-of-type) {
    border-bottom: 1px solid $mt2_color-neutral-xl;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }
}

%mt2_relatedcontent-link {
  &,
  &:link,
  &:visited {
    color: $mt2_color-neutral-xd;
    text-decoration: none;
  }

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }
}

.mt2_relatedcontent-link {
  @extend %mt2_relatedcontent-link;
}
