<div class="mt2_row pagewrapper">
  <div class="mt2_col-lg-3 mt2_col-sm-12 mt2_col-gut-sm mt2_col-md-gut-md mt2_col-lg-gut-lg">
    <h3 class="mt2_h3">Photo Captions and Credits </h3>

    <p class="mt2_subh4">
      It is standard practice to include photo credits for any image used on National Geographic&apos;s website. Credits are not necessary when
      an image acts as a promo link to a page that includes that image with its credit.
    </p>
  </div>

  <div class="mt2_col-lg-8 mt2_col-sm-12 mt2_col-lg-offset-1 mt2_col-gut-sm mt2_col-md-gut-md mt2_col-lg-gut-lg mt2_row-gut-2">
    <figure class="nomargin">
      <div class="mt2_intratio--photo mt2_bgcolor--neutral--xxl illustratedexample-border">&nbsp;</div>

      <figcaption>
        <p class="mt2_color--neutral--xd mt2_row-gut-half">
          <span class="mt2_h5">Photo Title</span> <span class="mt2_subh4">This is a photo caption. This is a photo caption. This is a photo caption. This is a photo caption. This is a photo caption. This is a photo caption. This is a photo caption.</span>
        </p>

        <span class="mt2_subh3 mt2_color--neutral--l">Photograph by Name Here<br /> Source: goes here</span>
      </figcaption>
    </figure>

    <div class="codesnippet-wrapper">
<pre class="codesnippet"><code class="language-markup">&lt;figcaption&gt;
  &lt;p class="mt2_color--neutral--xd mt2_row-gut-half"&gt;
    &lt;span class="mt2_h5"&gt;Photo Title&lt;/span&gt;
    &lt;span class="mt2_subh4"&gt;This is a photo caption.&lt;/span&gt;
  &lt;/p&gt;

  &lt;span class="mt2_subh3 mt2_color--neutral--l"&gt;
    Photograph by Name Here&lt;br /&gt;
    Source: goes here
  &lt;/span&gt;
&lt;/figcaption&gt;</code></pre>
    </div>
  </div>
</div>
