<div class="pagewrapper mt_row">
  <div class="mt_col-lg-3 mt_col-sm-12 mt_row mt_col-gut-sm mt_col-md-gut-md mt_col-lg-gut-lg">
    <h3 class="mt_h3">Image Aspect Ratios </h3>

    <p class="mt_subh4">
      Whenever possible, National Geographic photos should be displayed with their original crops. When the layout forces a crop,
      such as in a promo, there are several desired aspect ratios to adhere to.
    </p>
  </div>

  <div class="mt_col-lg-8 mt_col-sm-12 mt_col-lg-offset-1 mt_row-gut-4">
    <div class="mt_col-6 mt_row-gut-3 mt_col-md-3 mt_col-gut-sm mt_col-md-gut-md mt_col-lg-gut-lg">
      <div class="mt_intratio--broadcast mt_bgcolor--neutral--xxl mt_row-gut-1 illustratedexample-border">&nbsp;</div>
      <p class="mt_subh4">Use a <strong>16:9 aspect ratio</strong> for video thumbnails</p>
    </div>
    <div class="mt_col-6 mt_row-gut-3 mt_col-md-3 mt_col-gut-sm mt_col-md-gut-md mt_col-lg-gut-lg">
      <div class="mt_intratio--photo mt_bgcolor--neutral--xxl mt_row-gut-1 illustratedexample-border">&nbsp;</div>
      <p class="mt_subh4">Use a <strong>3:2 aspect ratio</strong> for most photos</p>
    </div>
    <div class=" mt_col-6 mt_row-gut-3 mt_col-md-3 mt_col-gut-sm mt_col-md-gut-md mt_col-lg-gut-lg">
      <div class="mt_intratio--tv mt_bgcolor--neutral--xxl mt_row-gut-1 illustratedexample-border">&nbsp;</div>
      <p class="mt_subh4">Use a <strong>4:3 aspect ratio</strong> for some videos and photos</p>
    </div>
    <div class="mt_col-6 mt_row-gut-3 mt_col-md-3 mt_col-gut-sm mt_col-md-gut-md mt_col-lg-gut-lg">
      <div class="mt_intratio--square mt_bgcolor--neutral--xxl mt_row-gut-1 illustratedexample-border">&nbsp;</div>
      <p class="mt_subh4">Use a <strong>1:1 aspect ratio</strong> for some photos</p>
    </div>

    <div class="mt_row"></div>

    <div class="mt_row mt_row-gut-3 mt_col-6 mt_col-md-3 mt_col-gut-sm mt_col-md-gut-md mt_col-lg-gut-lg">
      <div class="mt_intratio--square mt_round mt_bgcolor--neutral--xxl mt_row-gut-1 illustratedexample-border">&nbsp;</div>
      <p class="mt_subh4">Use a <strong>circle</strong> for profile images and headshots</p>
    </div>

    <div class="mt_row"></div>

<!-- Code snippet -->
<pre class="codesnippet"><code class="language-markup">&lt;div class="mt_intratio--broadcast"&gt;&lt;/div&gt;
&lt;div class="mt_intratio--photo"&gt;&lt;/div&gt;
&lt;div class="mt_intratio--tv"&gt;&lt;/div&gt;
&lt;div class="mt_intratio--square"&gt;&lt;/div&gt;
&lt;div class="mt_intratio--square mt_round"&gt;&lt;/div&gt;</code></pre>

  </div>
</div>
