<div class="pagewrapper mt3_row">
  <div class="mt3_col-lg-3 mt3_col-sm-12 mt3_row mt3_col-gut">
    <h3 class="mt3_h3">Image Aspect Ratios </h3>

    <p class="mt3_subh4">
      Whenever possible, National Geographic photos should be displayed with their original crops. When the layout forces a crop,
      such as in a promo, there are several desired aspect ratios to adhere to.
    </p>
  </div>

  <div class="mt3_col-lg-8 mt3_col-sm-12 mt3_col-lg-offset-1 mt3_row-gut-4">
    <div class="mt3_col-6 mt3_row-gut-3 mt3_col-md-3 mt3_col-gut">
      <div class="mt3_intratio--broadcast mt3_bgcolor--gray5 mt3_row-gut-1 illustratedexample-border">&nbsp;</div>
      <p class="mt3_subh4">Use a <strong>16:9 aspect ratio</strong> for video thumbnails</p>
    </div>
    <div class="mt3_col-6 mt3_row-gut-3 mt3_col-md-3 mt3_col-gut">
      <div class="mt3_intratio--photo mt3_bgcolor--gray5 mt3_row-gut-1 illustratedexample-border">&nbsp;</div>
      <p class="mt3_subh4">Use a <strong>3:2 aspect ratio</strong> for most photos</p>
    </div>
    <div class=" mt3_col-6 mt3_row-gut-3 mt3_col-md-3 mt3_col-gut">
      <div class="mt3_intratio--tv mt3_bgcolor--gray5 mt3_row-gut-1 illustratedexample-border">&nbsp;</div>
      <p class="mt3_subh4">Use a <strong>4:3 aspect ratio</strong> for some videos and photos</p>
    </div>
    <div class="mt3_col-6 mt3_row-gut-3 mt3_col-md-3 mt3_col-gut">
      <div class="mt3_intratio--square mt3_bgcolor--gray5 mt3_row-gut-1 illustratedexample-border">&nbsp;</div>
      <p class="mt3_subh4">Use a <strong>1:1 aspect ratio</strong> for some photos</p>
    </div>

    <div class="mt3_row"></div>

    <div class="mt3_row mt3_row-gut-3 mt3_col-6 mt3_col-md-3 mt3_col-gut">
      <div class="mt3_intratio--circle mt3_bgcolor--gray5 mt3_row-gut-1 illustratedexample-border">&nbsp;</div>
      <p class="mt3_subh4">Use a <strong>circle</strong> for profile images and headshots</p>
    </div>
    <div class="mt3_row mt3_row-gut-3 mt3_col-6 mt3_col-md-3 mt3_col-gut">
      <div class="mt3_intratio--natgeo mt3_bgcolor--gray5 mt3_row-gut-1 illustratedexample-border">&nbsp;</div>
      <p class="mt3_subh4">Use a <strong>1:1.43312101911 aspect ratio</strong> to match branding logo</p>
    </div>

    <div class="mt3_row"></div>

<!-- Code snippet -->
<pre class="codesnippet"><code class="language-markup">&lt;div class="mt3_intratio--broadcast"&gt;&lt;/div&gt;
&lt;div class="mt3_intratio--photo"&gt;&lt;/div&gt;
&lt;div class="mt3_intratio--tv"&gt;&lt;/div&gt;
&lt;div class="mt3_intratio--square"&gt;&lt;/div&gt;
&lt;div class="mt3_intratio--circle"&gt;&lt;/div&gt;
&lt;div class="mt3_intratio--natgeo"&gt;&lt;/div&gt;</code></pre>
  </div>
</div>
