<div class="pagewrapper mt3_row">
  <div class="mt3_col-lg-3 mt3_row mt3_col-gut-sm mt3_col-md-gut-md mt3_col-lg-gut-lg">
    <h3 class="mt3_h3">Related Content List</h3>

    <p class="mt3_subh4">
      This promo component is typically used to link to other pieces of content from an article page. The component will fill the width of its parent container,
      and thus should be placed inside a container div with a fairly narrow width.
    </p>
  </div>

  <div class="mt3_col-lg-8 mt3_col-lg-offset-1 mt3_row-gut-4 mt3_col-gut-sm mt3_col-md-gut-md mt3_col-lg-gut-lg">
    <div class="mt3_relatedcontent mt3_bordercolor--neutral--xl mt3_row-gut-3 ">
      <div class="mt3_bgcolor--neutral--xxl mt3_subh2 mt3_relatedcontent-heading">
        Related Stories
      </div>
      <ul class="mt3_col-gut-lg">
        <li class="mt3_h5 mt3_relatedcontent-item"><a href="" class="mt3_relatedcontent-link">This Is an Article Headline, Around 60 Characters Long</a></li>
        <li class="mt3_h5 mt3_relatedcontent-item"><a href="" class="mt3_relatedcontent-link">This Is an Article Headline, Around 60 Characters Long</a></li>
        <li class="mt3_h5 mt3_relatedcontent-item"><a href="" class="mt3_relatedcontent-link">This Is an Article Headline, Around 60 Characters Long</a></li>
      </ul>
    </div>

<!-- Code snippet -->
    <div class="codesnippet-wrapper">
<pre class="codesnippet"><code class="language-markup">&lt;div class="mt3_relatedcontent mt3_bordercolor--neutral--xl"&gt;
  &lt;div class="mt3_bgcolor--neutral--xxl mt3_subh2 mt3_relatedcontent-heading"&gt;
    Related Stories
  &lt;/div&gt;
  &lt;ul class="mt3_col-gut-lg"&gt;
    &lt;li class="mt3_h5 mt3_relatedcontent-item"&gt;&lt;a href="" class="mt3_relatedcontent-link"&gt;This Is an Article Headline, Around 60 Characters Long&lt;/a&gt;&lt;/li&gt;
    &lt;li class="mt3_h5 mt3_relatedcontent-item"&gt;&lt;a href="" class="mt3_relatedcontent-link"&gt;This Is an Article Headline, Around 60 Characters Long&lt;/a&gt;&lt;/li&gt;
    &lt;li class="mt3_h5 mt3_relatedcontent-item"&gt;&lt;a href="" class="mt3_relatedcontent-link"&gt;This Is an Article Headline, Around 60 Characters Long&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;/div&gt;</code></pre>
    </div>
  </div>
</div>
