.mt3_btn {
  @extend %mt3_h5;

  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0;
  cursor: pointer;
  font-family: $mt3_verlag-stack;
  font-weight: 600;
  letter-spacing: .05em;
  margin-bottom: .675em;
  margin-right: .675em;
  padding: $mt3_unit $mt3_unit-double;
  text-align: center;
  text-transform: uppercase;
  transition: 400ms;

  &--success {
    background-color: $mt3_color-affirmation;
    border: 1px solid $mt3_color-affirmation;
    color: $mt3_color-white;

    &:hover {
      background-color: $mt3_color-affirmation-l;
      border: 1px solid $mt3_color-affirmation-l;
    }
  }

  &--error {
    background-color: $mt3_color-danger;
    border: 1px solid $mt3_color-danger;
    color: $mt3_color-white;

    &:hover {
      background-color: $mt3_color-danger-l;
      border: 1px solid $mt3_color-danger-l;
    }
  }
}

.mt3_btn--default {
  background-color: $mt3_color-primary;

  &:hover {
    background-color: $mt3_color-primary;
    border: 1px solid $mt3_color-primary;
  }

  &--inverse {
    color: $mt3_color-white;
  }

  &--inactive {
    background: $mt3_color-gray-50;
    color: $mt3_color-black;
    cursor: default;
    opacity: .3;
  }
}

.mt3_btn--secondary {
  border: 1px solid $mt3_color-primary;

  &:hover {
    background: $mt3_color-primary;
  }

  &--inverse {
    border: 1px solid $mt3_color-primary;
    color: $mt3_color-white;

    &:hover {
      background: $mt3_color-primary;
      color: $mt3_color-black;
    }
  }

  &--inactive {
    border: 1px solid transparentize($mt3_color-gray-40, .6);
    color: transparentize($mt3_color-gray-40, .6);
    cursor: default;
  }
}

.mt3_btn--naked {
  background: none;

  &:hover {
    background-color: transparent;
    color: $mt3_color-primary;
  }

  &--inverse {
    color: $mt3_color-white;
  }

  &--inactive {
    border: 0;
    color: transparentize($mt3_color-gray-40, .6);
    cursor: default;

    &:hover {
      color: transparentize($mt3_color-gray-40, .6);
    }
  }
}

.mt3_btn-nakedicon {
  height: 10px;
  margin-left: 10px;
  width: 10px;
}
