.mt3_input {
  border: $mt3_border-default;
  font-size: $mt3_fs-xsm;
  opacity: .9;
  padding: $mt3_fs-sm $mt3_unit;
  transition: 400ms;

  &:not(.mt3_textarea) {
    @extend %mt3_verlag;
    font-weight: $mt3_verlag-bold;
  }

  &:focus,
  &:hover {
    border: $mt3_border-default-hover;
    opacity: 1;
    outline: none;
  }

  &[type='text']:disabled,
  &[type='text']:disabled:hover {
    opacity: .4;
  }

  &--error {
    &,
    &:focus,
    &:hover {
      border: $mt3_border-danger;
      box-shadow: 0 0 $mt3_unit-half $mt3_color-danger;
      opacity: 1;
    }

    &:focus {
      box-shadow: none;
    }
  }
}

.mt3_textarea {
  @extend %mt3_haas;
  font-weight: 400;
  min-height: $mt3_unit * 6;

  &::placeholder {
    @extend %mt3_verlag;
    font-weight: $mt3_verlag-bold;
  }
}
