.mt3_select-wrapper {
  position: relative;

  // Dropdown icon
  &::after {
    background-image: $mt3_dropdown-icon;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    height: $mt3_dropdown-height;
    margin-right: .5rem;
    opacity: .3;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 17px;
    width: $mt3_dropdown-width;
  }
}

// Default state
.mt3_select-input {
  @extend %mt3_verlag;
  appearance: none;
  background: $mt3_color-white;
  border: $mt3_border-default;
  border-radius: 0;
  cursor: pointer;
  font-size: $mt3_fs-xsm;
  font-weight: $mt3_verlag-bold;
  padding: $mt3_fs-sm $mt3_fs-med-xlrg $mt3_fs-sm $mt3_fs-sm;
  width: 100%;

  &:focus {
    color: $mt3_color-gray-80;
  }

  &:hover {
    border: $mt3_border-default-hover;
  }

  // Hack for IE 11+
  &::-ms-expand {
    display: none;
  }
}

// Hack for FF
.mt3_select-option {
  color: $mt3_color-gray-80;
}
