$mt3_playlist-desktop-height: 470px;
$mt3_gradient-color: rgba(255, 255, 255, 0);

//Fonts family to applied
$mt3_verlag-font-family: Verlag, 'CenturyGothic', AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
$mt3_haas-font-family: Neue Haas, 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
$mt3_georgia-font-family: Georgia, serif;

//Description colors
$mt3_vp-current-information-bg-color: #555;
$mt3_vp-current-information-desc-color: #999;

.mt3_video-playlist {

  &__flex {
    display: flex;
    flex-direction: column;
  }

  &-container {
    background-color: map-get($mt3_colors, 'neutral--xxd');
  }

  &__main-head {
    @include respond-to(l) {
      padding-left: 90px;
    }

    @include respond-to(m) {
      padding-left: 60px;
    }

    @include respond-to(s) {
      padding-left: 30px;
    }

    color: map-get($mt3_colors, 'neutral--xxxl');
    padding-left: 100px;
  }

  &--heading {
    margin-bottom: 40px;
    margin-left: 60px;

    &--border {
      border-left: 1px solid map-get($mt3_colors, 'primary');
    }

    &__title {
      font-family: $mt3_verlag-font-family;
      font-size: 26px;
      font-weight: 400;
      letter-spacing: .05em;
      line-height: 1.05;
      padding-left: 40px;
      padding-top: 40px;
      text-transform: uppercase;
      word-spacing: .05em;
    }

    @include respond-to(l) {
      margin-bottom: 30px;
      margin-left: 40px;
    }

    @include respond-to(m) {
      margin-left: 40px;
    }

    @include respond-to(s) {
      margin-left: 30px;
    }
  }

  &--current-information {
    background: $mt3_vp-current-information-bg-color;
    color: map-get($mt3_colors, 'neutral--xxxl');
    margin-left: 100px;
    padding: 40px 80px 0 60px;

    &__description {
      color: $mt3_vp-current-information-desc-color;
      font-family: $mt3_georgia-font-family;
      font-size: 15px;
      font-weight: normal;
      line-height: 1.8666667;
      margin: 0;

      * {
        margin: 0;
      }

      .mt3_show-more-link {
        border-bottom: 0;
        color: map-get($mt3_colors, 'neutral--l');
        cursor: pointer;
        padding-left: 0;
        text-decoration: none;
        white-space: nowrap;

        &:hover,
        &:focus,
        &:active {
          border-bottom: 0;
          color: map-get($mt3_colors, 'neutral--l');
        }
      }

    }

    &__title {
      @include respond-to(xl) {
        font-size: 42px;
      }

      @include respond-to(l) {
        font-size: 34px;
      }

      @include respond-to(m) {
        margin-bottom: 0;
      }

      @include respond-to(s) {
        margin-bottom: 0;
      }

      font-family: $mt3_haas-font-family;
      font-size: 24px;
      font-weight: 600;
      letter-spacing: .05em;
      line-height: 1.1;
      margin-bottom: 30px;
      margin-top: 10px;
    }

    .mt3_caption-container--indent--gray {
      @include respond-to(l) {
        padding-bottom: 30px;
      }

      @include respond-to-multiple(m, s) {
        display: none;
      }

      border-left: 1px solid map-get($mt3_colors, 'neutral');
      padding-bottom: 40px;
    }

    @include respond-to(l) {
      margin-left: 90px;
      padding-left: 40px;
    }

    @include respond-to(m) {
      background-color: map-get($mt3_colors, 'neutral--xxd');
      margin-left: 0;
      order: 1;
      padding: 15px 70px 40px;
    }

    @include respond-to(s) {
      background-color: map-get($mt3_colors, 'neutral--xxd');
      margin-left: 0;
      order: 1;
      padding: 15px 30px 40px;
    }

  }


  // forcing font styles to match sizes set on p tag in _multiLayoutPromos.scss when the data isn't in a p tag
  .mt3_btn--naked {
    font-weight: 300;
  }

  &-container--thumbnails {
    @media #{$mt3_mq-lg} {
      margin-left: 40px;
      max-height: $mt3_playlist-desktop-height;
      width: 92%;
    }
    overflow: hidden;
    position: relative;
    transition-duration: 1s;
    transition-property: max-height;
    transition-timing-function: ease-in-out;


    @media #{$mt3_mq-lg} {
      &::after {
        background: linear-gradient(to bottom, $mt3_gradient-color 0%, map-get($mt3_colors, 'neutral--xxxl') 100%);
        bottom: 0;
        content: ' ';
        height: 70px;
        left: 0;
        opacity: 1;
        pointer-events: none;
        position: absolute;
        transition-duration: .5s;
        transition-property: opacity;
        transition-timing-function: ease-in-out;
        width: 100%;
        z-index: 20;
      }
    }

    &__scroll {
      @media #{$mt3_mq-lg} {
        max-height: $mt3_playlist-desktop-height;
        overflow-y: scroll;
        padding-bottom: 35px;
      }
    }
  }

  &-container--thumbnail {
    border-bottom: 1px solid map-get($mt3_colors, 'neutral--xl');
    color: map-get($mt3_colors, 'neutral--xd');
    cursor: pointer;
    font-family: 'Pragmatica-web', 'Helvetica Neue', Helvetica, Arial, 'Nimbus Sans L', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    padding: 16px;

    a {
      @extend %mt3_textlink;
      align-items: center;
      display: flex;

      &:hover,
      &:focus,
      &:active {
        color: inherit;
      }

      &.mt3_none {
        border-bottom: 0;
      }
    }

    &:last-of-type {
      border-bottom: 0;
    }

    figure {
      margin: 0 16px;
      min-width: 120px;
      position: relative;
      width: 120px;

      &:not(.embedded-video)::before {
        background-image: $mt3_video-promo-play-button;
        background-repeat: no-repeat;
        background-size: 100%;
        content: '';
        display: block;
        height: 45px;
        left: 50%;
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 45px;
        z-index: 10;
      }
    }
  }

  & .mt3_hide-play {

    figure:not(.embedded-video)::before {
      display: none;
    }
  }

  &-container--active-thumbnail {
    background-color: map-get($mt3_colors, 'neutral--xxl');
  }
}
