.mt3_slider-container {
  z-index: zIndex('slider-container');

  img { // this probably needs to go away once the component exists
    height: auto;
    width: 100%;
  }
}

%mt3_slider-button {
  background-color: $mt3_color-black;
  border: 0;
  color: $mt3_color-white;
  cursor: pointer;
  opacity: .65;
  padding: 1em .5em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(1, 1);
  z-index: zIndex('showcard-button');
}

.mt3_slider-button--inactive {
  cursor: default;
  opacity: .25;
}

.mt3_slider-button--next {
  @extend %mt3_slider-button;

  right: 0;
}

.mt3_slider-button--prev {
  @extend %mt3_slider-button;

  left: 0;
}
