$mt3_small: 768px;
$mt3_medium: 1024px;
$mt3_large: 1280px;

$mt3_left_and_right_package_padding: 30px;
$mt3_fourup_small_offset: 15px;
$mt3_fourup_small_image_width: 33%;
$mt3_fourup_small_text_width: (100 - $mt3_fourup_small_image_width);

.mt3_left-and-right-package {
  background: $mt3_color-gray-86;

  &__app {
    margin: 0 auto;
    max-width: 1600px;
    padding: 0;

    @media (min-width: $mt3_small) {
      padding: 50px;
    }

    @media (min-width: $mt3_medium) {
      padding: 60px;
    }

    &::after, &::before {
      content: ' ';
      display: table;
    }
    &::after {
      clear: both;
    }
  }

  &-header {
    background: $mt3_color-gray-86;
    border-left: 1px solid $mt3_color-primary;
    color: $mt3_color-white;
    font-family: $mt3_verlag-stack;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: .1em;
    line-height: 1.05;
    margin-top: 50px;
    padding-bottom: 40px;
    padding-left: $mt3_left_and_right_package_padding;
    text-transform: uppercase;
    word-spacing: .05em;

    @media (max-width: $mt3_small - 1) {
      margin-left: 30px;
    }


    @media (min-width: $mt3_small) {
      font-size: 36px;
      margin-top: 0;
      padding-left: 40px;
    }

    @media (min-width: $mt3_medium) {
      font-size: 50px;
      margin-top: 0;
    }

    p {
      margin: 0;
    }
  }

  .mt3_videopromo-button {
    bottom: $mt3_left_and_right_package_padding;
    z-index: 2;
  }

  &--tablet,
  &--desktop {
    .mt3_fourup {
      .mt3_promocard-pad {
        padding: 0;
      }
    }
  }

  .left-rail,
  .right-rail {
      min-height: 1px; //this rule enables the rail to still take up space even if it has no relative-positioned content (for parallax purposes)
  }
}

.mt3_fiveup {
  counter-reset: row-count;
  margin-right: 0;

  @media (min-width: $mt3_small) {
    margin-right: 20px;
  }

  @media (min-width: $mt3_medium) {
    margin-right: 30px;
  }

  @media (min-width: $mt3_large) {
    margin-right: 40px;
  }

  &-card {
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-left: 30px;
    position: relative;

    &:hover {
      .mt3_fiveup-divlink::after {
        color: $mt3_color-white;
      }
    }

    @media (min-width: $mt3_medium) {
      padding-left: 40px;
    }

    @media (min-width: $mt3_large) {
      padding-left: 50px;
    }

    &-row {
      width: calc(60% + 20px);

      &--has-image {
        width: 100%;
      }
    }

    &::after {
      border-bottom: 1px solid $mt3_color-gray-66;
      bottom: 0;
      content: '';
      position: absolute;
      width: 60%;
    }
  }

  &-divlink {
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    text-decoration: none;
    top: -31px;
    z-index: 3;

    &::after {
      bottom: 0;
      color: $mt3_color-gray-86;
      content: counter(row-count);
      counter-increment: row-count;

      font-family: $mt3_verlag-stack;
      font-size: 80px;
      font-weight: 400;
      line-height: .7;
      position: absolute;
      right: 7%;
      z-index: 3;
    }
  }

  &-kicker {
    @include couldBeRichText("inline-block");
    position: relative;
    width: 70%;
    z-index: 4;

    .mt3_kicker {
      display: inline-block;
      line-height: 1;
    }

    a {
      color: inherit;
      text-decoration: none;

      &:hover,
      &:active,
      &:focus {
        color: inherit;
        text-decoration: underline;
      }
    }
  }

  .mt3_fiveup-card-title {
    color: $mt3_color-white;
    font-family: $mt3_haas-stack;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .05em;
    line-height: 1.3;
    margin-bottom: 30px;
    margin-top: 15px;
  }

  &-row {
    background-color: $mt3_color-black;
    position: relative;

    &--top {
      .mt3_fiveup-card-title {
        font-size: 26px;
      }

      .mt3_fiveup-card {
        padding-bottom: 30px;
        padding-top: 30px;
      }

      .mt3_fiveup-divlink {
        top: 0;

        &::after {
          bottom: 0;
          color: $mt3_color-primary;
        }
      }

    }
  }

  .mt3_fiveup-row:hover {

    .mt3_videopromo-button {
      background-color: $mt3_color-primary;
      color: $mt3_color-black;
      opacity: 1;
    }
  }
}


.mt3_fourup {

  &-row {
    padding-left: $mt3_left_and_right_package_padding;

    .mt3_promocard-pad {
      padding-right: $mt3_left_and_right_package_padding;

      @media (min-width: $mt3_small) {
        padding-right: 0;
      }
    }

    .mt3_fourup-col--extrasmall {
      .mt3_promocard-pad {
        @media (min-width: $mt3_small) {
          padding-right: $mt3_left_and_right_package_padding;
        }
      }
    }

    @media (min-width: $mt3_small) {
      padding-left: 0;
    }

    &--extrasmall {
      div .mt3_row {
        float: left;
        width: calc(#{$mt3_fourup_small_text_width} - #{$mt3_fourup_small_offset});
      }

      .mt3_promocard-container {
        figure {
          margin-bottom: 0;

          &.modules-images {
            float: left;
            margin: 0 $mt3_fourup_small_offset 0 0;
            width: $mt3_fourup_small_image_width;
          }
        }
      }
    }
  }

  &-row--top {
    padding-left: 0;

    .mt3_promocard-pad {
      padding: 0;

      @media (max-width: $mt3_small - 1) {
        padding: 0 $mt3_left_and_right_package_padding;
      }
    }
  }
}
