$mt3_left_and_right_package_padding: 30px;
$mt3_fourup_small_offset: 15px;
$mt3_fourup_small_image_width: 33%;
$mt3_fourup_small_text_width: (100 - $mt3_fourup_small_image_width);

.mt3_left-and-right-package {
  background: $mt3_color-gray-86;

  &-header {
    background: $mt3_color-gray-86;
    border-left: 1px solid $mt3_color-primary;
    color: $mt3_color-white;
    font-family: $mt3_verlag-stack;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: .1em;
    line-height: 1.05;
    margin-top: 50px;
    padding-bottom: 40px;
    padding-left: $mt3_left_and_right_package_padding;
    text-transform: uppercase;
    word-spacing: .05em;

    .mt3_left-and-right-package--tablet & {
      font-size: 36px;
      margin-top: 0;
      padding-left: 40px;
    }

    .mt3_left-and-right-package--desktop & {
      font-size: 50px;
      margin-top: 0;
    }
  }

  .mt3_videopromo-button {
    bottom: $mt3_left_and_right_package_padding;
    z-index: 2;
  }

  &--tablet,
  &--desktop {
    .mt3_fourup {
      .mt3_promocard-pad {
        padding: 0;
      }
    }
  }

}

.mt3_fiveup {
  background-color: $mt3_color-black;
  counter-reset: row-count;
  margin-right: 0;

  .mt3_left-and-right-package--tablet &,
  .mt3_left-and-right-package--desktop & {
    margin-right: 30px;
  }

  &-card {
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 30px;
    position: relative;

    &-row {
      width: calc(70% + 20px);
    } 

    &::after {
      border-bottom: 1px solid #555;
      bottom: 0;
      content: '';
      position: absolute;
      width: 70%;
    }
  }

  &-divlink {
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: -46px;
    z-index: 3;

    &:after {
      bottom: 0;
      color: $mt3_color-gray-86;
      content: counter(row-count);
      counter-increment: row-count;

      font-family: $mt3_verlag-stack;
      font-size: 80px;
      font-weight: 400;
      line-height: .7;
      position: absolute;
      right: 7%;
      z-index: 3;      
    }

    &:hover:after {
      color: $mt3_color-white;
    }

  }

  &-kicker {
    display: inline-block;
    position: relative;
    z-index: 4;
  }

  .mt3_fiveup-card-title {
    color: $mt3_color-white;
    font-family: $mt3_haas-stack;
    font-size: 18px;
    letter-spacing: .05em;
    line-height: 1.1;
    margin-bottom: 20px;
    margin-top: 15px;
  }

  &-row {
    position: relative;


    &::before {

    } 

    &--top {
      .mt3_fiveup-card-title {
        font-size: 26px;
      }

      .mt3_fiveup-card {
        padding-bottom: 30px;
      }

      .mt3_fiveup-divlink:after {
        bottom: 0;
        color: $mt3_color-primary;
      }
    }
  }

  .mt3_fiveup-row:hover {

    .mt3_fiveup-card-title {
      color: $mt3_color-gray-50;
    }

    .mt3_videopromo-button {
      background-color: $mt3_color-primary;
      color: $mt3_color-black;
      opacity: 1;
    }
  }
}


.mt3_fourup {

  &-row {
    padding-left: $mt3_left_and_right_package_padding;

    .mt3_promocard-pad {
      padding-right: $mt3_left_and_right_package_padding;

      .mt3_left-and-right-package--tablet &,
      .mt3_left-and-right-package--desktop & {
        padding-right: 0;
      }
    }

    .mt3_fourup-col--extrasmall {
      .mt3_promocard-pad {
        .mt3_left-and-right-package--tablet &,
        .mt3_left-and-right-package--desktop & {
          padding-right: $mt3_left_and_right_package_padding;
        }
      }
    }

    .mt3_left-and-right-package--tablet &,
    .mt3_left-and-right-package--desktop & {
      padding-left: 0;
    }

    &--extrasmall {
      div .mt3_row {
        float: left;
        width: calc(#{$mt3_fourup_small_text_width} - #{$mt3_fourup_small_offset});
      }

      .mt3_promocard-container {
        figure {
          margin-bottom: 0;

          &.modules-images {
            float: left;
            margin: 0 $mt3_fourup_small_offset 0 0;
            width: $mt3_fourup_small_image_width;
          }
        }
      }
    }
  }

  &-row--top {
    padding-left: 0;

    .mt3_promocard-pad {
      padding: 0 $mt3_left_and_right_package_padding;
    }
  }
}