// Heading Classes
// ===============

/*doc
---
title: Heading Classes
name: heading classes
parent: headings
---

Headings are also available as classes so you can use them when a semantic tag doesn't line up with style need.

```html_example
<h1 class="h3">h1 styled as h3</h1>
<span class="h1">span styled as h1</h1>
```

*/

.h1 {
    @extend h1;
}

.h2 {
    @extend h2;
}

.h3 {
    @extend h3;
}

.h4 {
    @extend h4;
}

.h5 {
    @extend h5;
}

.h6 {
    @extend h6;
}

// Sub Headings
// ============

/*doc
---
title: Sub Headings
name: subheadings
parent: headings
---

```html_example
<h1 class="subh1">Sub Heading 1</h1>
<h2 class="subh2">Sub Heading 2</h2>
<h3 class="subh3">Sub Heading 3</h3>
<h4 class="subh4">Sub Heading 4</h4>
<h5 class="subh5">Sub Heading 5</h5>
<h6 class="subh6">Sub Heading 6</h6>
```

*/

.subh1,
.subh2,
.subh3,
.subh3,
.subh4 {
    @extend %font-alternate-strong;
}

.subh5,
.subh6 {
    @extend %font-alternate;

    strong {
        @extend %font-alternate-strong;
    }
}

.subh1 {
    @extend %font-size-lrg;
}

.subh2 {
    @extend %font-size-med;
}

.subh3 {
    @extend %font-size-norm;
    text-transform: uppercase;
}

.subh4 {
    @extend %font-size-norm;
}

.subh5 {
    @extend %font-size-sm;

    text-transform: uppercase;
}

.subh6 {
    @extend %font-size-sm;
}

/*doc
---
title: Heading with link
name: headingwithlink
parent: headings
---

```html_example
<h3 class="headingwithlink"><a href="#">Heading with link</a></h3>
<h3 class="subh3 headingwithlink"><a href="#">Sub Heading with link</a></h3>
```

*/

.headingwithlink {
    > a {
        color: $color-text;
        text-decoration: none;

        &:visited {
            color: $color-text;
            text-decoration: none;
        }

        &:hover,
        &:focus,
        &:active {
            color: lighten( $color-text, 15);
            text-decoration: none;
        }
    }
}

// Heading of inverse color

.headinginverse {
    text-decoration: none;
    color: $color-text-inverse;

    &:hover,
    &:focus,
    &:active {
        text-decoration: underline;
        color: $color-text-inverse;
    }

    &:visited {
        text-decoration: none;
        color: $color-text-inverse;
    }
}
