/*doc
---
title: Tag
name: tag
category: Typography
---

```html_example
<p><span class="tag">Beautiful</span> <span class="tag">environment</span> <span class="tag">maya empire</span> <span class="tag">food</span></p>
```

*/

.tag {
    @extend %subh4;

    padding: $padding-half;
    border: $border-default;
    text-transform: uppercase;
    display: inline-block;
}
