// Backgrounds

.backgroundbasic {
    background-color: $color-basic;
}

.backgroundinverse {
    background-color: $color-inverse;
}

.backgroundhighlight {
    background-color: $color-highlight;
}

.backgroundlowlight {
    background-color: $color-lowlight;
}
