---
title: Colors
---


<div class="pagewrapper mt_row mt_col-gut-lg">
  <div class="mt_col-12 mt_row-gut-2">
    <h1 class="mt_h1"> Color Palette </h1>
    <p class="mt_subh1">
      National Geographic's visual brand is driven by stunning photography. Color should be used sparingly to indicate special importance, calls to action, or branding.
    </p>
  </div>
</div>

<div class="mt_bgcolor--neutral--lighter-even-even mt_row-gut-4 divider">&nbsp;</div>

{% include "app/styles/theme/primary.html" %}
{% include "app/styles/theme/neutrals.html" %}
{% include "app/styles/theme/transactions.html" %}
{% include "app/styles/theme/socialbrands.html" %}
