.mt3_modal-button {
  background-color: transparent;
  border: 0;
  color: $mt3_color-white;
  cursor: pointer;
  position: absolute;
  right: $mt3_unit-double - .125;
  top: $mt3_unit-double - .125;

  @include respond-to-multiple(s, m) {
    right: $mt3_unit - .0625;
    top: $mt3_unit - .0625;
  }
}

.mt3_modal-container {
  background-color: $mt3_color-gray-86;
  height: 85vh;
  left: 7.5vw;
  opacity: 0;
  overflow: auto;
  position: fixed;
  top: 7.5vh;
  visibility: hidden;
  width: 85vw;
  z-index: $mt3_z-top;

  &--active {
    height: 100%;
    left: 0;
    opacity: 100;
    top: 0;
    visibility: visible;
    width: 100%;
  }
}

.mt3_modal__overflow--hidden {
  overflow: hidden;
}
