---
title: Home
---

<div class="mt_row mt_bgcolor--primary--lighter herocontainer">
  <div class="pagewrapper mt_col-gut-1">
    <div class="mt_col-lg-9">
      <h1 class="mt_h1">Welcome to Mortar</h1>

      <p class="mt_subh1 mt_row-gut-2">
        Mortar is the official Style Guide for National Geographic’s digital products. The patterns and components defined here provide a unified user experience and look and feel when
        designing apps and websites within the National Geographic ecosystem. To use Mortar, add the following line of code into the header of your project:
      </p>

      <code class="mt_bgcolor--neutral--lightest mt_row-gut-2 codemarkup">
        	&lt;link href='https://www.nationalgeographic.com/styleguide/mortar_2-0-0.css' rel='stylesheet'&gt;
      </code>

      <p class="mt_subh4 mt_row-gut-2">
        Mortar is version controlled, meaning you have to opt in to each release by updating your header with the link above. If you don't want to opt in to the latest version (cited above), you can safely keep your existing Mortar reference.
      </p>
    </div>
  </div>
</div>

<div class="mt_bgcolor--neutral--lighter-even-even mt_row-gut-2 divider">&nbsp;</div>


{% include "app/styles/home/documentation.html" %}
{% include "app/styles/home/links.html" %}
{% include "app/styles/home/feedback.html" %}
