---
title: Home
---

<div class="mt2_row mt2_bgcolor--primary--xl sectionpadding">
  <div class="pagewrapper mt2_col-gut-sm mt2_col-md-gut-md mt2_col-lg-gut-lg">
    <div class="mt2_col-lg-10">
      <h1 class="mt2_h1 intro-txt">Welcome to Mortar</h1>

      <p class="mt2_subh1 intro-txt mt2_row-gut-2">
        Mortar is the official Style Guide for National Geographic&apos;s digital products. To use Mortar, add the following line of code into the header of your project:
      </p>

      <code class="mt2_bgcolor--neutral--xxxl mt2_row-gut-2 codemarkup">
        	&lt;link href='https://www.nationalgeographic.com/styleguide/mortar_2-0-0.css' rel='stylesheet'&gt;
      </code>

      <p class="mt2_subh4 mt2_row-gut-2">
        Mortar is version controlled, meaning you have to opt in to each release by updating your header with the link above. If you don't want to opt in to the latest version (cited above), you can safely keep your existing Mortar reference.
      </p>
    </div>
  </div>
</div>

<div class="mt2_bgcolor--neutral--xxl mt2_row-gut-2 divider">&nbsp;</div>

{% include "app/site/_partials/home/philosophy.html" %}
<div class="mt2_bgcolor--neutral--xxl mt2_row-gut-2 divider">&nbsp;</div>

{% include "app/site/_partials/home/documentation.html" %}
{% include "app/site/_partials/home/links.html" %}
{% include "app/site/_partials/home/feedback.html" %}
