<!doctype html>
<html>
<head>
  <title>{{title}} | Mortar: The NGP Living Styleguide</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/styles/mortar-default.css">
  <link rel="stylesheet" href="https://fonts.ngeo.com/hoefler/1-0-1/hco_fonts.css">
  <style>
    table {
      border-collapse: collapse;
    }

    td, th {
      border: 1px solid #999;
      padding: 0.5rem;
      text-align: left;
    }
  </style>
</head>
<body>
  <header>
    <h1><a href="/">Mortar</a></h1>
    <h2>The NGP Living Styleguide</h2>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/colors">Colors</a></li>
        <li><a href="/layout">Layout</a></li>
        <li><a href="/theme">Theme</a></li>
        <li><a href="/utilities">Utilities</a></li>
        <li><a href="/icons">Icons</a></li>
        <li><a href="/elements">Elements</a></li>
        <li><a href="/components">Components</a></li>
        <li><a href="/patterns">UI Patterns</a></li>
      </ul>
    </nav>
  </header>
  <h2>{{title}}</h2>
  {{contents | safe}}
  <footer class="mt_row mt_bgcolor--neutral--lighter-even-even footer">
    <div class="pagewrapper">
      <div class="mt_subh4 mt_col-lg-9 mt_row-gut-2 copyright">
        <div>
          &copy; 2016 National Geographic Partners, LLC. All rights reserved
        </div>

        <div>
          <a href="http://www.nationalgeographic.com/community/privacy/">Privacy Policy</a> |
          <a href="http://www.nationalgeographic.com/community/terms/">Terms of Service </a>
        </div>
      </div>

      <div class="mt_col-lg-3 mt_subh4">
        <svg class="mt_icon--large" style="vertical-align: bottom;">
          <use xlink:href="/symbol/svg/sprite.symbol.svg#github"></use>
        </svg>
         View this project on <a href="https://github.com/natgeo/mortar">Github</a>
      </div>
    </div>

  </footer>
  <script>
  (function(d) {
    var config = {
      kitId: 'wdv5zcl',
      scriptTimeout: 3000
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//fonts.ngeo.com/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
  </script>
  <script src="/scripts/main.js"></script>
</body>
</html>
