<!doctype html>
<html>
<head>
  <title>{{title}} | Mortar: The NGP Living Styleguide</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/styles/mortar-default.css">
  <link rel="stylesheet" href="https://fonts.ngeo.com/hoefler/1-0-1/hco_fonts.css">
  <script src="https://code.jquery.com/jquery-2.2.1.min.js" integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
</head>
<body>
  <div class="headerwrapper">
    <header class="header pagewrapper mt_col-gut-lg mt_row-gut-4">
        <h1 class="logo-container">
          <a href="http://nationalgeographic.com">
            <svg width="29px" height="41px" viewBox="0 0 29 41" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="logo">
                <title>ng-2fl-rev</title>
                <defs></defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="ng-2fl-rev" fill="#FFCD05">
                      <path d="M0,41 L0,0 L28.61,0 L28.61,41 L0,41 L0,41 Z M24.47,36.87 L24.47,4.13 L4.12,4.13 L4.12,36.87 L24.47,36.87 L24.47,36.87 Z" id="Shape"></path>
                  </g>
                </g>
            </svg>
          </a>
        </h1>

        <a href="/" class="mt_h3 mt_col-3 mt_col-lg-2 styleguide-link">
          Style Guide
        </a>

        <span class="mt_icon icon-hidden">
          <svg class="dropdown-icon" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          	 width="37.4px" height="37.6px" viewBox="0 0 37.4 37.6" style="enable-background:new 0 0 37.4 37.6;" xml:space="preserve">
            <title>chevron-up</title>
            <polyline style="fill:none;stroke:currentColor;stroke-width:2;stroke-miterlimit:10;vector-effect:non-scaling-stroke" class="st0" points="36.7,10.2 18.7,28.2 0.7,10.2 "/>
          </svg>
        </span>

        <nav class="mt_subh1 nav_container mt_col-9">
          <ul class="nav-itemcontainer nav-dropdown">
            <li class="nav-item"><a href="/colors" class="nav-link">Colors</a></li>
            <li class="nav-item"><a href="/theme" class="nav-link">Typography</a></li>
            <li class="nav-item"><a href="/icons" class="nav-link">Icons</a></li>
            <li class="nav-item"><a href="/patterns" class="nav-link">UI Patterns</a></li>
            <!-- <li class="nav-item"><a href="/utilities" class="nav-link">Utilities</a></li> -->
            <li class="nav-item"><a href="/elements" class="nav-link">Elements</a></li>
            <li class="nav-item"><a href="/layout" class="nav-link">Layout</a></li>
            <li class="nav-item"><a href="/components" class="nav-link">Components</a></li>
          </ul>
        </nav>
    </header>
  </div>

  <div class="mt_row mt_row-gut-4"></div>

  {{contents | safe}}

  <footer class="mt_row mt_bgcolor--neutral--lighter-even-even footer">
    <div class="pagewrapper">
      <div class="mt_subh4 mt_col-lg-9 mt_row-gut-2 copyright">
        <div>
          &copy; 2016 National Geographic Partners, LLC. All rights reserved
        </div>

        <div>
          <a href="http://www.nationalgeographic.com/community/privacy/" target="_blank" class="mt_link">Privacy Policy</a> |
          <a href="http://www.nationalgeographic.com/community/terms/" target="_blank" class="mt_link">Terms of Service </a>
        </div>
      </div>

      <div class="mt_col-lg-3 mt_subh4">
        <svg class="mt_icon--large">
          <use xlink:href="/symbol/svg/sprite.symbol.svg#github"></use>
        </svg>
         View this project on <a href="https://github.com/natgeo/mortar" target="_blank" class="mt_link">Github</a>
      </div>
    </div>

  </footer>
  <script>
  (function(d) {
    var config = {
      kitId: 'wdv5zcl',
      scriptTimeout: 3000
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//fonts.ngeo.com/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
  </script>
  <script src="/scripts/main.js"></script>
</body>
</html>
