
// Body Text

html {
    @extend %font-default;
    @extend %font-size-norm;

    color: $color-text;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Text highlighting color
// Remove text-shadow in selection highlight: h5bp.com/i
// These selection rule sets have to be separate.

::-moz-selection {
    background: $color-highlight;
    text-shadow: none;
}

::selection {
    background: $color-highlight;
    text-shadow: none;
}

// A better looking default horizontal rule

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

// Remove the gap between images, videos, audio and canvas and the bottom of
// their containers: h5bp.com/i/440

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

// Make border-box the default box-sizing method

*,
*:before,
*:after {
    box-sizing: border-box;
}

// Remove default fieldset styles.

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

// Allow only vertical resizing of textareas.

textarea {
    resize: vertical;
}

// links

a {
    text-decoration: none;
    color: $color-link;
}

a:hover,
a:focus,
a:active {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
    color: $color-link;
}

/*doc
---
title: Headings
name: headings
category: Typography
---

```html_example
<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<h6>Heading 6</h6>
```

*/

h1,
h2,
h3,
h4,
h5,
h6 {
    @extend %font-alternate;

    margin: 0;
    padding: 0;
}

h1 {
    @extend %font-size-xxxxlrg;
}

h2 {
    @extend %font-size-xxlrg;
}

h3 {
    @extend %font-size-lrg;
}

h4 {
    @extend %font-size-med;
}

h5 {
    @extend %font-size-norm;
}

h6 {
    @extend %font-size-sm;
}

// paragraphs

p {
    @extend %default-text-margin;
}


// Lists
// =====

ul,
ol {
    @extend %default-text-margin;
    padding-left: $padding-one-and-half;

    > li > ul,
    > li > ol {
        margin: 0;
    }
}

// unordered lists

ul {
    list-style-type: square;
}

// ordered lists

ol {
    counter-reset: custom-ol;

    > li {
        position: relative;
        list-style-type: none;
    }

    > li:before {
        @extend h6;

        content: counter(custom-ol, decimal-leading-zero) ".";
        counter-increment: custom-ol;
        list-style-type: decimal-leading-zero;
        position: absolute;
        left: -#{$padding-one-and-half};
        top: 0;
    }
}

form {
    ol,
    ul {
        list-style: none;
        padding-left: 0;
    }
}

/*doc
---
title: Lists
name: lists
category: Typography
---

## Unordered List

<ul>
    <li>This is a list item in an unordered list</li>
    <li>An unordered list is a list in which the sequence of items is not important. Sometimes, an unordered list is a bulleted list. And this is a long list item in an unordered list that can wrap onto a new line. </li>
    <li>
        Lists can be nested inside of each other
        <ul>
            <li>This is a nested list item</li>
            <li>This is another nested list item in an unordered list</li>
        </ul>
    </li>
    <li>This is the last list item</li>
</ul>

## Ordered List

<ol>
    <li>This is a list item in an ordered list</li>
    <li>An ordered list is a list in which the sequence of items is important. An ordered list does not necessarily contain sequence characters.</li>
    <li>
        Lists can be nested inside of each other
        <ol>
            <li>This is a nested list item</li>
            <li>This is another nested list item in an ordered list</li>
        </ol>
    </li>
    <li>This is the last list item</li>
</ol>

*/
