// TO DO
// * gutters are adjustable at breakpoints
// * row gutter adds margin bottom

$bps: (
  sm: $mq-sm,
  md: $mq-md,
  lg: $mq-lg
);

$columns: 12;

// Object oriented grid classes in the style of bootstrap
// Reference: http://getbootstrap.com/css/#grid

%col-padding {
    float: left;
    position: relative;
}

@for $i from 1 through $columns { // loop through grid spans
    .mt_col-#{$i} { // build the class name
        @extend %col-padding;

        width: percentage( $i / $columns );
    }

    .mt_col-offset-#{$i} {
        margin-left: percentage( $i / $columns );
    }

    .mt_col-pull-#{$i} {
        right: percentage( $i / $columns );
    }

    .mt_col-push-#{$i} {
        left: percentage( $i / $columns );
    }
}

.mt_col-offset-0 {
    margin-left: 0;
}

.mt_col-pull-0 {
    right: auto;
}

.mt_col-push-0 {
    left: auto;
}

@each $bp, $width in $bps { // loop through breakpoints

    // hack to get around inability to extend from within media queries
    @for $i from 1 through $columns {
        .mt_col-#{$bp}-#{$i} {
            @extend %col-padding;
        }
    }

    @media #{ $width } {
        @for $i from 1 through $columns {
            .mt_col-#{$bp}-#{$i} {
                width: percentage( $i / $columns );
            }

            .mt_col-#{$bp}-offset-#{$i} {
                margin-left: percentage( $i / $columns );
            }

            .mt_col-#{$bp}-pull-#{$i} {
                right: percentage( $i / $columns );
            }

            .mt_col-#{$bp}-push-#{$i} {
                left: percentage( $i / $columns );
            }
        }

        .mt_col-#{$bp}-offset-0 {
            margin-left: 0;
        }

        .mt_col-#{$bp}-pull-0 {
            right: auto;
        }

        .mt_col-#{$bp}-push-0 {
            left: auto;
        }
    }
}

.mt_col-gut-half {
    padding-left: $mt_unit / 2;
    padding-right: $mt_unit / 2;
}

@for $i from 1 through 4 {
    .mt_col-gut-#{$i} {
        padding-left: $mt_unit * $i;
        padding-right: $mt_unit * $i;
    }
}

@each $bp, $width in $bps { // loop through breakpoints
    @media #{ $width } {
        .mt_col-#{$bp}-gut-half {
            padding-left: $mt_unit / 2;
            padding-right: $mt_unit / 2;
        }

        @for $i from 1 through 4 {
            .mt_col-#{$bp}-gut-#{$i} {
                padding-left: $mt_unit * $i;
                padding-right: $mt_unit * $i;
            }
        }
    }
}

/*doc
---
title: Gutters
name: gutters
category: Layout
---

Default Gutters

```html_example
    <div class="mt_row mt_row-gut-1">
        <div class="mt_col-6">
            <div class="mt_backgroundlowlight mt_paddingdefault">&nbsp;</div>
        </div>
        <div class="mt_col-6">
            <div class="mt_backgroundlowlight mt_paddingdefault">&nbsp;</div>
        </div>
    </div>

    <div class="mt_row mt_row-gut-1">
        <div class="mt_col-6 mt_col-gut-half">
            <div class="mt_backgroundlowlight mt_paddingdefault">&nbsp;</div>
        </div>
        <div class="mt_col-6 mt_col-gut-half">
            <div class="mt_backgroundlowlight mt_paddingdefault">&nbsp;</div>
        </div>
    </div>

    <div class="mt_row mt_row-gut-1">
        <div class="mt_col-6 mt_col-gut-1">
            <div class="mt_backgroundlowlight mt_paddingdefault">&nbsp;</div>
        </div>
        <div class="mt_col-6 mt_col-gut-1">
            <div class="mt_backgroundlowlight mt_paddingdefault">&nbsp;</div>
        </div>
    </div>

    <div class="mt_row mt_row-gut-1">
        <div class="mt_col-6 mt_col-gut-2">
            <div class="mt_backgroundlowlight mt_paddingdefault">&nbsp;</div>
        </div>
        <div class="mt_col-6 mt_col-gut-2">
            <div class="mt_backgroundlowlight mt_paddingdefault">&nbsp;</div>
        </div>
    </div>

    <div class="mt_row mt_row-gut-1">
        <div class="mt_col-6 mt_col-gut-3">
            <div class="mt_backgroundlowlight mt_paddingdefault">&nbsp;</div>
        </div>
        <div class="mt_col-6 mt_col-gut-3">
            <div class="mt_backgroundlowlight mt_paddingdefault">&nbsp;</div>
        </div>
    </div>

    <div class="mt_row mt_row-gut-1">
        <div class="mt_col-6 mt_col-gut-4">
            <div class="mt_backgroundlowlight mt_paddingdefault">&nbsp;</div>
        </div>
        <div class="mt_col-6 mt_col-gut-4">
            <div class="mt_backgroundlowlight mt_paddingdefault">&nbsp;</div>
        </div>
    </div>
```

Responsive Gutters

```html_example
    <div class="mt_row mt_row-gut-1">
        <div class="mt_col-6 mt_col-gut-half mt_col-sm-gut-1 mt_col-md-gut-2">
            <div class="mt_backgroundlowlight mt_paddingdefault">&nbsp;</div>
        </div>
        <div class="mt_col-6 mt_col-gut-half mt_col-sm-gut-1 mt_col-md-gut-2">
            <div class="mt_backgroundlowlight mt_paddingdefault">&nbsp;</div>
        </div>
    </div>
```

*/


/*doc
---
title: Grid
name: grid
category: Layout
---

## Breakpoints

breakpoint | size
---------- | ---------------
sm         | > 30em (480px)
med        | > 50em (800px)
lrg        | > 70em (1120px)

## Available Classes

            | default breakpoint | sm breakpoint      | md breakpoint       | lrg breakpoint
----------- | ------------------ | ------------------ | ------------------- | ------------------
**Column**  | `.col-*`           | `.col-sm-*`        | `.col-md-*`         | `.col-lrg-*`
**Offset**  | `.col-offset-*`    | `.col-sm-offset-*` | `.col-md-offset-*`  | `.col-lrg-offset-*`
**Pull**    | `.col-pull-*`      | `.col-sm-pull-*`   | `.col-md-pull-*`    | `.col-lrg-pull-*`
**Push**    | `.col-push-*`      | `.col-sm-push-*`   | `.col-md-push-*`    | `.col-lrg-push*`
**Gutter**  | `.col-gut-*`       | `.col-sm-gut-*`    | `.col-md-gut-*`     | `.col-lrg-gut*`

### Example

```html_example
<div class="mt_row">
    <div class="mt_col-12">
        <div class="mt_backgroundhighlight mt_paddingdefault mt_row-gut-1">12</div>
    </div>

    <div class="mt_col-1">
        <div class="mt_backgroundlowlight mt_paddingdefault mt_row-gut-1">1</div>
    </div>
    <div class="mt_col-11">
        <div class="mt_backgroundhighlight mt_paddingdefault mt_row-gut-1">11</div>
    </div>

    <div class="mt_col-2">
        <div class="mt_backgroundlowlight mt_paddingdefault mt_row-gut-1">2</div>
    </div>
    <div class="mt_col-10">
        <div class="mt_backgroundhighlight mt_paddingdefault mt_row-gut-1">10</div>
    </div>

    <div class="mt_col-3">
        <div class="mt_backgroundlowlight mt_paddingdefault mt_row-gut-1">3</div>
    </div>
    <div class="mt_col-9">
        <div class="mt_backgroundhighlight mt_paddingdefault mt_row-gut-1">9</div>
    </div>

    <div class="mt_col-4">
        <div class="mt_backgroundlowlight mt_paddingdefault mt_row-gut-1">4</div>
    </div>
    <div class="mt_col-8">
        <div class="mt_backgroundhighlight mt_paddingdefault mt_row-gut-1">8</div>
    </div>

    <div class="mt_col-5">
        <div class="mt_backgroundlowlight mt_paddingdefault mt_row-gut-1">5</div>
    </div>
    <div class="mt_col-7">
        <div class="mt_backgroundhighlight mt_paddingdefault mt_row-gut-1">7</div>
    </div>

    <div class="mt_col-6">
        <div class="mt_backgroundlowlight mt_paddingdefault">6</div>
    </div>
    <div class="mt_col-6">
        <div class="mt_backgroundhighlight mt_paddingdefault">6</div>
    </div>
</div>
```

*/

/*doc
---
title: Responsive Grid
name: resp-grid
category: Layout
---

```html_example
<div class="mt_cf">
    <div class="mt_col-6 mt_col-sm-4 mt_col-md-3 mt_col-lg-2">
        <div class="mt_backgroundlowlight mt_paddingdefault mt_row-gut-1">&nbsp;</div>
    </div>
    <div class="mt_col-6 mt_col-sm-4 mt_col-md-3 mt_col-lg-2">
        <div class="mt_backgroundhighlight mt_paddingdefault mt_row-gut-1">&nbsp;</div>
    </div>
    <div class="mt_col-6 mt_col-sm-4 mt_col-md-3 mt_col-lg-2">
        <div class="mt_backgroundlowlight mt_paddingdefault mt_row-gut-1">&nbsp;</div>
    </div>
    <div class="mt_col-6 mt_col-sm-4 mt_col-md-3 mt_col-lg-2">
        <div class="mt_backgroundhighlight mt_paddingdefault mt_row-gut-1">&nbsp;</div>
    </div>
    <div class="mt_col-6 mt_col-sm-4 mt_col-md-3 mt_col-lg-2">
        <div class="mt_backgroundlowlight mt_paddingdefault mt_row-gut-1">&nbsp;</div>
    </div>
    <div class="mt_col-6 mt_col-sm-4 mt_col-md-3 mt_col-lg-2">
        <div class="mt_backgroundhighlight mt_paddingdefault mt_row-gut-1">&nbsp;</div>
    </div>
    <div class="mt_col-6 mt_col-sm-4 mt_col-md-3 mt_col-lg-2">
        <div class="mt_backgroundlowlight mt_paddingdefault mt_row-gut-1">&nbsp;</div>
    </div>
    <div class="mt_col-6 mt_col-sm-4 mt_col-md-3 mt_col-lg-2">
        <div class="mt_backgroundhighlight mt_paddingdefault mt_row-gut-1">&nbsp;</div>
    </div>
    <div class="mt_col-6 mt_col-sm-4 mt_col-md-3 mt_col-lg-2">
        <div class="mt_backgroundlowlight mt_paddingdefault mt_row-gut-1">&nbsp;</div>
    </div>
    <div class="mt_col-6 mt_col-sm-4 mt_col-md-3 mt_col-lg-2">
        <div class="mt_backgroundhighlight mt_paddingdefault mt_row-gut-1">&nbsp;</div>
    </div>
    <div class="mt_col-6 mt_col-sm-4 mt_col-md-3 mt_col-lg-2">
        <div class="mt_backgroundlowlight mt_paddingdefault mt_row-gut-1">&nbsp;</div>
    </div>
    <div class="mt_col-6 mt_col-sm-4 mt_col-md-3 mt_col-lg-2">
        <div class="mt_backgroundhighlight mt_paddingdefault mt_row-gut-1">&nbsp;</div>
    </div>
</div>
```

*/

/*doc
---
title: Offsetting
name: push-pull
category: Layout
---

```html_example
    <div class="mt_row">
        <div class="mt_col-6 mt_col-offset-3">
            <div class="mt_backgroundlowlight mt_paddingdefault mt_row-gut-1">&nbsp;</div>
        </div>
    </div>

    <div class="mt_row">
        <div class="mt_col-3 mt_col-offset-4">
            <div class="mt_backgroundhighlight mt_paddingdefault mt_row-gut-1">&nbsp;</div>
        </div>
        <div class="mt_col-3 mt_col-offset-2">
            <div class="mt_backgroundhighlight mt_paddingdefault mt_row-gut-1">&nbsp;</div>
        </div>
    </div>

    <div class="mt_row">
        <div class="mt_col-4 mt_col-offset-1">
            <div class="mt_backgroundinverse mt_paddingdefault mt_row-gut-1">&nbsp;</div>
        </div>
    </div>
```

*/

/*doc
---
title: Reorder
name: reorder
category: Layout
---

```html_example
    <div class="mt_cf">
        <div class="mt_col-3 mt_col-push-9">
            <div class="mt_backgroundlowlight mt_paddingdefault mt_row-gut-1">&nbsp;</div>
        </div>

        <div class="mt_col-9 mt_col-pull-3">
            <div class="mt_backgroundhighlight mt_paddingdefault mt_row-gut-1">&nbsp;</div>
        </div>
    </div>
```
*/

.mt_row {
    @extend .mt_cf;
}

// .mt_row-gut-1
.mt_row-gut-1 {
    margin-bottom: $mt_padding-default;
}
