$bps: (
  sm: $mq-sm,
  md: $mq-md,
  lg: $mq-lg
);

$columns: 12;

// Object oriented grid classes in the style of bootstrap
// Reference: http://getbootstrap.com/css/#grid

%col-padding {
    float: left;
    padding-left: $mt_padding-half;
    padding-right: $mt_padding-half;
    position: relative;
}

@for $i from 1 through $columns { // loop through grid spans
    .mt_cols-#{$i} { // build the class name
        @extend %col-padding;

        width: percentage( $i / $columns );
    }

    .mt_cols-offset-#{$i} {
        margin-left: percentage( $i / $columns );
    }

    .mt_cols-pull-#{$i} {
        right: percentage( $i / $columns );
    }

    .mt_cols-push-#{$i} {
        left: percentage( $i / $columns );
    }
}

.mt_cols-push-0 {
    margin-left: 0;
}

.mt_cols-pull-0 {
    right: auto;
}

.mt_cols-push-0 {
    left: auto;
}

@each $bp, $width in $bps { // loop through breakpoints
    @for $i from 1 through $columns { // loop through grid spans
        .mt_cols-#{$bp}-#{$i} {
            @extend %col-padding;
        }
    }

    @media #{ $width } {
        @for $i from 1 through $columns { // loop through grid spans
            .mt_cols-#{$bp}-#{$i} {
                width: percentage( $i / $columns );
            }

            .mt_cols-#{$bp}-offset-#{$i} {
                margin-left: percentage( $i / $columns );
            }

            .mt_cols-#{$bp}-pull-#{$i} {
                right: percentage( $i / $columns );
            }

            .mt_cols-#{$bp}-push-#{$i} {
                left: percentage( $i / $columns );
            }
        }

        .mt_cols-#{$bp}-offset-0 {
            margin-left: 0;
        }

        .mt_cols-#{$bp}-pull-0 {
            right: auto;
        }

        .mt_cols-#{$bp}-push-0 {
            left: auto;
        }
    }
}

.mt_row {
    @extend .mt_cf;
}

/*doc
---
title: Grid
name: grid
category: Layout
---

<div class="mt_row">
    <div class="mt_cols-12">
        <div class="mt_backgroundhighlight mt_paddingdefault mt_margininlinebottom">12</div>
    </div>

    <div class="mt_cols-1">
        <div class="mt_backgroundlowlight mt_paddingdefault mt_margininlinebottom">1</div>
    </div>
    <div class="mt_cols-11">
        <div class="mt_backgroundhighlight mt_paddingdefault mt_margininlinebottom">11</div>
    </div>

    <div class="mt_cols-2">
        <div class="mt_backgroundlowlight mt_paddingdefault mt_margininlinebottom">2</div>
    </div>
    <div class="mt_cols-10">
        <div class="mt_backgroundhighlight mt_paddingdefault mt_margininlinebottom">10</div>
    </div>

    <div class="mt_cols-3">
        <div class="mt_backgroundlowlight mt_paddingdefault mt_margininlinebottom">3</div>
    </div>
    <div class="mt_cols-9">
        <div class="mt_backgroundhighlight mt_paddingdefault mt_margininlinebottom">9</div>
    </div>

    <div class="mt_cols-4">
        <div class="mt_backgroundlowlight mt_paddingdefault mt_margininlinebottom">4</div>
    </div>
    <div class="mt_cols-8">
        <div class="mt_backgroundhighlight mt_paddingdefault mt_margininlinebottom">8</div>
    </div>

    <div class="mt_cols-5">
        <div class="mt_backgroundlowlight mt_paddingdefault mt_margininlinebottom">5</div>
    </div>
    <div class="mt_cols-7">
        <div class="mt_backgroundhighlight mt_paddingdefault mt_margininlinebottom">7</div>
    </div>

    <div class="mt_cols-6">
        <div class="mt_backgroundlowlight mt_paddingdefault mt_margininlinebottom">6</div>
    </div>
    <div class="mt_cols-6">
        <div class="mt_backgroundhighlight mt_paddingdefault mt_margininlinebottom">6</div>
    </div>
</div>

*/

/*doc
---
title: Responsive Grid
name: resp-grid
category: Layout
---

```html_example
<div class="mt_row">
    <div class="mt_cols-6 mt_cols-sm-4 mt_cols-md-3 mt_cols-lg-2">
        <div class="mt_backgroundlowlight mt_paddingdefault mt_margininlinebottom">&nbsp;</div>
    </div>
    <div class="mt_cols-6 mt_cols-sm-4 mt_cols-md-3 mt_cols-lg-2">
        <div class="mt_backgroundlowlight mt_paddingdefault mt_margininlinebottom">&nbsp;</div>
    </div>
    <div class="mt_cols-6 mt_cols-sm-4 mt_cols-md-3 mt_cols-lg-2">
        <div class="mt_backgroundlowlight mt_paddingdefault mt_margininlinebottom">&nbsp;</div>
    </div>
    <div class="mt_cols-6 mt_cols-sm-4 mt_cols-md-3 mt_cols-lg-2">
        <div class="mt_backgroundlowlight mt_paddingdefault mt_margininlinebottom">&nbsp;</div>
    </div>
    <div class="mt_cols-6 mt_cols-sm-4 mt_cols-md-3 mt_cols-lg-2">
        <div class="mt_backgroundlowlight mt_paddingdefault mt_margininlinebottom">&nbsp;</div>
    </div>
    <div class="mt_cols-6 mt_cols-sm-4 mt_cols-md-3 mt_cols-lg-2">
        <div class="mt_backgroundlowlight mt_paddingdefault mt_margininlinebottom">&nbsp;</div>
    </div>
    <div class="mt_cols-6 mt_cols-sm-4 mt_cols-md-3 mt_cols-lg-2">
        <div class="mt_backgroundlowlight mt_paddingdefault mt_margininlinebottom">&nbsp;</div>
    </div>
    <div class="mt_cols-6 mt_cols-sm-4 mt_cols-md-3 mt_cols-lg-2">
        <div class="mt_backgroundlowlight mt_paddingdefault mt_margininlinebottom">&nbsp;</div>
    </div>
    <div class="mt_cols-6 mt_cols-sm-4 mt_cols-md-3 mt_cols-lg-2">
        <div class="mt_backgroundlowlight mt_paddingdefault mt_margininlinebottom">&nbsp;</div>
    </div>
    <div class="mt_cols-6 mt_cols-sm-4 mt_cols-md-3 mt_cols-lg-2">
        <div class="mt_backgroundlowlight mt_paddingdefault mt_margininlinebottom">&nbsp;</div>
    </div>
    <div class="mt_cols-6 mt_cols-sm-4 mt_cols-md-3 mt_cols-lg-2">
        <div class="mt_backgroundlowlight mt_paddingdefault mt_margininlinebottom">&nbsp;</div>
    </div>
    <div class="mt_cols-6 mt_cols-sm-4 mt_cols-md-3 mt_cols-lg-2">
        <div class="mt_backgroundlowlight mt_paddingdefault mt_margininlinebottom">&nbsp;</div>
    </div>
</div>
```

*/

/*doc
---
title: Offsetting
name: push-pull
category: Layout
---

```html_example
    <div class="mt_row">
        <div class="mt_cols-6 mt_cols-offset-3">
            <div class="mt_backgroundlowlight mt_paddingdefault mt_margininlinebottom">&nbsp;</div>
        </div>
    </div>

    <div class="mt_row">
        <div class="mt_cols-3 mt_cols-offset-4">
            <div class="mt_backgroundhighlight mt_paddingdefault mt_margininlinebottom">&nbsp;</div>
        </div>
        <div class="mt_cols-3 mt_cols-offset-2">
            <div class="mt_backgroundhighlight mt_paddingdefault mt_margininlinebottom">&nbsp;</div>
        </div>
    </div>

    <div class="mt_row">
        <div class="mt_cols-4 mt_cols-offset-1">
            <div class="mt_backgroundinverse mt_paddingdefault mt_margininlinebottom">&nbsp;</div>
        </div>
    </div>
```

*/

/*doc
---
title: Reorder
name: reorder
category: Layout
---

```html_example
    <div class="mt_cf">
        <div class="mt_cols-3 mt_cols-push-9">
            <div class="mt_backgroundlowlight mt_paddingdefault mt_margininlinebottom">&nbsp;</div>
        </div>

        <div class="mt_cols-9 mt_cols-pull-3">
            <div class="mt_backgroundhighlight mt_paddingdefault mt_margininlinebottom">&nbsp;</div>
        </div>
    </div>
```
*/
