{% for icon in icons %}
  {% if loop.first %}<ul>{% endif %}
  <li>
    <h3><code>{{ icon }}</code></h3>
    <svg class="mt_icon">
      <use xlink:href="/symbol/svg/sprite.symbol.svg#{{ icon }}"></use>
    </svg>
    <svg class="mt_icon--large">
      <use xlink:href="/symbol/svg/sprite.symbol.svg#{{ icon }}"></use>
    </svg>

    <span style="display:inline-block;padding:1em" class="mt_bg-color-neutral--darkest mt_color-neutral--lightest">
      <svg class="mt_icon">
        <use xlink:href="/symbol/svg/sprite.symbol.svg#{{ icon }}"></use>
      </svg>
      <svg class="mt_icon--large">
        <use xlink:href="/symbol/svg/sprite.symbol.svg#{{ icon }}"></use>
      </svg>
    </span>
  </li>
  {% if loop.last %}</ul>{% endif %}
{% endfor %}
