<h4>Icons</h4>

{% for icon in icons %}
  {% if loop.first %}<ul>{% endif %}
  <li>
    <h3><code>{{ icon }}</code></h3>
    <svg class="mt_icon">
      <use xlink:href="/symbol/svg/sprite.symbol.svg#{{ icon }}"></use>
    </svg>
  </li>
  {% if loop.last %}</ul>{% endif %}
{% endfor %}

<h4>Social Icons</h4>

{% for icon in socialIcons %}
  {% if loop.first %}<ul>{% endif %}
  <li>
    <h3><code>{{ icon }}</code></h3>
    <svg class="mt_icon">
      <use xlink:href="/symbol/svg/sprite.symbol.svg#{{ icon }}"></use>
    </svg>
  </li>
  {% if loop.last %}</ul>{% endif %}
{% endfor %}
