<article class="pagewrapper">
  <div class="mt_row mt_row-gut-2 mt_col-gut-sm mt_col-md-gut-md mt_col-lg-gut-lg">
    <h3 class="mt_h3">General Icons</h3>
  </div>

  {% for icon in icons %}
  {% if loop.first %}<ul class="mt_row illustratedexamples-container">{% endif %}
  <li class="mt_row-gut-2 mt_col-6 mt_col-sm-4 mt_col-md-3 mt_col-lg-2 mt_col-gut-sm mt_col-md-gut-md mt_col-lg-gut-lg illustratedexamples-item">
    <div class="JS_icon-container iconexample-container mt_intratio--square">
      <svg class="JS_icon mt_icon mt_icon--large iconexample-icon">
        <use xlink:href="/symbol/svg/sprite.symbol.svg#{{ icon }}"></use>
      </svg>
    </div>
    <p class="mt_h5">#{{ icon }}</p>
  </li>
  {% if loop.last %}</ul>{% endif %}
  {% endfor %}
</article>

<div class="mt_bgcolor--neutral--xxl mt_row-gut-4 divider">&nbsp;</div>

<article class="pagewrapper">
  <div class="mt_row mt_row-gut-2 mt_col-gut-sm mt_col-md-gut-md mt_col-lg-gut-lg">
    <h3 class="mt_h3">Social Icons</h3>
  </div>

  {% for icon in socialIcons %}
  {% if loop.first %}<ul class="mt_row illustratedexamples-container">{% endif %}
  <li class="mt_row-gut-2 mt_col-6 mt_col-sm-4 mt_col-md-3 mt_col-lg-2 mt_col-gut-sm mt_col-md-gut-md mt_col-lg-gut-lg illustratedexamples-item">
    <div class="JS_icon-container iconexample-container mt_intratio--square">
      <svg class="JS_icon mt_icon mt_icon--large iconexample-icon">
        <use xlink:href="/symbol/svg/sprite.symbol.svg#{{ icon }}"></use>
      </svg>
    </div>
    <p class="mt_h5">#{{ icon }}</p>
  </li>
  {% if loop.last %}</ul>{% endif %}
  {% endfor %}
</article>

<script>
  $(document).ready(function() {
    $('input[type=radio][name=icon-size]').change(function() {
      if (this.value === 'small') {
        $('.JS_icon').removeClass('mt_icon--large');
      }
      else if (this.value === 'large') {
        $('.JS_icon').addClass('mt_icon--large');
      }
    });

    $('input[type=radio][name=icon-color]').change(function() {
      if (this.value === 'default') {
        $('.JS_icon-container')
        .removeClass('mt_bgcolor--neutral--d')
        .removeClass('mt_color--neutral--xxxl');
      }
      else if (this.value === 'inverse') {
        $('.JS_icon-container')
        .addClass('mt_bgcolor--neutral--d')
        .addClass('mt_color--neutral--xxxl');
      }
    });
  });
</script>
