.mt3_icon {
  height: 1.5rem;
  width: 1.5rem;

  &--left {
    margin-right: 10px;
  }

  &--right {
    margin-left: 10px;
  }

  &--top {
    margin-bottom: 10px;
  }

  &--bottom {
    margin-top: 10px;
  }
}

.mt3_icon--large {
  height: $mt3_unit-double;
  width: $mt3_unit-double;

  &--left {
    margin-right: 10px;
  }

  &--right {
    margin-left: 10px;
  }

  &--top {
    margin-bottom: 10px;
  }

  &--bottom {
    margin-top: 10px;
  }
}

.mt3_iconandlabel--vertical {
  align-items: center;
  display: flex;
  flex-direction: column;

  * {
    display: block;
  }
}

.mt3_iconandlabel--horizontal {
  align-items: center;
  display: flex;
  flex-direction: row;

  * {
    display: block;
  }
}
