.mt_modal-button {
  position: absolute;
  right: 1em;
  top: 1em;
}

.mt_modal-closeicon {
  color: currentColor;
  height: 3em;
  padding: .5em;
  width: 3em;
}

// Color page

.pagewrapper {
  @media #{$mt_mq-lg} {
    margin: 0 auto;
    padding: 0;
    max-width: 70em;
  }
}

.divider {
  border-bottom: 1px solid $mt_color-neutral-lighter-even;
  border-top: 1px solid $mt_color-neutral-lighter-even;
  height: 1em;
}

.illustratedexamples {
  // Remove this declaration block once we have responsive classnames for .col-offset
  @media #{$mt_mq-lg} {
    margin-left: 8em;
  }
}

.illustratedexamples-item {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 1em;
  max-width: 9em;
  text-align: center;
}

.circle {
  border: 1px solid $mt_color-neutral-lighter-even;
  border-radius: 50%;
  height: 8em;
  width: 8em;
}

@each $mt_social-color, $social-bg-color in $mt_social-colors {
  .mt_social-color--#{$mt_social-color} {
    background-color: $social-bg-color;
  }
}
