---
title: Components
---

<div class="mt3_row pagewrapper mt3_col-gut sectionpadding">
  <div class="mt3_col-lg-10 mt3_row-gut-2">
    <h1 class="mt3_h1">Components</h1>

    <p class="mt3_subh1">
      Use the following component library to build websites in any content management system.
    </p>
  </div>
</div>

<div class="mt3_bgcolor--gray5 mt3_row-gut-4 divider">&nbsp;</div>

<a class="anchor-link" name="tooltips"></a>
{% include "src/modules/tooltips/docs.html" %}
<div class="mt3_bgcolor--gray5 mt3_row-gut-4 divider">&nbsp;</div>

<a class="anchor-link" name="sharing"></a>
{% include "src/modules/sharing/docs.html" %}
<div class="mt3_bgcolor--gray5 mt3_row-gut-4 divider">&nbsp;</div>

<a class="anchor-link" name="slider"></a>
{% include "src/modules/slider/docs.html" %}
<div class="mt3_bgcolor--gray5 mt3_row-gut-4 divider">&nbsp;</div>

<a class="anchor-link" name="ratios"></a>
{% include "src/styles/components/ratios.html" %}
<div class="mt3_bgcolor--gray5 mt3_row-gut-4 divider">&nbsp;</div>

<a class="anchor-link" name="photo-caption"></a>
{% include "src/styles/components/figure.html" %}
<div class="mt3_bgcolor--gray5 mt3_row-gut-4 divider">&nbsp;</div>

<a class="anchor-link" name="related-content"></a>
{% include "src/styles/components/relatedcontent.html" %}
<div class="mt3_bgcolor--gray5 mt3_row-gut-4 divider">&nbsp;</div>

<a class="anchor-link" name="icon"></a>
{% include "src/modules/icon/docs.html" %}
<div class="mt3_bgcolor--gray5 mt3_row-gut-4 divider">&nbsp;</div>

<a class="anchor-link" name="button" class=""></a>
{% include "src/modules/button/docs.html" %}
<div class="mt3_bgcolor--gray5 mt3_row-gut-4 divider">&nbsp;</div>

<a class="anchor-link" name="photo-gallery"></a>
{% include "src/modules/photogallery/docs.html" %}
<div class="mt3_bgcolor--gray5 mt3_row-gut-4 divider">&nbsp;</div>

<a class="anchor-link" name="promo-card"></a>
{% include "src/modules/promocard/docs.html" %}
<div class="mt3_bgcolor--gray5 mt3_row-gut-4 divider">&nbsp;</div>

<a class="anchor-link" name="video"></a>
{% include "src/modules/video/docs.html" %}
<div class="mt3_bgcolor--gray5 mt3_row-gut-4 divider">&nbsp;</div>

<a class="anchor-link" name="video-playlist"></a>
{% include "src/modules/videoplaylist/docs.html" %}
<div class="mt3_bgcolor--gray5 mt3_row-gut-4 divider">&nbsp;</div>

<a class="anchor-link" name="pod-promo"></a>
{% include "src/modules/podpromo/docs.html" %}
