.mt3_parallax-wrap {
  position: relative;
  &--outer {
    position: relative;
  }
  &--active {
    position: absolute;
  }
  &--fixed {
    position: fixed;
    top: 0;
  }
  &__background-image {
    pointer-events: none;
    z-index: -1;
  }
}
