.mt_textinverse {
    color: $mt_color-text-inverse;

    a,
    a:visited {
        text-decoration: none;
        color: $mt_color-text-inverse;
    }

    a:hover,
    a:focus,
    a:active {
        border-bottom: 1px solid $mt_color-beta;
        color: $mt_color-beta;
        text-decoration: none;
    }
}

.mt_headinginverse {
    &,
    &:visited {
        border-bottom: none;
        text-decoration: none;
        color: $mt_color-text-inverse;
    }

    &:hover,
    &:focus,
    &:active {
        border-bottom: none;
        color: $mt_color-beta;
        text-decoration: none;
    }
}
