/*doc
---
title: Colors
name: colors
category: Theme
---
```html_example
<div class="mt_textinverse">Text Color Gamma</div>
<div class="mt_textgamma">Text Color Gamma</div>
```

*/

.mt_textgamma {
    color: $mt_color-gamma;
}

.mt_textinverse {
    color: $mt_color-text-inverse;

    a,
    a:visited {
        color: $mt_color-text-inverse;
        text-decoration: none;
    }

    a:hover,
    a:focus,
    a:active {
        border-bottom: 1px solid $mt_color-beta;
        color: $mt_color-beta;
        text-decoration: none;
    }
}

.mt_headinginverse {
    &,
    &:visited {
        border-bottom: 0;
        color: $mt_color-text-inverse;
        text-decoration: none;
    }

    &:hover,
    &:focus,
    &:active {
        border-bottom: 0;
        color: $mt_color-beta;
        text-decoration: none;
    }
}
