---
title: Typography
---

<div class="pagewrapper mt2_row mt2_col-gut-sm mt2_col-md-gut-md mt2_col-lg-gut-lg sectionpadding">
  <div class="mt2_col-lg-10 mt2_row-gut-2">
    <h1 class="mt2_h1">Typography</h1>

    <p class="mt2_subh1">
      Our websites use the following font-families: <code>"Chronicle Display 3r"</code>, <code>"Chronicle Deck 6r"</code>, <code>Georgia</code>, and <code>"Pragmatica-Web"</code>. Use the nomenclature on this page to develop with these fonts. For static mockups, please contact us to request access to our font package.
    </p>

    <div class="mt2_col-lg-3 mt2_row-gut-2">
      <a href="mailto:&#100;&#105;&#103;&#105;&#116;&#097;&#108;&#100;&#101;&#115;&#105;&#103;&#110;&#064;&#110;&#097;&#116;&#103;&#101;&#111;&#046;&#099;&#111;&#109;?subject=Request Access to NatGeo Fonts" class="mt2_btn mt2_btn--default downloadicon-btn">Request Fonts</a>
    </div>
  </div>
</div>

<div class="mt2_bgcolor--neutral--xxl mt2_row-gut-3 divider">&nbsp;</div>
{% include "app/styles/theme/headings.html" %}
<div class="mt2_bgcolor--neutral--xxl mt2_row-gut-3 divider">&nbsp;</div>
{% include "app/styles/theme/captions.html" %}
<div class="mt2_bgcolor--neutral--xxl mt2_row-gut-3 divider">&nbsp;</div>
{% include "app/styles/theme/article.html" %}
<div class="mt2_bgcolor--neutral--xxl mt2_row-gut-3 divider">&nbsp;</div>
{% include "app/styles/theme/pullquotes.html" %}
