$mt3_columns: 12;

// Object oriented grid classes in the style of bootstrap
// Reference: http://getbootstrap.com/css/#grid

%mt3_col-padding {
  float: left;
  position: relative;
  width: 100%;
}

@for $mt3_i from 1 through $mt3_columns { // loop through grid spans
  .mt3_col-#{$mt3_i} { // build the class name
    @extend %mt3_col-padding;

    width: percentage($mt3_i / $mt3_columns);
  }

  .mt3_col-offset-#{$mt3_i} {
    margin-left: percentage($mt3_i / $mt3_columns);
  }

  .mt3_col-pull-#{$mt3_i} {
    right: percentage($mt3_i / $mt3_columns);
  }

  .mt3_col-push-#{$mt3_i} {
    left: percentage($mt3_i / $mt3_columns);
  }
}

.mt3_col-offset-0 {
  margin-left: 0;
}

.mt3_col-pull-0 {
  right: auto;
}

.mt3_col-push-0 {
  left: auto;
}

@each $mt3_bp, $mt3_width in $mt3_layout-bps { // loop through breakpoints
  // hack to get around inability to extend from within media queries
  @for $mt3_i from 1 through $mt3_columns {
    .mt3_col-#{$mt3_bp}-#{$mt3_i} {
      @extend %mt3_col-padding;
    }
  }

  @media #{$mt3_width} {
    @for $mt3_i from 1 through $mt3_columns {
      .mt3_col-#{$mt3_bp}-#{$mt3_i} {
        width: percentage($mt3_i / $mt3_columns);
      }

      .mt3_col-#{$mt3_bp}-offset-#{$mt3_i} {
        margin-left: percentage($mt3_i / $mt3_columns);
      }

      .mt3_col-#{$mt3_bp}-pull-#{$mt3_i} {
        right: percentage($mt3_i / $mt3_columns);
      }

      .mt3_col-#{$mt3_bp}-push-#{$mt3_i} {
        left: percentage($mt3_i / $mt3_columns);
      }
    }

    .mt3_col-#{$mt3_bp}-offset-0 {
      margin-left: 0;
    }

    .mt3_col-#{$mt3_bp}-pull-0 {
      right: auto;
    }

    .mt3_col-#{$mt3_bp}-push-0 {
      left: auto;
    }
  }
}
