// Extends

%mt2_row {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }
}

.mt2_row {
  @extend %mt2_row;
}

.mt2_row-gut-half {
  margin-bottom: $mt2_unit / 2;
}

@for $mt2_i from 0 through 4 {
  .mt2_row-gut-#{$mt2_i} {
    @if $mt2_i < 1 {
      margin-bottom: 0;
    } @else {
      margin-bottom: $mt2_unit * $mt2_i;
    }
  }
}

@each $mt2_bp, $mt2_width in $mt2_layout-bps { // loop through breakpoints
  @media #{$mt2_width} {
    .mt2_row-#{$mt2_bp}-gut-half {
      margin-bottom: $mt2_unit / 2;
    }

    @for $mt2_i from 0 through 4 {
      .mt2_row-#{$mt2_bp}-gut-#{$mt2_i} {
        @if $mt2_i < 1 {
          margin-bottom: 0;
        } @else {
          margin-bottom: $mt2_unit * $mt2_i;
        }
      }
    }
  }
}
