// Extends

%mt_row {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }
}

.mt_row {
  @extend %mt_row;
}

.mt_row-gut-half {
  margin-bottom: $mt_unit / 2;
}

@for $mt_i from 0 through 4 {
  .mt_row-gut-#{$mt_i} {
    @if $mt_i < 1 {
      margin-bottom: 0;
    } @else {
      margin-bottom: $mt_unit * $mt_i;
    }
  }
}

@each $mt_bp, $mt_width in $mt_layout-bps { // loop through breakpoints
  @media #{$mt_width} {
    .mt_row-#{$mt_bp}-gut-half {
      margin-bottom: $mt_unit / 2;
    }

    @for $mt_i from 0 through 4 {
      .mt_row-#{$mt_bp}-gut-#{$mt_i} {
        @if $mt_i < 1 {
          margin-bottom: 0;
        } @else {
          margin-bottom: $mt_unit * $mt_i;
        }
      }
    }
  }
}
