<div class="pagewrapper mt_row mt_row-gut-4 mt_col-gut-lg">
  <div class="mt_col-lg-3">
    <h3 class="mt_h3">Columns</h3>

    <p class="mt_subh4">
      Gendam, solum, sum net abor sin pliquatet omnim vendes aut et aut aboribuscia ea dolo quatio. Officiet maiorro ipicius tibeaquiatis
      re experiam quam, invelias eius, volupie nihilib usandam que core.
    </p>
  </div>

  <div class="mt_col-lg-8 mt_col-sm-12 mt_col-offset-0 mt_col-lg-offset-1">
    <p class="mt_subh4">
      <span class="mt_h5">Available classes:</span>

      "`*`" can be replaced with a relevant number. Column, offset, push, and pull are all respective to the twelve column grid so 1 through 12 are available. Gutters are available in half, 1, 2, 3, and 4.
    </p>

    <table class="mt_bgcolor--neutral--lighter-even-even mt_col-12 mt_row-gut-2">
      <tr>
        <td></td>
        <td class="mt_h5">default class name</td>
        <td class="mt_h5">class name with breakpoint</td>
      </tr>
      <tr>
        <td class="mt_h5">Column</td>
        <td class="mt_subh4">.mt_col-*</td>
        <td class="mt_subh4">.mt_col-[sm, md, lg]-*</td>
      </tr>
      <tr>
        <td class="mt_h5">Offset</td>
        <td class="mt_subh4">.mt_col-offset-*</td>
        <td class="mt_subh4">.mt_col-[sm, md, lg]-offset-*</td>
      </tr>
      <tr>
        <td class="mt_h5">Pull</td>
        <td class="mt_subh4">.mt_col-pull-*</td>
        <td class="mt_subh4">.mt_col-[sm, md, lg]-pull-*</td>
      </tr>
      <tr>
        <td class="mt_h5">Push</td>
        <td class="mt_subh4">.mt_col-push-*</td>
        <td class="mt_subh4">.mt_col-[sm, md, lg]-push-*</td>
      </tr>
      <tr>
        <td class="mt_h5">Column Gutter</td>
        <td class="mt_subh4" class="mt_subh4">.mt_col-gut-*</td>
        <td class="mt_subh4">.mt_col-[sm, md, lg]-gut-*</td>
      </tr>
      <tr>
        <td class="mt_h5">Row Gutter</td>
        <td class="mt_subh4">.mt_row-gut-*</td>
        <td class="mt_subh4">.mt_row-[sm, md, lg]-gut-*`</td>
      </tr>
    </table>

    <p class="mt_subh4">
      <span class="mt_h5">Available Breakpoints:</span>

      Column, offset, pull, push, column gutter, and row gutter can all be adjusted at the following breakpoints.
    </p>

    <table class="mt_bgcolor--neutral--lighter-even-even mt_col-12 mt_row-gut-2">
      <tr>
        <td class="mt_h5">breakpoint name</td>
        <td class="mt_h5">size</td>
      </tr>
      <tr>
        <td class="mt_subh4">sm</td>
        <td class="mt_subh4"> > 30em (480px)</td>
      </tr>
      <tr>
        <td class="mt_subh4">md</td>
        <td class="mt_subh4"> > 50em (800px)</td>
      </tr>
      <tr>
        <td class="mt_subh4">lg</td>
        <td class="mt_subh4"> > 70em (1120px)</td>
      </tr>
    </table>
  </div>
</div>
