<div class="pagewrapper mt_row mt_col-gut-lg">
  <div class="mt_col-lg-8 mt_col-sm-12 mt_col-offset-0 mt_col-lg-offset-1 mt_row-gut-3 gridexample">
    <p class="mt_subh4">
      <span class="mt_h5">Column Gutters:</span> The padding between columns is configurable and is available in the following classes: none, small, medium, and large. These can also be configured for each breakpoint.
    </p>
    <div class="mt_row-gut-3 mt_col-gut-lg gridexample">

      <!-- Example -->

      <div class="mt_row mt_row-gut-1">
        <div class="mt_col-6">
          <div class="exampleborder mt_paddingdefault">&nbsp;</div>
        </div>
        <div class="mt_col-6">
          <div class="exampleborder mt_paddingdefault">&nbsp;</div>
        </div>
      </div>

      <div class="mt_row mt_row-gut-1">
        <div class="mt_col-6 mt_col-gut-sm">
          <div class="exampleborder mt_paddingdefault">&nbsp;</div>
        </div>
        <div class="mt_col-6 mt_col-gut-sm">
          <div class="exampleborder mt_paddingdefault">&nbsp;</div>
        </div>
      </div>

      <div class="mt_row mt_row-gut-1">
        <div class="mt_col-6 mt_col-gut-md">
          <div class="exampleborder mt_paddingdefault">&nbsp;</div>
        </div>
        <div class="mt_col-6 mt_col-gut-md">
          <div class="exampleborder mt_paddingdefault">&nbsp;</div>
        </div>
      </div>

      <div class="mt_row mt_row-gut-1">
        <div class="mt_col-6 mt_col-gut-lg">
          <div class="exampleborder mt_paddingdefault">&nbsp;</div>
        </div>
        <div class="mt_col-6 mt_col-gut-lg">
          <div class="exampleborder mt_paddingdefault">&nbsp;</div>
        </div>
      </div>

      <!-- Grid design example -->

      <div class="mt_bgcolor--primary--lighter gridexample-container">
        <div class="mt_col-12 mt_col-sm-1 mt_col-gut-lg dashed-border">
          <div class="mt_bgcolor--primary gridexample-item">&nbsp;</div>
        </div>
        <div class="mt_col-2 mt_col-sm-1 mt_col-gut-lg dashed-border gridexample-container--hidden">
          <div class="mt_bgcolor--primary gridexample-item">&nbsp;</div>
        </div>
        <div class="mt_col-2 mt_col-sm-1 mt_col-gut-lg dashed-border gridexample-container--hidden">
          <div class="mt_bgcolor--primary gridexample-item">&nbsp;</div>
        </div>
        <div class="mt_col-2 mt_col-sm-1 mt_col-gut-lg dashed-border gridexample-container--hidden">
          <div class="mt_bgcolor--primary gridexample-item">&nbsp;</div>
        </div>
        <div class="mt_col-2 mt_col-sm-1 mt_col-gut-lg dashed-border gridexample-container--hidden">
          <div class="mt_bgcolor--primary gridexample-item">&nbsp;</div>
        </div>
        <div class="mt_col-2 mt_col-sm-1 mt_col-gut-lg dashed-border gridexample-container--hidden">
          <div class="mt_bgcolor--primary gridexample-item">&nbsp;</div>
        </div>
        <div class="mt_col-2 mt_col-sm-1 mt_col-gut-lg dashed-border gridexample-container--hidden">
          <div class="mt_bgcolor--primary gridexample-item">&nbsp;</div>
        </div>
        <div class="mt_col-2 mt_col-sm-1 mt_col-gut-lg dashed-border gridexample-container--hidden">
          <div class="mt_bgcolor--primary gridexample-item">&nbsp;</div>
        </div>
        <div class="mt_col-2 mt_col-sm-1 mt_col-gut-lg dashed-border gridexample-container--hidden">
          <div class="mt_bgcolor--primary gridexample-item">&nbsp;</div>
        </div>
        <div class="mt_col-2 mt_col-sm-1 mt_col-gut-lg dashed-border gridexample-container--hidden">
          <div class="mt_bgcolor--primary gridexample-item">&nbsp;</div>
        </div>
        <div class="mt_col-2 mt_col-sm-1 mt_col-gut-lg dashed-border gridexample-container--hidden">
          <div class="mt_bgcolor--primary gridexample-item">&nbsp;</div>
        </div>
        <div class="mt_col-2 mt_col-sm-1 mt_col-gut-lg dashed-border gridexample-container--hidden">
          <div class="mt_bgcolor--primary gridexample-item">&nbsp;</div>
        </div>
      </div>
    </div>

    <p class="mt_subh4">
      <span class="mt_h5">Responsive Gutters:</span>

      Use the breakpoint classes to additionally grow or shrink gutters at different breakpoints.
    </p>

    <div class="gridexample">

      <!-- Example -->

      <div class="mt_row mt_row-gut-1">
        <div class="mt_col-6 mt_col-gut-sm mt_col-sm-gut-1 mt_col-md-gut-2">
          <div class="exampleborder mt_paddingdefault">&nbsp;</div>
        </div>
        <div class="mt_col-6 mt_col-gut-sm mt_col-sm-gut-1 mt_col-md-gut-2">
          <div class="exampleborder mt_paddingdefault">&nbsp;</div>
        </div>
      </div>

      <!-- Grid design example -->

      <div class="mt_bgcolor--primary--lighter gridexample-container">
        <div class="mt_col-12 mt_col-sm-1 mt_col-gut-lg dashed-border">
          <div class="mt_bgcolor--primary gridexample-item">&nbsp;</div>
        </div>
        <div class="mt_col-2 mt_col-sm-1 mt_col-gut-lg dashed-border gridexample-container--hidden">
          <div class="mt_bgcolor--primary gridexample-item">&nbsp;</div>
        </div>
        <div class="mt_col-2 mt_col-sm-1 mt_col-gut-lg dashed-border gridexample-container--hidden">
          <div class="mt_bgcolor--primary gridexample-item">&nbsp;</div>
        </div>
        <div class="mt_col-2 mt_col-sm-1 mt_col-gut-lg dashed-border gridexample-container--hidden">
          <div class="mt_bgcolor--primary gridexample-item">&nbsp;</div>
        </div>
        <div class="mt_col-2 mt_col-sm-1 mt_col-gut-lg dashed-border gridexample-container--hidden">
          <div class="mt_bgcolor--primary gridexample-item">&nbsp;</div>
        </div>
        <div class="mt_col-2 mt_col-sm-1 mt_col-gut-lg dashed-border gridexample-container--hidden">
          <div class="mt_bgcolor--primary gridexample-item">&nbsp;</div>
        </div>
        <div class="mt_col-2 mt_col-sm-1 mt_col-gut-lg dashed-border gridexample-container--hidden">
          <div class="mt_bgcolor--primary gridexample-item">&nbsp;</div>
        </div>
        <div class="mt_col-2 mt_col-sm-1 mt_col-gut-lg dashed-border gridexample-container--hidden">
          <div class="mt_bgcolor--primary gridexample-item">&nbsp;</div>
        </div>
        <div class="mt_col-2 mt_col-sm-1 mt_col-gut-lg dashed-border gridexample-container--hidden">
          <div class="mt_bgcolor--primary gridexample-item">&nbsp;</div>
        </div>
        <div class="mt_col-2 mt_col-sm-1 mt_col-gut-lg dashed-border gridexample-container--hidden">
          <div class="mt_bgcolor--primary gridexample-item">&nbsp;</div>
        </div>
        <div class="mt_col-2 mt_col-sm-1 mt_col-gut-lg dashed-border gridexample-container--hidden">
          <div class="mt_bgcolor--primary gridexample-item">&nbsp;</div>
        </div>
        <div class="mt_col-2 mt_col-sm-1 mt_col-gut-lg dashed-border gridexample-container--hidden">
          <div class="mt_bgcolor--primary gridexample-item">&nbsp;</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt_bgcolor--neutral--lighter-even-even mt_row-gut-2 divider">&nbsp;</div>
