<div class="pagewrapper mt_col-gut-1">
  <div class="mt_row-gut-3">
    <p class="mt_subh4">
      <span class="mt_h5">Columns:</span>

      The classes provided are based upon a twelve column grid available at any breakpoint
    </p>
  </div>

    <!-- Example -->
    <div class="" style="position: relative;">





    <div class="mt_row">
      <div class="mt_col-12 mt_col-gut-lg">
        <div class="exampleborder mt_paddingdefault mt_row-gut-1">&nbsp;</div>
      </div>

      <div class="mt_col-1 mt_col-gut-lg">
        <div class="exampleborder mt_paddingdefault mt_row-gut-1">&nbsp;</div>
      </div>
      <div class="mt_col-11 mt_col-gut-lg">
        <div class="exampleborder mt_paddingdefault mt_row-gut-1">&nbsp;</div>
      </div>

      <div class="mt_col-2 mt_col-gut-lg">
        <div class="exampleborder mt_paddingdefault mt_row-gut-1">&nbsp;</div>
      </div>
      <div class="mt_col-10 mt_col-gut-lg">
        <div class="exampleborder mt_paddingdefault mt_row-gut-1">&nbsp;</div>
      </div>

      <div class="mt_col-3 mt_col-gut-lg">
        <div class="exampleborder mt_paddingdefault mt_row-gut-1">&nbsp;</div>
      </div>
      <div class="mt_col-9 mt_col-gut-lg">
        <div class="exampleborder mt_paddingdefault mt_row-gut-1">&nbsp;</div>
      </div>

      <div class="mt_col-4 mt_col-gut-lg">
        <div class="exampleborder mt_paddingdefault mt_row-gut-1">&nbsp;</div>
      </div>
      <div class="mt_col-8 mt_col-gut-lg">
        <div class="exampleborder mt_paddingdefault mt_row-gut-1">&nbsp;</div>
      </div>

      <div class="mt_col-5 mt_col-gut-lg">
        <div class="exampleborder mt_paddingdefault mt_row-gut-1">&nbsp;</div>
      </div>
      <div class="mt_col-7 mt_col-gut-lg">
        <div class="exampleborder mt_paddingdefault mt_row-gut-1">&nbsp;</div>
      </div>

      <div class="mt_col-6 mt_col-gut-lg">
        <div class="exampleborder mt_paddingdefault">&nbsp;</div>
      </div>
      <div class="mt_col-6 mt_col-gut-lg">
        <div class="exampleborder mt_paddingdefault">&nbsp;</div>
      </div>
    </div>

    <!--grid design example -->

    <div class="mt_bgcolor--primary--lighter gridexample">
        <div class="mt_col-12 mt_col-sm-1 mt_col-gut-lg dashed-border">
          <div class="mt_bgcolor--primary gridexample-item">&nbsp;</div>
        </div>
        <div class="mt_col-2 mt_col-sm-1 mt_col-gut-lg dashed-border gridexample-container--hidden">
          <div class="mt_bgcolor--primary gridexample-item">&nbsp;</div>
        </div>
        <div class="mt_col-2 mt_col-sm-1 mt_col-gut-lg dashed-border gridexample-container--hidden">
          <div class="mt_bgcolor--primary gridexample-item">&nbsp;</div>
        </div>
        <div class="mt_col-2 mt_col-sm-1 mt_col-gut-lg dashed-border gridexample-container--hidden">
          <div class="mt_bgcolor--primary gridexample-item">&nbsp;</div>
        </div>
        <div class="mt_col-2 mt_col-sm-1 mt_col-gut-lg dashed-border gridexample-container--hidden">
          <div class="mt_bgcolor--primary gridexample-item">&nbsp;</div>
        </div>
        <div class="mt_col-2 mt_col-sm-1 mt_col-gut-lg dashed-border gridexample-container--hidden">
          <div class="mt_bgcolor--primary gridexample-item">&nbsp;</div>
        </div>
        <div class="mt_col-2 mt_col-sm-1 mt_col-gut-lg dashed-border gridexample-container--hidden">
          <div class="mt_bgcolor--primary gridexample-item">&nbsp;</div>
        </div>
        <div class="mt_col-2 mt_col-sm-1 mt_col-gut-lg dashed-border gridexample-container--hidden">
          <div class="mt_bgcolor--primary gridexample-item">&nbsp;</div>
        </div>
        <div class="mt_col-2 mt_col-sm-1 mt_col-gut-lg dashed-border gridexample-container--hidden">
          <div class="mt_bgcolor--primary gridexample-item">&nbsp;</div>
        </div>
        <div class="mt_col-2 mt_col-sm-1 mt_col-gut-lg dashed-border gridexample-container--hidden">
          <div class="mt_bgcolor--primary gridexample-item">&nbsp;</div>
        </div>
        <div class="mt_col-2 mt_col-sm-1 mt_col-gut-lg dashed-border gridexample-container--hidden">
          <div class="mt_bgcolor--primary gridexample-item">&nbsp;</div>
        </div>
        <div class="mt_col-2 mt_col-sm-1 mt_col-gut-lg dashed-border gridexample-container--hidden">
          <div class="mt_bgcolor--primary gridexample-item">&nbsp;</div>
        </div>
      </div>


    </div>

  <div class="mt_row-gut-3">
    <p class="mt_subh4">
      <span class="mt_h5">Responsive Grid:</span>

      Use the breakpoint classes to override layouts at certain browser widths. Mobile first!
    </p>

    <!-- Example -->

    <div class="mt_cf">
      <div class="mt_col-6 mt_col-sm-4 mt_col-md-3 mt_col-lg-2">
        <div class="exampleborder mt_paddingdefault mt_row-gut-1">&nbsp;</div>
      </div>
      <div class="mt_col-6 mt_col-sm-4 mt_col-md-3 mt_col-lg-2">
        <div class="exampleborder mt_paddingdefault mt_row-gut-1">&nbsp;</div>
      </div>
      <div class="mt_col-6 mt_col-sm-4 mt_col-md-3 mt_col-lg-2">
        <div class="exampleborder mt_paddingdefault mt_row-gut-1">&nbsp;</div>
      </div>
      <div class="mt_col-6 mt_col-sm-4 mt_col-md-3 mt_col-lg-2">
        <div class="exampleborder mt_paddingdefault mt_row-gut-1">&nbsp;</div>
      </div>
      <div class="mt_col-6 mt_col-sm-4 mt_col-md-3 mt_col-lg-2">
        <div class="exampleborder mt_paddingdefault mt_row-gut-1">&nbsp;</div>
      </div>
      <div class="mt_col-6 mt_col-sm-4 mt_col-md-3 mt_col-lg-2">
        <div class="exampleborder mt_paddingdefault mt_row-gut-1">&nbsp;</div>
      </div>
      <div class="mt_col-6 mt_col-sm-4 mt_col-md-3 mt_col-lg-2">
        <div class="exampleborder mt_paddingdefault mt_row-gut-1">&nbsp;</div>
      </div>
      <div class="mt_col-6 mt_col-sm-4 mt_col-md-3 mt_col-lg-2">
        <div class="exampleborder mt_paddingdefault mt_row-gut-1">&nbsp;</div>
      </div>
      <div class="mt_col-6 mt_col-sm-4 mt_col-md-3 mt_col-lg-2">
        <div class="exampleborder mt_paddingdefault mt_row-gut-1">&nbsp;</div>
      </div>
      <div class="mt_col-6 mt_col-sm-4 mt_col-md-3 mt_col-lg-2">
        <div class="exampleborder mt_paddingdefault mt_row-gut-1">&nbsp;</div>
      </div>
      <div class="mt_col-6 mt_col-sm-4 mt_col-md-3 mt_col-lg-2">
        <div class="exampleborder mt_paddingdefault mt_row-gut-1">&nbsp;</div>
      </div>
      <div class="mt_col-6 mt_col-sm-4 mt_col-md-3 mt_col-lg-2">
        <div class="exampleborder mt_paddingdefault mt_row-gut-1">&nbsp;</div>
      </div>
    </div>
  </div>

  <div class="mt_row-gut-3">
    <p class="mt_subh4">
    <span class="mt_h5">Offsetting:</span>

    Offset classes use `margin-left` to "skip" columns and create larger gaps between rows.
    </p>

    <!-- Example -->

    <div class="mt_row">
      <div class="mt_col-6 mt_col-offset-3">
        <div class="exampleborder mt_paddingdefault mt_row-gut-1">&nbsp;</div>
      </div>
    </div>

    <div class="mt_row">
      <div class="mt_col-3 mt_col-offset-4">
        <div class="exampleborder mt_paddingdefault mt_row-gut-1">&nbsp;</div>
      </div>
      <div class="mt_col-3 mt_col-offset-2">
        <div class="exampleborder mt_paddingdefault mt_row-gut-1">&nbsp;</div>
      </div>
    </div>

    <div class="mt_row">
      <div class="mt_col-4 mt_col-offset-1">
          <div class="exampleborder mt_paddingdefault mt_row-gut-1">&nbsp;</div>
      </div>
    </div>
  </div>

  <div class="mt_row-gut-3">
    <p class="mt_subh4">
      <span class="mt_h5">Reorder:</span>

      "Push" and "pull" classes can be used to switch the graphical presentation from the source order of the html.
    </p>

    <!-- Example -->

    <div class="mt_cf">
      <div class="mt_col-3 mt_col-push-9">
        <div class="exampleborder mt_paddingdefault mt_row-gut-1">&nbsp;</div>
      </div>

      <div class="mt_col-9 mt_col-pull-3">
        <div class="exampleborder mt_paddingdefault mt_row-gut-1">&nbsp;</div>
      </div>
    </div>
  </div>
</div>
