<div class="pagewrapper mt_row-gut-3">
  <p class="mt_subh4 mt_col-gut-sm mt_col-md-gut-md mt_col-lg-gut-lg">
    <span class="mt_h5">Column:</span>

    This property refers to the number of columns a given object spans. Values range from 1 to 12. The examples below show objects that span the same number of columns across all breakpoints.
  </p>

  <!-- Example -->

  <div class="gridexample mt_row-gut-3 ">
    <div class="mt_row">
      {% for gutter in [12,1,11,2,10,3,9,4,8,5,7,6,6] %}
        <div class="mt_col-{{gutter}} mt_col-gut-sm mt_col-md-gut-md mt_col-lg-gut-lg">
          <div class="exampleborder mt_row-gut-1">&nbsp;</div>
        </div>
      {% endfor %}
    </div>

    <!-- Grid design example -->

    {% include "./_partials/grid.html" %}
  </div>

  <!-- Code snippet -->

<pre class="codesnippet"><code class="language-markup">&lt;div class="mt_row"&gt;
  {% for gutter in [12,1,11,2,10,3,9,4,8,5,7,6,6] %}
  &lt;div class="mt_col-{{gutter}} mt_col-gut-sm mt_col-md-gut-md mt_col-lg-gut-lg"&gt;
    &lt;div class="exampleborder mt_row-gut-1">&nbsp;&lt;/div&gt;
  &lt;/div&gt;
  {% endfor %}
&lt;/div&gt;</code></pre>

  <p class="mt_subh4 mt_col-gut-sm mt_col-md-gut-md mt_col-lg-gut-lg">
    The following example uses the breakpoint classes to create an object that spans 6 columns on mobile, but 3 columns on desktop.
  </p>

  <div class="gridexample mt_row-gut-3">

  <!-- Example -->

  <div class="mt_cf">
     <div class="mt_col-6 mt_col-sm-6 mt_col-md-3 mt_col-lg-3 mt_col-gut-sm mt_col-md-gut-md mt_col-lg-gut-lg">
       <div class="exampleborder mt_row-gut-1">&nbsp;</div>
     </div>
  </div>

  <!-- Grid design example -->

  {% include "./_partials/grid.html" %}
  </div>


<pre class="codesnippet"><code class="language-markup">&lt;div class="mt_cf"&gt;
   &lt;div class="mt_col-6 mt_col-sm-6 mt_col-md-3 mt_col-lg-3 mt_col-gut-sm mt_col-md-gut-md mt_col-lg-gut-lg"&gt;
     &lt;div class="exampleborder mt_row-gut-1"&gt;&nbsp;&lt;/div&gt;
   &lt;/div&gt;
&lt;/div&gt;</code></pre>

  <p class="mt_subh4 mt_col-gut-sm mt_col-md-gut-md mt_col-lg-gut-lg">
    <span class="mt_h5">Offset:</span>

    This property is used to create empty columns of space in between objects. Breakpoint classes are also available for this property.
  </p>

  <div class="gridexample mt_row-gut-3">

    <!-- Example -->

    <div class="mt_row">
      <div class="mt_col-6 mt_col-offset-3 mt_col-gut-sm mt_col-md-gut-md mt_col-lg-gut-lg">
        <div class="exampleborder mt_row-gut-1">&nbsp;</div>
      </div>
    </div>

    <div class="mt_row">
      <div class="mt_col-3 mt_col-offset-4 mt_col-gut-sm mt_col-md-gut-md mt_col-lg-gut-lg">
        <div class="exampleborder mt_row-gut-1">&nbsp;</div>
      </div>
      <div class="mt_col-3 mt_col-offset-2 mt_col-gut-sm mt_col-md-gut-md mt_col-lg-gut-lg">
        <div class="exampleborder mt_row-gut-1">&nbsp;</div>
      </div>
    </div>

    <div class="mt_row">
      <div class="mt_col-4 mt_col-offset-1 mt_col-gut-sm mt_col-md-gut-md mt_col-lg-gut-lg">
        <div class="exampleborder mt_row-gut-1">&nbsp;</div>
      </div>
    </div>

    <!-- Grid design example -->

    {% include "./_partials/grid.html" %}
  </div>

  <!-- Code snippet -->
<pre class="codesnippet"><code class="language-markup">&lt;div class="mt_row"&gt;
  &lt;div class="mt_col-6 mt_col-offset-3 mt_col-gut-sm mt_col-md-gut-md mt_col-lg-gut-lg"&gt;
    &lt;div class="exampleborder mt_row-gut-1"&gt;&nbsp;&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;div class="mt_row"&gt;
  &lt;div class="mt_col-3 mt_col-offset-4 mt_col-gut-sm mt_col-md-gut-md mt_col-lg-gut-lg"&gt;
    &lt;div class="exampleborder mt_row-gut-1"&gt;&nbsp;&lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="mt_col-3 mt_col-offset-2 mt_col-gut-sm mt_col-md-gut-md mt_col-lg-gut-lg"&gt;
    &lt;div class="exampleborder mt_row-gut-1"&gt;&nbsp;&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;div class="mt_row"&gt;
  &lt;div class="mt_col-4 mt_col-offset-1 mt_col-gut-sm mt_col-md-gut-md mt_col-lg-gut-lg"&gt;
    &lt;div class="exampleborder mt_row-gut-1"&gt;&nbsp;&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>


  <p class="mt_subh4 mt_col-gut-sm mt_col-md-gut-md mt_col-lg-gut-lg">
    <span class="mt_h5">Reorder:</span>

    The &ldquo;push&rdquo; and &ldquo;pull&rdquo; classes can be used to switch the graphical presentation from the source order of the HTML.
  </p>

  <div class="gridexample mt_row-gut-2">

    <!-- Example -->

    <div class="mt_cf">
      <div class="mt_col-3 mt_col-push-9 mt_col-gut-sm mt_col-md-gut-md mt_col-lg-gut-lg">
        <div class="exampleborder mt_row-gut-1">&nbsp;</div>
      </div>

      <div class="mt_col-9 mt_col-pull-3 mt_col-gut-sm mt_col-md-gut-md mt_col-lg-gut-lg">
        <div class="exampleborder mt_row-gut-1">&nbsp;</div>
      </div>
    </div>

    <!-- Grid design example -->

    {% include "./_partials/grid.html" %}
  </div>

  <!-- Code snippet -->
<pre class="codesnippet"><code class="language-markup">&lt;div class="mt_cf"&gt;
  &lt;div class="mt_col-3 mt_col-push-9 mt_col-gut-sm mt_col-md-gut-md mt_col-lg-gut-lg"&gt;
    &lt;div class="exampleborder mt_row-gut-1"&gt;&nbsp;&lt;/div&gt;
  &lt;/div&gt;

  &lt;div class="mt_col-9 mt_col-pull-3 mt_col-gut-sm mt_col-md-gut-md mt_col-lg-gut-lg"&gt;
    &lt;div class="exampleborder mt_row-gut-1"&gt;&nbsp;&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>


</div>
