<h3>Columns</h3>

<h4>Grid</h4>

<h5>Available classes</h5>

<p>"`*`" can be replaced with a relevant number. Column, offset, push, and pull are all respective to the twelve column grid so 1 through 12 are available. Gutters are avaiable in half, 1, 2, 3, and 4.</p>


<table>
  <tr>
    <td></td>
    <td>default class name</td>
    <td>class name with breakpoint</td>
  </tr>
  <tr>
    <td>Column</td>
    <td>.mt_col-*</td>
    <td>.mt_col-[sm, md, lg]-*</td>
  </tr>
  <tr>
    <td>Offset</td>
    <td>.mt_col-offset-*</td>
    <td>.mt_col-[sm, md, lg]-offset-*</td>
  </tr>
  <tr>
    <td>Pull</td>
    <td>.mt_col-pull-*</td>
    <td>.mt_col-[sm, md, lg]-pull-*</td>
  </tr>
  <tr>
    <td>Push</td>
    <td>.mt_col-push-*</td>
    <td>.mt_col-[sm, md, lg]-push-*</td>
  </tr>
  <tr>
    <td>Column Gutter</td>
    <td>.mt_col-gut-*</td>
    <td>.mt_col-[sm, md, lg]-gut-*</td>
  </tr>
  <tr>
    <td>Row Gutter</td>
    <td>.mt_row-gut-*</td>
    <td>.mt_row-[sm, md, lg]-gut-*`</td>
  </tr>
</table>

<h5>Available breakpoints</h5>

<p>Column, offset, pull, push, column gutter, and row gutter can all be adjusted at the following breakpoints.</p>

<table>
  <tr>
    <td>breakpoint name</td>
    <td>size</td>
  </tr>
  <tr>
    <td>sm</td>
    <td>> 30em (480px)</td>
  </tr>
  <tr>
    <td>md</td>
    <td>> 50em (800px)</td>
  </tr>
  <tr>
    <td>lg</td>
    <td>> 70em (1120px)</td>
  </tr>
</table>

<h4>Columns</h4>

<p>The classes provided are based upon a twelve column grid available at any breakpoint</p>

<!-- Example -->

<div class="mt_row">
  <div class="mt_col-12">
    <div class="mt_bg-color-neutral--light mt_paddingdefault mt_row-gut-1">12</div>
  </div>

  <div class="mt_col-1">
    <div class="mt_bg-color-neutral--dark mt_paddingdefault mt_row-gut-1">1</div>
  </div>
  <div class="mt_col-11">
    <div class="mt_bg-color-neutral--light mt_paddingdefault mt_row-gut-1">11</div>
  </div>

  <div class="mt_col-2">
    <div class="mt_bg-color-neutral--dark mt_paddingdefault mt_row-gut-1">2</div>
  </div>
  <div class="mt_col-10">
    <div class="mt_bg-color-neutral--light mt_paddingdefault mt_row-gut-1">10</div>
  </div>

  <div class="mt_col-3">
    <div class="mt_bg-color-neutral--dark mt_paddingdefault mt_row-gut-1">3</div>
  </div>
  <div class="mt_col-9">
    <div class="mt_bg-color-neutral--light mt_paddingdefault mt_row-gut-1">9</div>
  </div>

  <div class="mt_col-4">
    <div class="mt_bg-color-neutral--dark mt_paddingdefault mt_row-gut-1">4</div>
  </div>
  <div class="mt_col-8">
    <div class="mt_bg-color-neutral--light mt_paddingdefault mt_row-gut-1">8</div>
  </div>

  <div class="mt_col-5">
    <div class="mt_bg-color-neutral--dark mt_paddingdefault mt_row-gut-1">5</div>
  </div>
  <div class="mt_col-7">
    <div class="mt_bg-color-neutral--light mt_paddingdefault mt_row-gut-1">7</div>
  </div>

  <div class="mt_col-6">
    <div class="mt_bg-color-neutral--dark mt_paddingdefault">6</div>
  </div>
  <div class="mt_col-6">
    <div class="mt_bg-color-neutral--light mt_paddingdefault">6</div>
  </div>
</div>

<h4>Responsive Grid</h4>

<p>Use the breakpoint classes to override layouts at certain browser widths. Mobile first!</p>

<!-- Example -->

<div class="mt_cf">
  <div class="mt_col-6 mt_col-sm-4 mt_col-md-3 mt_col-lg-2">
    <div class="mt_bg-color-neutral--dark mt_paddingdefault mt_row-gut-1">&nbsp;</div>
  </div>
  <div class="mt_col-6 mt_col-sm-4 mt_col-md-3 mt_col-lg-2">
    <div class="mt_bg-color-neutral--light mt_paddingdefault mt_row-gut-1">&nbsp;</div>
  </div>
  <div class="mt_col-6 mt_col-sm-4 mt_col-md-3 mt_col-lg-2">
    <div class="mt_bg-color-neutral--dark mt_paddingdefault mt_row-gut-1">&nbsp;</div>
  </div>
  <div class="mt_col-6 mt_col-sm-4 mt_col-md-3 mt_col-lg-2">
    <div class="mt_bg-color-neutral--light mt_paddingdefault mt_row-gut-1">&nbsp;</div>
  </div>
  <div class="mt_col-6 mt_col-sm-4 mt_col-md-3 mt_col-lg-2">
    <div class="mt_bg-color-neutral--dark mt_paddingdefault mt_row-gut-1">&nbsp;</div>
  </div>
  <div class="mt_col-6 mt_col-sm-4 mt_col-md-3 mt_col-lg-2">
    <div class="mt_bg-color-neutral--light mt_paddingdefault mt_row-gut-1">&nbsp;</div>
  </div>
  <div class="mt_col-6 mt_col-sm-4 mt_col-md-3 mt_col-lg-2">
    <div class="mt_bg-color-neutral--dark mt_paddingdefault mt_row-gut-1">&nbsp;</div>
  </div>
  <div class="mt_col-6 mt_col-sm-4 mt_col-md-3 mt_col-lg-2">
    <div class="mt_bg-color-neutral--light mt_paddingdefault mt_row-gut-1">&nbsp;</div>
  </div>
  <div class="mt_col-6 mt_col-sm-4 mt_col-md-3 mt_col-lg-2">
    <div class="mt_bg-color-neutral--dark mt_paddingdefault mt_row-gut-1">&nbsp;</div>
  </div>
  <div class="mt_col-6 mt_col-sm-4 mt_col-md-3 mt_col-lg-2">
    <div class="mt_bg-color-neutral--light mt_paddingdefault mt_row-gut-1">&nbsp;</div>
  </div>
  <div class="mt_col-6 mt_col-sm-4 mt_col-md-3 mt_col-lg-2">
    <div class="mt_bg-color-neutral--dark mt_paddingdefault mt_row-gut-1">&nbsp;</div>
  </div>
  <div class="mt_col-6 mt_col-sm-4 mt_col-md-3 mt_col-lg-2">
    <div class="mt_bg-color-neutral--light mt_paddingdefault mt_row-gut-1">&nbsp;</div>
  </div>
</div>

<h4>Offsetting</h4>

<p>Offset classes use `margin-left` to "skip" columns and create larger gaps between rows.</p>

<!-- Example -->

<div class="mt_row">
  <div class="mt_col-6 mt_col-offset-3">
    <div class="mt_bg-color-neutral--dark mt_paddingdefault mt_row-gut-1">&nbsp;</div>
  </div>
</div>

<div class="mt_row">
  <div class="mt_col-3 mt_col-offset-4">
    <div class="mt_bg-color-neutral--light mt_paddingdefault mt_row-gut-1">&nbsp;</div>
  </div>
  <div class="mt_col-3 mt_col-offset-2">
    <div class="mt_bg-color-neutral--light mt_paddingdefault mt_row-gut-1">&nbsp;</div>
  </div>
</div>

<div class="mt_row">
    <div class="mt_col-4 mt_col-offset-1">
        <div class="mt_bg-color-neutral--dark mt_paddingdefault mt_row-gut-1">&nbsp;</div>
    </div>
</div>

<h4>Reorder</h4>

<p>"Push" and "pull" classes can be used to switch the graphical presentation from the source order of the html.</p>

<!-- Example -->

<div class="mt_cf">
  <div class="mt_col-3 mt_col-push-9">
    <div class="mt_bg-color-neutral--dark mt_paddingdefault mt_row-gut-1">&nbsp;</div>
  </div>

  <div class="mt_col-9 mt_col-pull-3">
    <div class="mt_bg-color-neutral--light mt_paddingdefault mt_row-gut-1">&nbsp;</div>
  </div>
</div>
