<div class="pagewrapper mt_row mt_row-gut-4">

  <!-- Row Example -->

  <h3 class="mt_h3 mt_col-gut-sm mt_col-md-gut-md mt_col-lg-gut-lg">Rows</h3>
  <p class="mt_subh4 mt_col-gut-sm mt_col-md-gut-md mt_col-lg-gut-lg">
    The <code>.mt_row</code> class is really just a semantic extension of a clearfix to make sure a row clears floated columns. The bottom margin of rows is configurable and is available in the following classes: none, half, 1, 2, 3, and 4.
  </p>

  <div class="gridexample mt_row-gut-2">
    {% for row in ['none','half',1,2,3,4,'none'] %}
    <div class="mt_row mt_row-gut-{{row}}">
      <div class="mt_col-gut-sm mt_col-md-gut-md mt_col-lg-gut-lg">
        <div class="exampleborder">&nbsp;</div>
      </div>
    </div>
    {% endfor %}

    <!-- Grid design example -->

    {% include "./_partials/grid.html" %}
  </div>

    <!-- Code snippet -->

<pre class="codesnippet"><code class="language-markup">{% for row in ['none','half',1,2,3,4,'none'] %}
&lt;div class="mt_row mt_row-gut-{{row}}"&gt;
  &lt;div class="mt_col-gut-sm mt_col-md-gut-md mt_col-lg-gut-lg"&gt;
    &lt;div class="exampleborder"&gt;&nbsp;&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;{% endfor %}</code></pre>

    <!-- Row gutter example -->

    <p class="mt_subh4 mt_col-gut-sm mt_col-md-gut-md mt_col-lg-gut-lg">
      <span class="mt_h5">Responsive Row Gutters:</span>

      The row gutter can be configured for each breakpoint. Resize your browser to see how the gutter changes.
    </p>

    <!-- Row gutter example -->

    <div class="gridexample">
      <div class="mt_row mt_row-gut-1 mt_row-md-gut-2 mt_row-lg-gut-4">
        <div class="mt_col-md-gut-md mt_col-gut-sm mt_col-lg-gut-lg">
          <div class="exampleborder">&nbsp;</div>
        </div>
      </div>

      <div class="mt_row">
        <div class="mt_col-gut-sm mt_col-md-gut-md mt_col-lg-gut-lg">
          <div class="exampleborder">&nbsp;</div>
        </div>
      </div>

      <!-- Grid design example-->
      {% include "./_partials/grid.html" %}

    </div>

    <!-- Code snippet -->

<pre class="codesnippet"><code class="language-markup">&lt;div class="mt_row mt_row-gut-1 mt_row-md-gut-2 mt_row-lg-gut-4"&gt;
  &lt;div class="mt_col-md-gut-md mt_col-gut-sm mt_col-lg-gut-lg"&gt;
    &lt;div class="exampleborder"&gt;&nbsp;&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;div class="mt_row"&gt;
  &lt;div class="mt_col-gut-sm mt_col-md-gut-md mt_col-lg-gut-lg"&gt;
    &lt;div class="exampleborder"&gt;&nbsp;&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
</div>

<div class="mt_row-gut-4">&nbsp;</div>
