<div class="pagewrapper mt3_row mt3_row-gut-4">

  <!-- Row Example -->

  <h3 class="mt3_h3 mt3_col-gut">Rows</h3>
  <p class="mt3_subh4 mt3_col-gut">
    The &ldquo;.mt3_row&rdquo; class is really just a semantic extension of a clearfix to make sure a row clears floated columns. The bottom margin of rows is configurable and is available in the following classes: none, half, 1, 2, 3, and 4.
  </p>

  <div class="gridexample mt3_row-gut-2">
    {% for row in ['none','half',1,2,3,4,'none'] %}
    <div class="mt3_row mt3_row-gut-{{row}}">
      <div class="mt3_col-gut mt3_col-md-gut-md mt3_col-lg-gut-lg">
        <div class="exampleborder">&nbsp;</div>
      </div>
    </div>
    {% endfor %}

    <!-- Grid design example -->

    {% include "./_partials/grid.html" %}
  </div>

    <!-- Code snippet -->
  <div class="codesnippet-wrapper">
<pre class="codesnippet"><code class="language-markup">{% for row in ['none','half',1,2,3,4,'none'] %}
&lt;div class="mt3_row mt3_row-gut-{{row}}"&gt;&lt;/div&gt;{% endfor %}</code></pre>
  </div>

<hr/>

    <!-- Row gutter example -->

    <p class="mt3_subh4 mt3_col-gut">
      <span class="mt3_h5">Responsive Row Gutters:</span>

      The row gutter can be configured for each breakpoint. Resize your browser to see how the gutter changes.
    </p>

    <!-- Row gutter example -->

    <div class="gridexample">
      <div class="mt3_row mt3_row-gut-1 mt3_row-md-gut-2 mt3_row-lg-gut-4">
        <div class="mt3_col-md-gut-md mt3_col-gut">
          <div class="exampleborder">&nbsp;</div>
        </div>
      </div>

      <div class="mt3_row">
        <div class="mt3_col-gut mt3_col-md-gut-md mt3_col-lg-gut-lg">
          <div class="exampleborder">&nbsp;</div>
        </div>
      </div>

      <!-- Grid design example-->
      {% include "./_partials/grid.html" %}

    </div>

    <!-- Code snippet -->

<pre class="codesnippet"><code class="language-markup">&lt;div class="mt3_row mt3_row-gut-1 mt3_row-md-gut-2 mt3_row-lg-gut-4"&gt;&lt;/div&gt;

&lt;div class="mt3_row"&gt;&lt;/div&gt;</code></pre>
</div>

<div class="mt3_row-gut-4">&nbsp;</div>
