<div class="pagewrapper mt_row mt_col-gut-1">
  <div class="mt_row mt_row-gut-3">
    <div class="mt_col-lg-3 mt_row-gut-2">
      <h3 class="mt_h3">Rows</h3>

      <p class="mt_subh4">
        Gendam, solum, sum net abor sin pliquatet omnim vendes aut et aut aboribuscia ea dolo quatio. Officiet maiorro ipicius tibeaquiatis
        re experiam quam, invelias eius, volupie nihilib usandam que core.
      </p>
    </div>

    <!-- Example -->

    <div class="mt_col-lg-7 mt_col-sm-12 mt_col-offset-0 mt_col-md-offset-2">
      <p class="mt_subh4">
        <span class="mt_h5">Rows:</span>
        The `.mt_row` class is really just a semantic extension of a clearfix to make sure a row clears floated columns.
        Additionally you can add row gutter classes that will specify a margin bottom on a row.
      </p>

      <div class="mt_row mt_row-gut-half">
        <div class="mt_col-6 mt_col-gut-1">
          <div class="exampleborder mt_paddingdefault">&nbsp;</div>
        </div>
        <div class="mt_col-6 mt_col-gut-1">
          <div class="exampleborder mt_paddingdefault">&nbsp;</div>
        </div>
      </div>

      <div class="mt_row mt_row-gut-1">
        <div class="mt_col-6 mt_col-gut-1">
          <div class="exampleborder mt_paddingdefault">&nbsp;</div>
        </div>
        <div class="mt_col-6 mt_col-gut-1">
          <div class="exampleborder mt_paddingdefault">&nbsp;</div>
        </div>
      </div>

      <div class="mt_row mt_row-gut-2">
        <div class="mt_col-6 mt_col-gut-1">
          <div class="exampleborder mt_paddingdefault">&nbsp;</div>
        </div>
        <div class="mt_col-6 mt_col-gut-1">
          <div class="exampleborder mt_paddingdefault">&nbsp;</div>
        </div>
      </div>

      <div class="mt_row mt_row-gut-3">
        <div class="mt_col-6 mt_col-gut-1">
          <div class="exampleborder mt_paddingdefault">&nbsp;</div>
        </div>
        <div class="mt_col-6 mt_col-gut-1">
          <div class="exampleborder mt_paddingdefault">&nbsp;</div>
        </div>
      </div>

      <div class="mt_row mt_row-gut-4">
        <div class="mt_col-6 mt_col-gut-1">
          <div class="exampleborder mt_paddingdefault">&nbsp;</div>
        </div>
        <div class="mt_col-6 mt_col-gut-1">
          <div class="exampleborder mt_paddingdefault">&nbsp;</div>
        </div>
      </div>

      <div class="mt_row">
        <div class="mt_col-6 mt_col-gut-1">
          <div class="exampleborder mt_paddingdefault">&nbsp;</div>
        </div>
        <div class="mt_col-6 mt_col-gut-1">
          <div class="exampleborder mt_paddingdefault">&nbsp;</div>
        </div>
      </div>

      <p class="mt_subh4">
        <span class="mt_h5">Responsive Row Gutter:</span>

        Row gutters can be additionally grown or shrunk at breakpoints.
      </p>

      <div class="mt_row mt_row-gut-1 mt_row-md-gut-2 mt_row-lg-gut-4">
        <div class="mt_col-6 mt_col-gut-1">
          <div class="exampleborder mt_paddingdefault">&nbsp;</div>
        </div>
        <div class="mt_col-6 mt_col-gut-1">
          <div class="exampleborder mt_paddingdefault">&nbsp;</div>
        </div>
      </div>

      <div class="mt_row">
        <div class="mt_col-6 mt_col-gut-1">
          <div class="exampleborder mt_paddingdefault">&nbsp;</div>
        </div>
        <div class="mt_col-6 mt_col-gut-1">
          <div class="exampleborder mt_paddingdefault">&nbsp;</div>
        </div>
      </div>
    </div>
  </div>
</div>
