// Variables
// =========

$mt3_int-ratios: (
  broadcast: 56.25%, // (16:9)
  photo:     66.66%, // (3:2)
  tv:        75%,   // (4:3)
  square:    100%,  // (1:1)
  natgeo:    143.31%   // (1:1.43312101911)
);

// Style
// =====

.mt3_intratio {
  @each $mt3_int-ratio, $mt3_percentage in $mt3_int-ratios {
    &--#{$mt3_int-ratio} {
      height: 0;
      padding-bottom: $mt3_percentage;
    }
  }
}
