@mixin couldBeRichText($type:"") {
  //if the type "inline-block" is passed, both the element and potential child <p> elements will be styled as inline-block
  @if $type == "inline-block" {
    &, p {
      display: inline-block;
    }
  }

  p {
    margin-bottom: 0;

    //when there are multiple paragraphs, only the first will have no top margin
    &:first-of-type {
      margin-top: 0;
    }
  }
  a {
    color: inherit;
    text-decoration: inherit;
  }
}
