@mixin couldBeRichText($type: "") {
  @if $type == "inline-block" {
    &,
    p {
      display: inline-block;
    }
  }

  @if $type == "inline" {
    p {
      display: inline;
    }
  }

  p {
    margin-bottom: 0;

    &:first-of-type {
      margin-top: 0;
    }
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }
}
