.mt3_showcard {
  &-container {
    background: $mt3_color-black;
    color: $mt3_color-white;
    margin-bottom: 40px;
    position: relative;

    .mt3_div-link {
      cursor: pointer;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: zIndex('showcard-top');
    }

    // lead media
    figure {
      margin: 0;
      position: relative;
    }

    .mt3_promocard-text--overlay {
      background: $mt3_color-black-semit-l;
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: zIndex('showcard-back');
    }
  }

  &-text-container {
    height: 100%;
    left: 0;
    padding: 0 30px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: zIndex('showcard-middle');

    .mt3_showcard--tablet & {
      padding: 0 60px;
    }

    .mt3_showcard--desktop & {
      padding: 0 100px;
    }

    .mt3_showcard--lg-desktop & {
      padding: 0 160px;
    }
  }

  // vertically center show card text
  &-text-center {
    display: table;
    height: 100%;
    width: 100%;
  }

  &-text-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

  &-text {
    @extend %mt3_verlag;
    color: $mt3_color-white;
    display: inline-block;
    font-weight: 400;
    line-height: 1.05;
    /*horizontally center show card text*/
    text-align: left;
    vertical-align: middle;
  }

  &-heading,
  &-airdate {
    display: block;
    font-size: .75rem;
    line-height: 1.4;
    padding-left: 60px;

    .mt3_showcard--tablet & {
      padding-left: 80px;
    }

    .mt3_showcard--desktop & {
      padding-left: 120px;
    }

    .mt3_showcard--lg-desktop & {
      padding-left: 160px;
    }
  }

  &-heading,
  &-title {
    @include could-be-rich-text;
  }

  &-title {
    font-size: 22px;
    font-weight: 400;
    margin: .5em 0;
    padding-left: 30px;
    position: relative;

    // yellow index
    &::before {
      border-left: 3px solid $mt3_color-primary;
      content: '';
      display: inline-block;
      height: 17px;  // (fontsize - 5px)
      left: 0;
      position: absolute;
      top: 2px;
    }

    .mt3_showcard--tablet & {
      font-size: 36px;
      padding-left: 40px;

      // yellow index
      &::before {
        height: 28px;  // (fontsize - 8px)
        top: 3px;
      }
    }

    .mt3_showcard--desktop & {
      font-size: 50px;
      padding-left: 60px;

      // yellow index
      &::before {
        height: 38px;  // (fontsize - 12px)
        top: 6px;
      }
    }

    .mt3_showcard--lg-desktop & {
      font-size: 60px;
      padding-left: 80px;

      // yellow index
      &::before {
        height: 46px;  // (fontsize - 14px)
        top: 7px;
      }
    }
  }
}
