---
title: Grid
---

<div class="pagewrapper sectionpadding mt3_row mt3_col-gut">
  <div class="mt3_col-lg-10 mt3_row-gut-2">
    <h1 class="mt3_heading--h1--2">Grid</h1>

    <p class="mt3_page-description">
      Our pages are designed using a responsive 12-column grid. The grid is configurable and provides great flexibility for page layouts.
    </p>
  </div>
</div>

<div class="mt3_bgcolor--gray5 mt3_row-gut-2 divider">&nbsp;</div>


{% include "src/styles/grid/columns.html" %}
{% include "src/styles/grid/columnsdoc.html" %}
{% include "src/styles/grid/column-gutters.html" %}
{% include "src/styles/grid/rows.html" %}
