---
title: UI Patterns
---

<div class="pagewrapper mt3_row mt3_col-gut sectionpadding">
  <div class="mt3_col-lg-10 mt3_row-gut-2">
    <h1 class="mt3_h1">UI Patterns</h1>

    <p class="mt3_subh1">
      Whenever possible, adhere to the following library of common user interface patterns.
    </p>
  </div>
</div>

<div class="mt3_bgcolor--neutral--xxl divider">&nbsp;</div>

{% include "app/styles/patterns/buttons.html" %}
{% include "app/styles/patterns/inputs.html" %}
{% include "app/modules/modals/doc.html" %}
{% include "app/styles/blocks/videopromo.html" %}
{% include "app/styles/blocks/counters.html" %}
