---
title: UI Patterns
---

<div class="pagewrapper mt2_row mt2_col-gut-sm mt2_col-md-gut-md mt2_col-lg-gut-lg sectionpadding">
  <div class="mt2_col-lg-10 mt2_row-gut-2">
    <h1 class="mt2_h1">UI Patterns</h1>

    <p class="mt2_subh1">
      Whenever possible, adhere to the following library of common user interface patterns.
    </p>
  </div>
</div>

<div class="mt2_bgcolor--neutral--xxl divider">&nbsp;</div>

{% include "app/styles/patterns/buttons.html" %}
{% include "app/styles/patterns/inputs.html" %}
{% include "app/modules/modals/doc.html" %}
{% include "app/styles/blocks/videopromo.html" %}
{% include "app/styles/blocks/counters.html" %}
<div class="mt2_bgcolor--neutral--xxl mt2_row-gut-2 divider">&nbsp;</div>

{% include "app/modules/tooltips/tooltips.html" %}
