---
title: UI Patterns
---

<div class="pagewrapper mt_row mt_col-gut-lg">
  <div class="mt_col-12 mt_row-gut-2">
    <h1 class="mt_h1">UI Patterns</h1>
    <p class="mt_subh1">
      Whenever possible, adhere to the following library of common user interface patterns.
    </p>
  </div>
</div>

<div class="mt_bgcolor--neutral--lighter-even-even divider">&nbsp;</div>

{% include "app/styles/elements/buttons.html" %}
{% include "app/styles/elements/inputs.html" %}
{% include "app/modules/modals/doc.html" %}
{% include "app/styles/blocks/videopromo.html" %}
{% include "app/styles/blocks/counters.html" %}
{% include "app/styles/elements/links.html" %}
{% include "app/modules/tooltips/tooltips.html" %}
