/*doc
---
title: Related
name: related
category: Blocks
---

```html_example
<h1 class="subh4 related-title">Related News</h1>

<p class="subh5 related-category">Mission</p>
<h2 class="subh2 related-article">Best Space Photos 2013: Awesome Year of the Comet Shines Bright</h2>

<p class="subh5 related-category">From the Magazine</p>
<h2 class="subh2 related-article">Photos: Superior Ice Caves</h2>

<p class="subh5 related-category">Weird</p>
<h2 class="subh2 related-article">Methane Emissions Far Worse Than U.S. Estimates, Study Finds</h2>
```
*/


.related {
    @include e( title ) {
        @include margin-trailer( .5, $ms-sm );
    }

    @include e( category ) {
        margin-bottom: 0;
    }

    @include e( article ) {
        @include margin-trailer( 1, $ms-norm );
    }
}
