/*doc
---
title: Social
name: social
category: Typography
---

<i class="social-icon icongs icongs-comment"></i><span class="subh5"><strong class="social-number">23</strong> comments</span>
*/

.social {
    @include e( icon ) {
        margin-right: $padding-quarter;
    }

    @include e( number ) {
        margin-right: $padding-quarter;
    }
}
