// Heading Classes
// ===============

/*doc
---
title: Heading Classes
name: heading classes
parent: headings
---

Headings are also available as classes so you can use them when a semantic tag doesn't line up with style need.

```html_example
<h1 class="h3">h1 styled as h3</h1>
<span class="h1">span styled as h1</h1>
```

*/

// Headings

%h1 {
    @extend %mt_font-size-xxxlrg;
}

%h2 {
    @extend %mt_font-size-xxlrg;
}

%h3 {
    @extend %mt_font-size-lrg;
}

%h4 {
    @extend %mt_font-size-med;
}

%h5 {
    @extend %mt_font-size-norm;
}

%h6 {
    @extend %mt_font-size-sm;
}

// Sub Headings
// ============

/*doc
---
title: Sub Headings
name: subheadings
parent: headings
---

```html_example
<h1 class="mt_subh1">Sub Heading 1</h1>
<h2 class="mt_subh2">Sub Heading 2</h2>
<h3 class="mt_subh3">Sub Heading 3</h3>
<h4 class="mt_subh4">Sub Heading 4</h4>
<h5 class="mt_subh5">Sub Heading 5</h5>
<h6 class="mt_subh6">Sub Heading 6</h6>
```

*/

%mt_subh1,
%mt_subh2 {
    @extend %mt_font-alternate-strong;
}

%mt_subh3,
%mt_subh4,
%mt_subh5 {
    @extend %mt_font-alternate;

    em {
        @extend %mt_font-alternate-em;
    }

    strong {
        @extend %mt_font-alternate-strong;
    }

    em strong,
    strong em {
        @extend %mt_font-alternate-strong-em;
    }
}

%mt_subh1 {
    @extend %mt_font-size-norm;

    text-transform: uppercase;
}

%mt_subh2 {
    @extend %mt_font-size-norm;
}

%mt_subh3 {
    @extend %mt_font-size-norm;
}

%mt_subh4 {
    @extend %mt_font-size-sm;

    text-transform: uppercase;
}

%mt_subh5 {
    @extend %mt_font-size-sm;
}

%mt_subh6 {
    @extend %mt_font-size-sm;
}
