$mt3_fourup_padding: 30px;
$mt3_fourup_small_offset: 15px;
$mt3_fourup_small_image_width: 33%;
$mt3_fourup_small_text_width: (100 - $mt3_fourup_small_image_width);


.mt3_fourup {
  background-color: $mt3_color-white;

  &-row {
    padding-left: $mt3_fourup_padding;

    .mt3_promocard-pad {
      padding-right: $mt3_fourup_padding;

      .mt3_fourup--tablet &,
      .mt3_fourup--desktop & {
        padding-right: 0;
      }
    }

    .mt3_fourup-col--extrasmall {
      .mt3_promocard-pad {
        .mt3_fourup--tablet &,
        .mt3_fourup--desktop & {
          padding-right: $mt3_fourup_padding;
        }
      }
    }

    .mt3_fourup--tablet &,
    .mt3_fourup--desktop & {
      padding-left: 0;
    }

    &--extrasmall {
      div .mt3_row {
        float: left;
        width: calc(#{$mt3_fourup_small_text_width} - #{$mt3_fourup_small_offset});
      }

      .mt3_promocard-container {
        figure {
          margin-bottom: 0;

          &.modules-images {
            float: left;
            margin: 0 $mt3_fourup_small_offset 0 0;
            width: $mt3_fourup_small_image_width;
          }
        }
      }
    }
  }

  &-row--top {
    padding-left: 0;

    .mt3_promocard-pad {
      padding: 0 $mt3_fourup_padding;
    }
  }

  &--dark {
    background-color: $mt3_color-gray-86;
  }

  &-header {
    border-left: 1px solid $mt3_color-primary;
    color: $mt3_color-white;
    font-family: $mt3_verlag-stack;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: .1em;
    line-height: 1.05;
    padding-bottom: 40px;
    padding-left: $mt3_fourup_padding;
    text-transform: uppercase;
    word-spacing: .05em;

    .mt3_fourup--light & {
      color: $mt3_color-black;
    }

    .mt3_fourup--tablet & {
      font-size: 36px;
      padding-left: 40px;
    }

    .mt3_fourup--desktop & {
      font-size: 50px;
    }
  }

  &.mt3_fourup--tablet,
  &.mt3_fourup--desktop {
    .mt3_promocard-pad {
      padding: 0;
    }
  }
}