$mt3_button-width: 8em;
$mt3_button-height: 8em;

.mt3_promocard-container {
  overflow: hidden;

  &:-webkit-any-link{
   text-decoration: none;
  }

  figure { // user-agent overrides
    margin: 0 0 30px;
    position: relative;
  }

  .mt2_promocard-kicker{
    z-index: 999;
  }

  //most of the styles below are just for displaying functionality for this ticket, will most likely be changed/overridden for styling ticket
  .mt3_promocard-image {
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .mt3_promocard-branding {
    background-color: yellow;
    padding: .5em 1em;
    position: absolute;
    top: 2em;
    z-index: 3;
  }

  .mt3_promocard-sponsor {
    background-color: rgba(255, 255, 255, .2);
    bottom: 0;
    color: white;
    padding: .5em 1em;
    position: absolute;
    text-align: left;
    width: 100%;
    z-index: 4;
  }

  .mt3_btn {
    background-color: white;
    border-radius: 50%;
    height: $mt3_button-width;
    left: calc(50% - (#{$mt3_button-width} / 2));
    padding: 0;
    position: absolute;
    top: calc(50% - (#{$mt3_button-height} / 2));
    width: $mt3_button-width;
    z-index: 2;

    .mt3_icon--left {
      margin: 0;
    }

    & svg.mt3_icon{
      height: 3em;
      width: 3em;
    }
  }
}
