// Variables
// =========

$mt2_int-ratios: (
  broadcast: 56.25%, // (16:9)
  photo:     66.66%, // (3:2)
  tv:        75%,   // (4:3)
  square:    100%   // (1:1)
);

// Style
// =====

.mt2_intratio {
  @each $mt2_int-ratio, $mt2_percentage in $mt2_int-ratios {
    &--#{$mt2_int-ratio} {
      height: 0;
      padding-bottom: $mt2_percentage;
    }
  }
}
