// Variables
// =========

$mt_int-ratios: (
  broadcast: 56.25%, // (16:9)
  photo:     66.66%, // (3:2)
  tv:        75%,   // (4:3)
  square:    100%   // (1:1)
);

// Style
// =====

.mt_intratio {
  @each $mt_int-ratio, $mt_percentage in $mt_int-ratios {
    &--#{$mt_int-ratio} {
      height: 0;
      padding-bottom: $mt_percentage;
    }
  }
}
