/*doc
---
title: Byline
name: byline
category: Typography
---

```html_example
<p class="mt_byline">Photograph by Kacker Pempel</p>
```

*/

.mt_byline {
    @extend %mt_subh4;

    color: $mt_color-beta;
}
