@import "headings/extends";

@each $tag in (h1, h2, h3, h4, h5, h6) {
    .#{$tag},
    .#{$tag}--alt {
        @extend #{$tag};
    }
}

@each $class in (mt_subh1, mt_subh2, mt_subh3, mt_subh4, mt_subh5, mt_subh6) {
    .#{$class} {
        @extend %#{$class};
    }
}

/*doc
---
title: Heading with link
name: mt_headingwithlink
parent: headings
---

```html_example
<h3 class="mt_headingwithlink"><a href="#">Heading with link</a></h3>
<h3 class="subh3 mt_headingwithlink"><a href="#">Sub Heading with link</a></h3>
```

*/

.mt_headingwithlink {
    > a {
        color: $mt_color-text;
        text-decoration: none;

        &:visited {
            color: $mt_color-text;
            text-decoration: none;
        }

        &:hover,
        &:focus,
        &:active {
            color: lighten($mt_color-text, 15);
            text-decoration: none;
        }
    }
}

// Heading of inverse color

.mt_headinginverse {
    color: $mt_color-text-inverse;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
        color: $mt_color-text-inverse;
        text-decoration: underline;
    }

    &:visited {
        color: $mt_color-text-inverse;
        text-decoration: none;
    }
}

.mt_h1--alt,
.mt_h2--alt,
.mt_h3--alt,
.mt_h4--alt {
    @extend %mt_font-default-display-light;

    margin: 0;
    padding: 0;
    // text-transform: uppercase;
}

/*doc
---
title: Alternate Headings
name: headings-alt
parent: headings
---

```html_example
<h1 class="mt_h1--alt">Heading 1 Alternate</h1>
<h2 class="mt_h2--alt">Heading 2 Alternate</h2>
<h3 class="mt_h3--alt">Heading 3 Alternate</h3>
<h4 class="mt_h4--alt">Heading 4 Alternate</h4>
```

*/
