/*doc
---
title: Tag
name: tag
category: Typography
---

```html_example
<p><span class="mt_tag">Beautiful</span> <span class="mt_tag">environment</span> <span class="mt_tag">maya empire</span> <span class="mt_tag">food</span></p>
```

*/

.mt_tag {
    @extend %mt_subh4;

    border: $mt_border-default;
    display: inline-block;
    padding: $mt_padding-half;
    text-transform: uppercase;
}
