.mt_btn {
  @extend %mt-h5;

  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0;
  cursor: pointer;
  margin: 0 10px 10px 0;
  padding: 16px 32px;
  text-align: center;
  transition: 400ms;

  &--success {
    background-color: $mt_color-affirmation;
    border: 1px solid $mt_color-affirmation;
    color: $mt_color-neutral-lightest;

    &:hover {
      background-color: $mt_color-affirmation-light;
      border: 1px solid $mt_color-affirmation-light;
    }
  }

  &--error {
    background-color: $mt_color-danger;
    border: 1px solid $mt_color-danger;
    color: $mt_color-neutral-lightest;

    &:hover {
      background-color: $mt_color-danger-light;
      border: 1px solid $mt_color-danger-light;
    }
  }
}

.mt_btn-default {
  background-color: $mt_color-primary;

  &:hover {
    background-color: $mt_color-primary-light;
    border: 1px solid $mt_color-primary-light;
  }

  &--reversed {
    color: $mt_color-neutral-lightest;
  }

  &--inactive {
    background: $mt_color-neutral;
    color: $mt_color-neutral-darkest;
    cursor: default;
    opacity: .3;
  }
}

.mt_btn-secondary {
  border: 1px solid $mt_color-primary-light;

  &:hover {
    background: $mt_color-primary-light;
  }

  &--reversed {
    border: 1px solid $mt_color-primary-light;
    color: $mt_color-neutral-lightest;

    &:hover {
      background: $mt_color-primary-light;
      color: $mt_color-neutral-darkest;
    }
  }

  &--inactive {
    border: 1px solid transparentize($mt_color-neutral-light, .6);
    color: transparentize($mt_color-neutral-light, .6);
    cursor: default;
  }
}

.mt_btn-naked {
  background: none;

  span {
    border-bottom: 2px solid $mt_color-primary;
  }

  &:hover {
    background-color: transparent;
    color: $mt_color-primary;
  }

  &--reversed {
    color: $mt_color-neutral-lightest;
  }

  &--inactive {
    border: 0;
    color: transparentize($mt_color-neutral-light, .6);
    cursor: default;

    &:hover {
      color: transparentize($mt_color-neutral-light, .6);
    }
  }
}
