.mt_input {
  border: $mt_border-default;
  opacity: .9;
  padding: $mt_fs-sm $mt_unit;
  transition: 400ms;

  width: 100%;

  &:focus,
  &:hover {
    border: $mt_border-default-hover;
    opacity: 1;
    outline: none;
  }

  &[type='text']:disabled,
  &[type='text']:disabled:hover {
    opacity: .4;
  }

  &--error {
    &,
    &:focus,
    &:hover {
      border: $mt_border-danger;
      box-shadow: 0 0 $mt_unit-half $mt_color-danger;
      opacity: 1;
    }

    &:focus {
      box-shadow: none;
    }
  }
}

.mt_textarea {
  min-height: $mt_unit * 6;
}
