---
title: Color
---


<div class="pagewrapper mt3_row mt3_col-gut-sm mt3_col-md-gut-md mt3_col-lg-gut-lg sectionpadding">
  <div class="mt3_col-lg-10 mt3_row-gut-2">
    <h1 class="mt3_h1"> Color Palette </h1>
    <p class="mt3_subh1">
      National Geographic&apos;s visual brand is driven by stunning photography. Color should be used sparingly to indicate special importance, calls to action, or branding.
    </p>
  </div>
</div>

<div class="mt3_bgcolor--neutral--xxl mt3_row-gut-4 divider">&nbsp;</div>

{% include "app/styles/theme/colordoc.html" %}
<div class="mt3_bgcolor--neutral--xxl mt3_row-gut-4 divider">&nbsp;</div>
{% include "app/styles/theme/primary.html" %}
{% include "app/styles/theme/neutrals.html" %}
{% include "app/styles/theme/transactions.html" %}
{% include "app/styles/theme/socialbrands.html" %}
