$mt3_button-width: 8em;
$mt3_button-height: 8em;
$mt3_gradient: rgba(0, 0, 0, .5), transparent;
$mt3_gradientIndex: 3;
$mt3_small: 768px;
$mt3_medium: 1024px;
$mt3_large: 1280px;

.mt3_promocard-container {
  margin-bottom: 40px;
  overflow: hidden;
  position: relative;

  &:hover {
    .mt3_videopromo-button {
      background-color: $mt3_color-primary;
      color: $mt3_color-black;
      opacity: 1;
    }
    .mt3_promocard-title {
      opacity: 0.6;
    }
  }

  &--dark {
    background-color: inherit;
  }

  &--text-only {
    background: $mt3_color-black;
    border-top: 3px solid $mt3_color-primary;
    padding: 30px;
    &.mt3_promocard-container--large {
      .mt3_promocard-kicker {
        margin-left: 1.725%; /*matches .mt3_col-gut padding*/
      }
      @media(min-width: $mt3_small) {
        /*not using shorthand to keep top and bottom padding as is - should match .hero-with-two-rails__rails left/right padding*/
        padding-left: 40px;
        padding-right: 40px;
      }
      @media (min-width: $mt3_medium) {
        /*not using shorthand to keep top and bottom padding as is - should match .hero-with-two-rails__rails left/right padding*/
        padding-left: 60px;
        padding-right: 60px;
      }
    }
  }

  a.mt3_div-link, div.mt3_div-link {
    cursor: pointer;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: $mt3_z-middle + 3;
  }

  &:-webkit-any-link{
    text-decoration: none;
  }

  figure { // user-agent overrides
    margin: 0 0 15px;
    position: relative;
  }

  figure.mt3_promocard-image--large {
    margin: 0;
  }

  .mt3_promocard-gradient-overlay {
    &::after {
      background: linear-gradient(to top, $mt3_gradient);
      bottom: 0;
      content: '';
      height: 25%;
      opacity: 1;
      pointer-events: none;
      position: absolute;
      width: 100%;
      z-index: $mt3_gradientIndex;
    }
  }

  .mt3_videopromo-button{
    display: inline-block;
    position: relative;
    vertical-align: bottom;

    a.mt3_promocardtext--overlay-link {
      left: 0;
      z-index: $mt3_z-middle + 3;
    }
  }

  .mt3_promocard-text--overlay {
    bottom: 0;
    position: absolute;
    width: 100%;
    z-index: $mt3_z-middle + 10;

    &:hover {
     cursor: pointer;
    }
  }

  .mt3_promocardtext--overlay-link {
    cursor: pointer;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .mt3_promocard-nested-text {
    display: inline-block;
    margin-bottom: 34px;
    margin-left: 40px;
    vertical-align: bottom;
    width: 75%;
    z-index: 5;

    &--horizontal {
      display: inline-block;
      vertical-align: top;

      &--right {
        .mt3_promocard-dek--text-only {
          margin-top: 0;
        }
      }

      .mt3_promocard-title {
        padding-right: 40px;
      }

      &-no-dek {
        max-width: 800px;
        padding-right: 0;
        width: 100%;

        .mt3_promocard-title {
          padding-right: 0;
        }
      }
    }
  }

  .mt3_promocard-pad {
    padding-right:30px;
  }

  .mt3_promocard-gallery-images {
    margin-bottom: 15px;
    position: relative;

    &--image1 {
      bottom: 0;
      height: calc(100% - 30px);
      left: 0;
      position: absolute;
      width: calc(100% - 30px);
      z-index: $mt3_z-middle + 3;

      &-medium {
        height: calc(100% - 40px);
        width: calc(100% - 40px);
      }
      &-large {
        height: calc(100% - 60px);
        width: calc(100% - 60px);
      }

    }
    &--image2 {
      height: calc(100% - 30px);
      position: absolute;
      right: 0;
      top: 0;
      width: calc(100% - 30px);

      figure:first-child::after {
        background: black;
        bottom: 0;
        content: '';
        height: 100%;
        opacity: 0.4;
        position: absolute;
        width: 100%;
        z-index: 2;
      }

      &-medium {
        height: calc(100% - 40px);
        width: calc(100% - 40px);
      }
      &-large {
        height: calc(100% - 60px);
        width: calc(100% - 60px);
      }

    }
  }

  .mt3_promocard-gallery-cta {
    font-size: 0.75rem;
    left: 60px;
    letter-spacing: 0.2em;
    padding: 0;
    position: absolute;
    text-align: left;
    top: 8px;
    transition: none;
    z-index: $mt3_z-middle + 3;

    &-icon {
      color: $mt3_color-primary;
      height: 10px;
      margin-left: 5px;
      width: 10px;
    }

    &--medium {
      left: 70px;
      top: 13px;
    }
    &--large {
      left: 90px;
      top: 24px;
    }
  }

  .mt3_btn:hover, .mt3_btn--naked:hover {
    color: white;
  }

  .mt3_promocard-kicker {
    @extend .mt3_kicker;
    @include couldBeRichText();
    float: left;
    line-height: 1;
    margin-bottom: 10px;
    position: relative;
    text-decoration: none;
    z-index: $mt3_z-middle + 10;

    a:hover {
      cursor: pointer;
      text-decoration: underline;
    }

    &--inverse {
      border-right: 1px solid white;

      &:nth-child(1) {
        border-left: 1px solid white;
      }
    }
  }

  a.mt3_promocard-kicker:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .mt3_promocard-sponsored {
    @extend .mt3_kicker;
    @include couldBeRichText();
    border-left: 1px solid #7694CB;
    border-right: 1px solid #7694CB;
    float: left;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 10px;
    position: relative;
    text-decoration: none;
     /*overwrite extended mt3_kicker*/
    &:nth-child(1) {
      border-left: 1px solid #7694CB;
    }
  }

  .mt3_promocard-title {
    @include couldBeRichText();
    @extend %mt3_haas;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3;

    &--small {
      font-size: 22px;
    }
    &--medium {
      font-size: 30px;
    }
    &--large {
      font-size: 42px;
    }
  }

  .mt3_promocard-dek {
    @include couldBeRichText();
    border-left: 1px solid #808080;
    font-family: $mt3_georgia-stack;
    font-size: 15px;
    line-height: 1.7;
    margin-top: 10px;
    padding-left: 30px;

    &--inverse {
      border-left: 1px solid white;
    }

    &--text-only {
      border-left: none;
      color: $mt3_color-gray-40;
      padding-left: 0;
    }

  }

  .mt3_card-subhead--right {
    float: left;
    text-decoration: none;
    z-index: $mt3_z-middle - 1;

    &:hover {
      text-decoration: none;
    }
  }

  .mt3_promocard-branding {
    background-color: yellow;
    padding: .5em 1em;
    position: absolute;
    top: 2em;
  }
  /*overridden styles for kicker style = prompt*/
  &.mt3_promocard-container--prompt {
    .mt3_promocard-kicker, .mt3_promocard-sponsored {
      border: 0;
      color: $mt3_color-primary;
      @extend %mt3_haas;
      font-size: 16px;
      font-weight: 600;
      padding: 0;
      text-transform: none;
    }
  }
}
