.mt_input--form {
    background-color: white;
    border: 1px solid $mt_color-lowlight;
    color: $mt_color-gamma;
    font-family: $mt_font-sans;
    font-style: normal;
    font-weight: 300;
    outline: none;

    @include mt_input--placeholder {
        color: $mt_color-lowlight;
    }

    @include mt_input--autofill {
        box-shadow: 0 0 0 1000px white inset;
    }

    &:disabled {
        background-color: $mt_color-lowlight;
    }

    &:focus {
        border: 1px solid $mt_color-gamma;
    }
}

.mt_input--select {
    background-color: transparent;
    width: 100%;
}
