/*doc
---
title: Related
name: related
category: Blocks
---

```html_example
<h1 class="subh4 mt_related-title">Related News</h1>

<p class="subh5 mt_related-category">Mission</p>
<h2 class="subh2 mt_related-article">Best Space Photos 2013: Awesome Year of the Comet Shines Bright</h2>

<p class="subh5 mt_related-category">From the Magazine</p>
<h2 class="subh2 mt_related-article">Photos: Superior Ice Caves</h2>

<p class="subh5 mt_related-category">Weird</p>
<h2 class="subh2 mt_related-article">Methane Emissions Far Worse Than U.S. Estimates, Study Finds</h2>
```
*/


.mt_related {
    @include e(title) {
        @include margin-trailer(.5, $mt_ms-sm);
    }

    @include e(category) {
        margin-bottom: 0;
    }

    @include e(article) {
        @include margin-trailer(1, $mt_ms-norm);
    }
}
