// Primary colors

$mt3_color-primary-l: lighten($mt3_color-primary, 20);
$mt3_color-primary-xl: lighten($mt3_color-primary, 30);
$mt3_color-primary-xxl: lighten($mt3_color-primary, 40);
$mt3_color-primary-xxxl: lighten($mt3_color-primary, 45);

// Neutrals

$mt3_color-black: #000;
$mt3_color-gray-86: #222;
$mt3_color-gray-80: #333;
$mt3_color-gray-66: #555;
$mt3_color-gray-40: #999;
$mt3_color-gray-10: #e6e6e6;
$mt3_color-gray-5: #f2f2f2;
$mt3_color-gray-2: #fafafa;
$mt3_color-white: #fff;

// Affirmation

$mt3_color-affirmation-l: mt3_tint($mt3_color-affirmation, 25);

// Danger

$mt3_color-danger-l: #F45840;

// Borders

$mt3_border-default: 1px solid $mt3_color-gray-40;
$mt3_border-default-hover: 1px solid $mt3_color-gray-50;
$mt3_border-danger: 1px solid $mt3_color-danger;

$mt3_colors: (
  primary: $mt3_color-primary,
  primary--l: $mt3_color-primary-l,
  primary--xl: $mt3_color-primary-xl,
  black: $mt3_color-black,
  gray86: $mt3_color-gray-86,
  gray80: $mt3_color-gray-80,
  gray66: $mt3_color-gray-66,
  gray50: $mt3_color-gray-50,
  gray40: $mt3_color-gray-40,
  gray10: $mt3_color-gray-10,
  gray5: $mt3_color-gray-5,
  gray2: $mt3_color-gray-2,
  white: $mt3_color-white,
  affirmation: $mt3_color-affirmation,
  affirmation--l: $mt3_color-affirmation-l,
  danger: $mt3_color-danger,
  danger--l: $mt3_color-danger-l,
  sponsor: $mt3_color-sponsor
);
