/*doc
---
title: Backgrounds
name: backgrounds
category: Theme
---

<div class="background--basic border--default">Example</div>
<div class="background--inverse textinverse border--default">Example</div>
<div class="background--highlight border--default">Example</div>
<div class="background--lowlight border--inverse">Example</div>
*/

$backgrounds: (
    basic: $color-basic,
    inverse: $color-inverse,
    highlight: $color-highlight,
    lowlight: $color-lowlight
);

@each $background, $color in $backgrounds {
    .background--#{$background} {
        background-color: $color;
    }
}
