/*doc
---
title: Button Styles
name: buttonSkins
category: Elements
---

Button                                              | Class               | Description
--------------------------------------------------- | ------------------- | -----------
<button class="btn btn--default">Default</button>   | `btn btn--default`  | This is what buttons look like, this is the go to button style.
<button class="btn btn--primary">Primary</button>   | `btn btn--primary`  | Use this button as the primary call to action
<button class="btn btn--danger">Delete</button>     | `btn btn--danger`   | This button is for delete actions, these actions should also have a confirmation dialog
<button class="btn btn--disabled">Disabled</button> | `btn btn--disabled` | I'm afraid I can't let you do that, yet.

*/

@import "btn/variables";
@import "btn/mixins";
@import "btn/extends";


.btn {
    @extend %font-alternate;
    @extend %font-size-norm;

    border: 0;
    border-radius: .5em;
    cursor: default;
    line-height: 1;
    margin-bottom: $btn-offset-y * 2;
    padding: 1em;
    text-align: center;
    // text-transform: uppercase;

    // Iterate over button skins

    @each $btn-type, $btn-color in $btn-colors {
        @include m($btn-type) {
            @include btn($btn-color);
        }
    }

    // This rule set must be last

    &:active {
        box-shadow: none;
        position: relative;
        top: $btn-offset-y;
    }
}
