.mt3_btn {
  color: inherit;
  text-decoration: none;

  &-naked--reversed {
    color: $mt3_color-white;
  }

  &-naked--inactive
  &-naked--inactive:hover {
    span,
    svg {
      border-bottom: 0;
      color: transparentize($mt3_color-gray-40, .6);
      text-decoration: none;
    }
  }
}

.mt3_iconandlabel--horizontal,
.mt3_iconandlabel--vertical {
  margin: 0 auto;
  max-width: max-content;
}
