.mt2_video {
  &__player {
    height: 100%;
    position: relative;
    width: 100%;

    video,
    iframe {
      width: 100%;
    }
  }

  &__player-wrapper {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
