<!doctype html>
<html>
<head>

  <title>{{title}} | Mortar: The NGP Living Styleguide</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="{{title}} | Mortar: The NGP Living Styleguide" />
  <meta property="og:image" content="http://www.nationalgeographic.com/dc/exposure/homepage/photoconfiguration/image/96913_photo_vnvd6jocb3hh7gbb4oxwx2ujb5fexm7cgxgwc2j5bhy5ykeydrua_1200x800.jpg" />
  <meta property="twitter:title" content="{{title}} | Mortar: The NGP Living Styleguide" />
  <meta property="twitter:image" content="http://www.nationalgeographic.com/dc/exposure/homepage/photoconfiguration/image/96913_photo_vnvd6jocb3hh7gbb4oxwx2ujb5fexm7cgxgwc2j5bhy5ykeydrua_1200x800.jpg" />

  <link rel="shortcut icon" href="//assets.ngeo.com/favicon/v1/favicon.ico"/>

  <link rel="stylesheet" href="{{rootPath}}.{% if title != 'Home' %}.{% endif %}/styles/mortar-default{{cssSuffix}}.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.3.15/slick.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.4.1/themes/prism-okaidia.css" />
  <link rel="stylesheet" href="{{rootPath}}.{% if title != 'Home' %}.{% endif %}/styles/docs.css">

  <script src="https://code.jquery.com/jquery-2.2.1.min.js" integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.4.1/prism.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.4.1/components/prism-markup.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-86198662-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>

<body class="mt3_color--gray80">
  <div class="mt3_visuallyhidden">
    {{iconSprite|safe}}
  </div>
  <div class="headerwrapper">
    <header class="header pagewrapper">
      <!--Grouped for better handling on mobile -->
      <div class="mt3_col-md-4 mt3_col-lg-3 branding mt3_col-gut">
        <a href="http://nationalgeographic.com" class="site-logo">
          <svg class="mt3_icon--large">
            <use xlink:href="#ng-border"></use>
          </svg>
        </a>

        <span class="branding-grey-border"></span>

        <button class="JS_navbutton navbutton mt3_col-gut mt3_h3">Style Guide
          <svg class="mt3_icon JS_navicon navicon mt3_color--gray40">
            <use xlink:href="#chevron-down"></use>
          </svg>
        </button>
      </div>

      <nav class="JS_navcontainer navcontainer mt3_subh1 mt3_col-9">
        <span class="navcontainer-yellow-border"></span>

        <ul class="mt3_col-gut mt3_col-md-gut-md mt3_col-lg-gut-lg">
          <li class="nav-item mt3_row-gut-half">
            <a href=".{% if title != 'Home' %}.{% endif %}/" class="nav-link">Home</a>
          </li>
          <li class="nav-item mt3_row-gut-half">
            <a href=".{% if title != 'Home' %}.{% endif %}/color" class="nav-link">Color</a>
          </li>
          <li class="nav-item mt3_row-gut-half">
            <a href=".{% if title != 'Home' %}.{% endif %}/typography" class="nav-link">Typography</a>
          </li>
          <li class="nav-item mt3_row-gut-half">
            <a href=".{% if title != 'Home' %}.{% endif %}/icons" class="nav-link">Icons</a>
          </li>
          <li class="nav-item mt3_row-gut-half">
            <a href=".{% if title != 'Home' %}.{% endif %}/patterns" class="nav-link">UI Patterns</a>
          </li>
          <li class="nav-item mt3_row-gut-half">
            <a href=".{% if title != 'Home' %}.{% endif %}/grid" class="nav-link">Grid</a>
          </li>
          <li class="nav-item mt3_row-gut-half">
            <a href=".{% if title != 'Home' %}.{% endif %}/components" class="nav-link">Components</a>
          </li>
          <li class="nav-item mt3_row-gut-half">
            <a href="{{rootPath}}.{% if title != 'Home' %}.{% endif %}/contentPackages" class="nav-link">Content Packages</a>
          </li>
        </ul>
      </nav>
    </header>
  </div>

  <div class="mt3_row mt3_row-gut-3"></div>

  {{contents | safe}}

  <footer class="mt3_row mt3_bgcolor--gray5 footer">
    <div class="pagewrapper mt3_col-gut">
      <div class="mt3_subh4 mt3_col-lg-8 mt3_row-gut-2 copyright">
        <span>&copy; 2016 National Geographic Partners, LLC. All rights reserved</span>

        <div>
          <a href="http://www.nationalgeographic.com/community/privacy/" target="_blank" class="mt3_textlink">Privacy Policy</a> |
          <a href="http://www.nationalgeographic.com/community/terms/" target="_blank" class="mt3_textlink">Terms of Service </a>
        </div>
      </div>

      <div class="mt3_col-lg-3 mt3_subh4">
        <svg class="mt3_icon--large">
          <use xlink:href="#social-github"></use>
        </svg>

         View this project on <a href="https://github.com/natgeo/mortar" target="_blank" class="mt3_textlink">Github</a>
      </div>
    </div>
  </footer>

  <script>
    // Site nav
    $('.JS_navbutton').click(function(){
      $('.JS_navcontainer').toggleClass('navcontainer--active');
      $('.JS_navicon').toggleClass('navicon--flipped');
    });

    // Globals
    var expButton = '<button class="codesnippet-button codesnippet-icon codesnippet-icon--expand mt3_col-12 mt3_h5">Expand</button>';
    var mobileWidth = 480;
    $('.codesnippet-wrapper').each(function(index, value) {
      var container = $(value);
      var isMobile = $(window).width() <= mobileWidth;
      var showExpandButton = false;
      var constrainClass = '';

      // On large screens, truncate snippet when container > 320px & display expand button
      if (!isMobile && container.height() >= 320){
        showExpandButton = true;
        constrainClass = 'constrainheight';
      }

      // On small screens, truncate snippet when container > 240px & display expand button
      if (isMobile && container.height() >= 240){
        showExpandButton = true;
        constrainClass = 'constrainheight-mobile';
      }

      if (showExpandButton) {
        container.addClass(constrainClass)
          .removeClass('expandheight')
          .data('expanded', false)
          .append(expButton);
      }
    });

    // Expand the div when the button is clicked
    $('.codesnippet-button').click(function(e){
      var btn = $(e.target);
      var snippetContainer = btn.parent('.codesnippet-wrapper');

      var isMobile = $(window).width() <= mobileWidth;
      var constrainClass = isMobile ? 'constrainheight-mobile' : 'constrainheight';

      // Update styles
      if (snippetContainer.data('expanded') == true) {
          snippetContainer.addClass(constrainClass)
            .removeClass('expandheight')
            .data('expanded', false);
          $(this).text('Expand')
            .addClass('codesnippet-icon--expand')
            .removeClass('codesnippet-icon--collapse');
       }
       else {
          snippetContainer.removeClass(constrainClass)
            .addClass('expandheight')
            .data('expanded', true);
          $(this).text('Collapse')
            .addClass('codesnippet-icon--collapse')
            .removeClass('codesnippet-icon--expand');
       }
    });
  </script>

  <script src="{{rootPath}}.{% if title != 'Home' %}.{% endif %}/scripts/main.js"></script>
</body>
</html>
