// While Mortar generally avoids the using CSS inheritance this pattern is
// an exception. This class will be able to easily style generic WYSIWYG
// output where we either can't or shouldn't have to put in the work to add
// classes to every single element.

.mt3_article {
  @extend %mt3_body;

  a {
    @extend %mt3_link;
  }

  blockquote {
    @extend %mt3_blockquote;
  }

  h1 {
    @extend %mt3_h4;

    &:not(:first-child) {
      margin-top: $mt3_unit-double;
    }
  }

  h2 {
    @extend %mt3_h4;

    font-size: $mt3_fs-med;

    &:not(:first-child) {
      margin-top: $mt3_unit-double;
    }
  }

  h3,
  h4,
  h5,
  h6 {
    @extend %mt3_h4;

    font-size: $mt3_fs-norm;

    &:not(:first-child) {
      margin-top: $mt3_unit-double;
    }
  }

  ol,
  ul {
    @extend %mt3_list;
  }
}
