// While Mortar generally avoids the using CSS inheritance this pattern is
// an exception. This class will be able to easily style generic WYSIWYG
// output where we either can't or shouldn't have to put in the work to add
// classes to every single element.

.mt_article {
  @extend %mt_body;

  a {
    @extend %mt_link;
  }

  blockquote {
    @extend %mt_blockquote;
  }

  h1 {
    @extend %mt_h4;

    &:not(:first-child) {
      margin-top: $mt_unit-double;
    }
  }

  h2 {
    @extend %mt_h4;

    font-size: $mt_fs-med;

    &:not(:first-child) {
      margin-top: $mt_unit-double;
    }
  }

  h3 {
    @extend %mt_h4;

    font-size: $mt_fs-norm;

    &:not(:first-child) {
      margin-top: $mt_unit-double;
    }
  }

  ol,
  ul {
    @extend %mt_list;
  }
}
