%mt2_blockquote {
  p {
    @extend %mt2_body--emphasis;

    font-size: 1rem;
  }

  border-left: ($mt2_fs-med-lrg / 2) solid $mt2_color-neutral-xxl;
  color: $mt2_color-neutral-xd;
  margin: ($mt2_fs-med-lrg * 2) 0;
  padding-left: $mt2_fs-med-lrg;
  padding-right: $mt2_fs-med-lrg;
}

.mt2_blockquote {
  @extend %mt2_blockquote;
}

.mt2_blockquote--footer {
  text-align: right;
}
