@function change-tint($mt_color, $mt_tint) {
  @if $mt_tint < 100 {
    @return lighten($mt_color, percentage((100 - $mt_tint) / 200));
  } @else if $mt_tint > 100 {
    @return darken($mt_color, percentage(($mt_tint - 100) / 200));
  }
}

.mt_text-color-danger {
  color: $mt_color-danger;
}

.mt_bg-color-primary {
  background-color: $mt_color-primary;

  &--light {
    background-color: $mt_color-primary-light;
  }

  &--lighter {
    background-color: $mt_color-primary-lighter;
  }

  &--lighter-even {
    background-color: $mt_color-primary-lighter-even;
  }

  &--lightest {
    background-color: $mt_color-primary-lightest;
  }
}

.mt_bg-color-danger {
  background-color: $mt_color-danger;

  &--light {
    background-color: $mt_color-danger-light;
  }
}

.mt_bg-color-affirmation {
  background-color: $mt_color-affirmation;

  &--light {
    background-color: $mt_color-affirmation-light;
  }
}

.mt_bg-color-neutral {
  background-color: $mt_color-neutral;

  &--darkest {
    background-color: $mt_color-neutral-darkest;
  }

  &--darker {
    background-color: $mt_color-neutral-darker;
  }

  &--dark {
    background-color: $mt_color-neutral-dark;
  }

  &--light {
    background-color: $mt_color-neutral-light;
  }

  &--lighter {
    background-color: $mt_color-neutral-lighter;
  }

  &--lighter-even {
    background-color: $mt_color-neutral-lighter-even;
  }

  &--lighter-even-even {
    background-color: $mt_color-neutral-lighter-even-even;
  }

  &--lightest {
    background-color: $mt_color-neutral-lightest;
  }
}
