@each $mt_color-name, $mt_color-value in $mt_colors {
  .mt_color--#{$mt_color-name} {
    color: $mt_color-value;
  }

  .mt_bgcolor--#{$mt_color-name} {
    background-color: $mt_color-value;
  }

  .mt_bordercolor--#{$mt_color-name} {
    border: 1px solid $mt_color-value;
  }
}

@each $mt_social-color, $mt_social-bg-color in $mt_social-colors {
  .mt_bgcolor--social--#{$mt_social-color} {
    background-color: $mt_social-bg-color;
  }

  .mt_color--social--#{$mt_social-color} {
    color: $mt_social-bg-color;
  }
}
