@each $mt3_color-name, $mt3_color-value in $mt3_colors {
  .mt3_color--#{$mt3_color-name} {
    color: $mt3_color-value;
  }

  .mt3_bgcolor--#{$mt3_color-name} {
    background-color: $mt3_color-value;
  }

  .mt3_bordercolor--#{$mt3_color-name} {
    border: 1px solid $mt3_color-value;
  }
}

@each $mt3_social-color, $mt3_social-bg-color in $mt3_social-colors {
  .mt3_bgcolor--social--#{$mt3_social-color} {
    background-color: $mt3_social-bg-color;
  }

  .mt3_color--social--#{$mt3_social-color} {
    color: $mt3_social-bg-color;
  }
}
