.mt_h1 {
  font-family: 'Chronicle Display 3r';
  font-size: 65px;
  font-weight: 300;
  letter-spacing: .005em;
  line-height: 62px;
  text-rendering: optimizeLegibility;
}

.mt_h2 {
  font-family: 'Chronicle Deck 6r';
  font-size: 54px;
  font-weight: 600;
  letter-spacing: .005em;
  line-height: 62px;
  text-rendering: optimizeLegibility;
}

.mt_h3 {
  font-family: 'Pragmatica-web';
  font-size: 27px;
  font-weight: 600;
  letter-spacing: -.01em;
  line-height: 32px;
}

.mt_h4 {
  font-family: 'Chronicle Deck 6r';
  font-size: 22px;
  font-weight: 600;
  letter-spacing: .003em;
  line-height: 30px;
}

.mt_h5 {
  font-family: 'Pragmatica-web';
  font-size: 14px;
  font-weight: 600;
}

.mt_subh1 {
  font-family: 'Pragmatica-web';
  font-size: 19px;
  font-weight: 300;
  line-height: 26px;
}

.mt_subh2 {
  font-family: 'Pragmatica-web';
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  text-transform: uppercase;
}

.mt_subh3 {
  font-family: 'Pragmatica-web';
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.mt_subh4 {
  font-family: 'Pragmatica-web';
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.mt_body {
  font-family: 'Chronicle Text Ssm 3r';
  font-size: 16px;
  font-weight: 300;
  letter-spacing: .003em;
  line-height: 27px;
}
