// Extends

%mt-h1 {
  font-family: 'Chronicle Display 3r';
  font-size: 65px;
  font-weight: 300;
  letter-spacing: .005em;
  line-height: 62px;
  text-rendering: optimizeLegibility;
}

%mt-h2 {
  font-family: 'Chronicle Deck 6r';
  font-size: 54px;
  font-weight: 600;
  letter-spacing: .005em;
  line-height: 62px;
  text-rendering: optimizeLegibility;
}

%mt-h3 {
  font-family: 'Pragmatica-web';
  font-size: 27px;
  font-weight: 600;
  letter-spacing: -.01em;
  line-height: 32px;
}

%mt-h4 {
  font-family: 'Chronicle Deck 6r';
  font-size: 22px;
  font-weight: 600;
  letter-spacing: .003em;
  line-height: 30px;
}

%mt-h5 {
  font-family: 'Pragmatica-web';
  font-size: 14px;
  font-weight: 600;
}

%mt-subh1 {
  font-family: 'Pragmatica-web';
  font-size: 19px;
  font-weight: 300;
  line-height: 26px;
}

%mt-subh2 {
  font-family: 'Pragmatica-web';
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  text-transform: uppercase;
}

%mt-subh3 {
  font-family: 'Pragmatica-web';
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

%mt-subh4 {
  font-family: 'Pragmatica-web';
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

%mt-body {
  font-family: 'Chronicle Text Ssm 3r';
  font-size: 16px;
  font-weight: 300;
  letter-spacing: .003em;
  line-height: 27px;
}

// Classes

.mt_h1 {
  @extend %mt-h1;
}

.mt_h2 {
  @extend %mt-h2;
}

.mt_h3 {
  @extend %mt-h3;
}

.mt_h4 {
  @extend %mt-h4;
}

.mt_h5 {
  @extend %mt-h5;
}

.mt_subh1 {
  @extend %mt-subh1;
}

.mt_subh2 {
  @extend %mt-subh2;
}

.mt_subh3 {
  @extend %mt-subh3;
}

.mt_subh4 {
  @extend %mt-subh4;
}

.mt_body {
  @extend %mt-body;
}
