%mt2_link {
  &,
  &:link,
  &:visited {
    border-bottom: 1px solid $mt2_color-primary;
    color: $mt2_color-neutral-xxd;
    text-decoration: none;
  }

  &:hover {
    border-bottom: 1px solid $mt2_color-neutral;
    color: $mt2_color-neutral;
  }
}

.mt2_link {
  @extend %mt2_link;
}
