%mt3_textlink {
  &,
  &:link,
  &:visited {
    border-bottom: 2px solid $mt3_color-primary;
    color: $mt3_color-black;
    text-decoration: none;
  }

  &:hover {
    border-bottom: 1px solid $mt3_color-gray-50;
    color: $mt3_color-gray-50;
  }
}


.mt3_textlink {
  @extend %mt3_textlink;
}
