%mt_link {
  &,
  &:link,
  &:visited {
    border-bottom: 1px solid $mt_color-primary;
    color: $mt_color-neutral-xxd;
    text-decoration: none;
  }

  &:hover {
    border-bottom: 1px solid $mt_color-neutral;
    color: $mt_color-neutral;
  }
}

.mt_link {
  @extend %mt_link;
}
