%mt_pullquote {
  p {
    @extend %mt_h3;

    &:before {
      content: '\201C';

      @media #{$mt_mq-lg} {
        margin-left: -$mt_fs-sm;
      }
    }

    &:after {
      content: '\201D';
    }
  }

  border-bottom: 1px solid $mt_color-neutral-xl;
  border-top: 1px solid $mt_color-neutral-xl;
  color: $mt_color-neutral-xd;
  margin: 0;
  padding: ($mt_fs-xxxlrg / 2) 0;

  @media #{$mt_mq-lg} {
    padding: $mt_fs-xxxlrg / 2;
  }
}

.mt_pullquote {
  @extend %mt_pullquote;
}

.mt_pullquote--footer {
  text-align: left;
}
