$mt2_arrowheight: .625rem;

.mt2_tooltip-container {
  max-width: $mt2_unit * 3;
  padding: .5rem; // Padding Needed to prevent long text rendering issues & keep toolip open on hover
  position: relative;
  transition: 400ms;
}

.mt2_tooltip-btn {
  cursor: pointer;
  display: block;
  margin: 10px auto;
  padding: 1px 6px 0;

  &:hover {
    color: $mt2_color-neutral-l;
  }
}

.mt2_tooltip {
  padding: 1rem;
  position: absolute;
  text-align: center;
  visibility: hidden;
  z-index: $mt2_z-top;

  &--top {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);

    &::after {
      border: $mt2_arrowheight solid transparent;
      border-top: $mt2_arrowheight solid $mt2_color-neutral-xxl;
      content: '';
      display: block;
      left: 50%;
      position: absolute;
      top: 100%;
      transform: translateX(-50%);
    }
  }

  &--right {
    left: 100%;
    top: 50%;
    transform: translateY(-50%);

    &::before {
      border: $mt2_arrowheight solid transparent;
      border-right: $mt2_arrowheight solid $mt2_color-neutral-xxl;
      content: '';
      display: block;
      position: absolute;
      right: 100%;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &--bottom {
    right: 50%;
    top: 100%;
    transform: translateX(50%);

    &::after {
      border: $mt2_arrowheight solid transparent;
      border-bottom: $mt2_arrowheight solid $mt2_color-neutral-xxl;
      bottom: 100%;
      content: '';
      position: absolute;
      right: 50%;
      transform: translateX(50%);
    }
  }

  &--left {
    right: 100%;
    top: 50%;
    transform: translateY(-50%);

    &::before {
      border: $mt2_arrowheight solid transparent;
      border-left: $mt2_arrowheight solid $mt2_color-neutral-xxl;
      content: '';
      left: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .mt2_tooltip-container:hover & {
    visibility: visible;
  }
}
