$mt2_arrowheight: .625rem;

.mt2_tooltip-container {
  margin: $mt2_unit-half;
  pointer-events: none;
  position: relative;
  transition: 400ms;
}

.mt2_tooltip-btn {
  cursor: pointer;
  display: block;
  padding: .0625rem .375rem 0;
  pointer-events: auto;

  &:hover {
    color: $mt2_color-neutral-l;
  }
}

.mt2_tooltip {
  max-width: 18.75rem;
  padding: $mt2_unit;
  pointer-events: auto;
  position: absolute;
  text-align: center;
  z-index: $mt2_z-top;


  &--top {
    bottom: 100%;
    margin-bottom: $mt2_unit;
    margin-left: $mt2_unit-half;
    transform: translateX(-50%);

    &::after {
      border: $mt2_arrowheight solid transparent;
      border-top: $mt2_arrowheight solid $mt2_color-neutral-xxl;
      content: '';
      display: block;
      left: 50%;
      position: absolute;
      top: 100%;
      transform: translateX(-50%);
    }
  }

  &--right {
    margin-left: $mt2_fs-med-lrg;
    top: 50%;
    transform: translateY(-50%);

    &::before {
      border: $mt2_arrowheight solid transparent;
      border-right: $mt2_arrowheight solid $mt2_color-neutral-xxl;
      content: '';
      display: block;
      position: absolute;
      right: 100%;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &--bottom {
    margin-left: $mt2_unit-half;
    margin-top: $mt2_unit;
    top: 100%;
    transform: translateX(-50%);

    &::after {
      border: $mt2_arrowheight solid transparent;
      border-bottom: $mt2_arrowheight solid $mt2_color-neutral-xxl;
      bottom: 100%;
      content: '';
      position: absolute;
      right: 50%;
      transform: translateX(50%);
    }
  }

  &--left {
    top: 50%;
    transform: translateY(-50%);

    &::before {
      border: $mt2_arrowheight solid transparent;
      border-left: $mt2_arrowheight solid $mt2_color-neutral-xxl;
      content: '';
      left: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}


// Tooltip Modal

.mt2_tooltip-modalbtn {
  cursor: pointer;
  padding: 1px 6px 0;
}

.mt2_tooltip-modalcontent {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
