.mt_tooltip-container {
  cursor: pointer;
  max-width: $mt_unit * 18;
  position: relative;
  transition: 400ms;
}

.mt_tooltip-content {
  $mt_arrowheight: .625rem;

  bottom: calc(100% + #{$mt_arrowheight});
  padding: 1em;
  position: absolute;
  text-align: center;
  visibility: hidden;

  &:after {
    border: $mt_arrowheight solid transparent;
    border-top: $mt_arrowheight solid $mt_color-neutral-xxl;
    content: '';
    height: 0;
    left: 50%;
    position: absolute;
    top: 100%;
    transform: translateX(-50%);
    width: 0;
  }

  .mt_tooltip-container:hover & {
    visibility: visible;
  }
}
