.mt_tooltip-container {
  max-width: 18.75em;
  position: relative;
  text-align: center;
  transition: 400ms;
}

.tooltip-tip {
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top: 10px solid $mt_color-neutral-lighter-even-even;
  position: absolute;
  right: 47%;
  bottom: 27px;
}

.mt_tooltip-content {
  padding: 1em;
  opacity: 0;
}

.mt_tooltip {
  cursor: pointer;
  &:hover > .mt_tooltip-content {
    opacity: 1;
  }
}
