$mt3_playlist-l-screen: 100rem;

.mt3_video-playlist {
  display: flex;
  flex-direction: column;

  @media #{$mt3_mq-md} {
    flex-direction: row;
  }

  &__wrapper {
    @media #{$mt3_mq-lg} {
      margin: 0 auto;
      max-width: $mt3_playlist-l-screen;
    }
  }

  &__flex {
    display: flex;
    flex-direction: column;
  }

  &__main-head {
    @include respond-to(l) {
      padding-left: 90px;
    }

    @include respond-to(m) {
      padding-left: 60px;
    }

    @include respond-to(s) {
      padding-left: 30px;
    }

    padding-left: 100px;
  }

  &--heading {
    margin-bottom: 40px;
    margin-left: 60px;

    &--border {
      border-left: 1px solid map-get($mt3_colors, 'primary');
    }

    &__title {
      font-family: $mt3_verlag-stack;
      font-size: $mt3_h-sm5;
      font-weight: 400;
      letter-spacing: .1em;
      line-height: 1.05;
      padding-left: 2.5rem;
      padding-top: 2.5rem;
      text-transform: uppercase;
      word-spacing: .05em;
    }

    @include respond-to(l) {
      margin-bottom: 1.875rem;
      margin-left: 2.5rem;
    }

    @include respond-to(m) {
      margin-left: 2.5rem;
    }

    @include respond-to(s) {
      margin-left: 1.875rem;
    }
  }

  &--current-information {
    margin-left: 100px;
    padding: 40px 80px 0 60px;

    a {
      color: $mt3_color-white;
      text-decoration: none;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    &__description {
      font-family: $mt3_georgia-stack;
      font-size: 15px;
      font-weight: normal;
      line-height: 1.8666667;
      margin: 0;
      position: relative;
      top: -0.4375rem;

      * {
        margin: 0;
      }

      .mt3_show-more-link {
        border-bottom: 0;
        cursor: pointer;
        padding-left: 0;
        text-decoration: none;
        white-space: nowrap;

        &:hover,
        &:focus,
        &:active {
          border-bottom: 0;
          color: map-get($mt3_colors, 'gray-40');
        }
      }

    }

    &__title {
      @include respond-to(xl) {
        font-size: 42px;
      }

      @include respond-to(l) {
        font-size: 34px;
      }

      @include respond-to(m) {
        margin-bottom: 0;
      }

      @include respond-to(s) {
        margin-bottom: 0;
      }

      font-family: $mt3_haas-stack;
      font-size: 24px;
      font-weight: 600;
      letter-spacing: .05em;
      line-height: 1.1;
      margin-bottom: 1.25rem;
      margin-top: 10px;
    }

    .mt3_caption-container--indent--gray {
      @include respond-to-multiple(m, s) {
        display: none;
      }

      border-left: 1px solid map-get($mt3_colors, 'gray50');
      padding-bottom: 1.25rem;
    }

    @include respond-to(l) {
      margin-left: 90px;
      padding-left: 40px;
    }

    @include respond-to(m) {
      background-color: $mt3_color-black;
      margin-left: 0;
      order: 1;
      padding: 15px 70px 40px;
    }

    @include respond-to(s) {
      background-color: $mt3_color-black;
      margin-left: 0;
      order: 1;
      padding: 15px 30px 40px;
    }

  }


  // forcing font styles to match sizes set on p tag in _multiLayoutPromos.scss when the data isn't in a p tag
  .mt3_btn--naked {
    font-weight: 300;
  }

  &-container--thumbnails {
    background-color: $mt3_color-black;
    overflow: hidden;
    transition-duration: 1s;
    transition-property: max-height;
    transition-timing-function: ease-in-out;

    @include respond-to(s) {
      padding: 0 30px 30px;
    }

    // Tablet
    @include respond-to(m) {
      padding: 0 70px 30px;
    }

    // only big desk
    @include respond-to(xl) {
      &__scroll {
        padding-right: 70px;
      }
    }

    // small and big desk
    @media #{$mt3_mq-md} {
      backface-visibility: hidden;
      height: 100%;
      width: 100%;
      // some performance improvements for scrolling
      will-change: overflow;

      &__scroll {
        -ms-overflow-style: none;
        -webkit-overflow-scrolling: touch;
        height: 100%;
        overflow-y: scroll;
        position: absolute;
        width: 100%;
        &::-webkit-scrollbar {
          display: none;
        }
      }

      &::after {
        background: linear-gradient(to bottom, transparent 0%, $mt3_color-black 100%);
        bottom: 0;
        content: '';
        height: 70px;
        left: 0;
        opacity: 1;
        pointer-events: none;
        position: relative;
        position: absolute;
        transition-duration: 0.5s;
        transition-property: opacity;
        transition-timing-function: ease-in-out;
        width: 100%;
        z-index: $mt3_z-middle + 1;
      }
    }
  }

  &-container--thumbnail {
    overflow: hidden;
    position: relative;

    // container text over the image.
    .thumbnail-overlay {
      bottom: 0;
      color: $mt3_color-white;
      display: flex;
      flex-direction: column;
      font-family: $mt3_haas-stack;
      font-size: 14px;
      font-weight: 600;
      justify-content: center;
      left: 0px;
      letter-spacing: 0.05em;
      line-height: 1.43;
      padding: 0 30px;
      position: absolute;
      right: 0;
      text-decoration: none;
      top: 0;
      z-index: $mt3_z-middle + 1;

      &:hover,
      &:focus,
      &:active {
        outline: 0;
      }

      &__video-title {
        height: 3em;
      }
    }

    .mt3_kicker-wrapper {
      margin-bottom: .5rem;

      .thumbnail-kicker--now {
        border-color: $mt3_color-black;
        font-weight: 600;
      }
      .thumbnail-kicker--next {
        border-color: $mt3_color-primary;
        font-weight: 600;
      }
    }

    .mt3_thumbnail-video-title__container {
      height: auto;
      max-height: 3em;
    }

    .modules-images {
      &:before {
        background-color: $mt3_color-black;
        content: '';
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: $mt3_z-middle + 1;
      }

      img {
        opacity: .4;
        z-index: $mt3_z-middle + 1;
      }
    }

    @include respond-to(m) {
      display: inline-block;
      margin-bottom: 30px;
      width: 50%;

      // left column
      &:nth-child(odd) {
        padding-right: 15px;

        .thumbnail-overlay {
          right: 15px;
        }
      }
      // right column
      &:nth-child(even) {
        padding-left: 15px;

        .thumbnail-overlay {
          left: 15px;
        }
      }
    }

    @media #{$mt3_mq-md} {
      // when you scroll to the bottom
      // the black gradient no longer covers the thumbnail
      &:last-of-type {
        margin-bottom: 70px;
      }
    }
  }

  &-container--active-thumbnail {
    .thumbnail-overlay {
      color: $mt3_color-black;
    }

    .modules-images {
      &:before {
        background-color: $mt3_color-primary;
      }
    }

    @media #{$mt3_mq-md} {
      &:after {
        border-bottom: 15px solid transparent;
        border-left: 15px solid $mt3_color-black;
        border-top: 15px solid transparent;
        content: '';
        display: block;
        height: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 0;
        z-index: $mt3_z-middle + 1;
      }
    }
  }
}
