@import '../../styles/themes/default/vars/mqs';
@import '../../styles/themes/default/vars/colors';
@import '../../styles/themes/default/vars/inputs';
@import '../../styles/themes/default/vars/typography-fontfaces';
@import '../../styles/themes/default/vars/typography-fontsizes';
@import '../../styles/themes/default/vars/z';

// Variables

$default-size-value: 1rem;

$secondary-nav-fixed-top: 90px;

// ====================
// ====================
// Reset
// ====================
// ====================


body {
  margin: 0;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  word-wrap: break-word;
}

td,
th {
  border: 1px solid $mt3_color-gray-10;
  padding: .5rem;
  text-align: left;
}

// ====================
// ====================
// Badges
// ====================
// ====================

.badge {
  background-color: #F45840;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  min-width: 10px;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}


// ====================
// ====================
// Homepage
// ====================
// ====================


.examplelink {
  &:link,
  &:visited {
    color: $mt3_color-black;
    text-decoration: none;
  }
}

.codemarkup {
  border: 1px solid $mt3_color-gray-10;
  display: block;
  padding: 1.5em;
  word-wrap: break-word;
}


// ====================
// Page Wrapper
// ====================

.pagewrapper {
  position: relative;

  @media #{$mt3_mq-lg} {
    margin: auto;
    max-width: $screen-l;
  }
}


// ====================
// Page Divider
// ====================

.divider {
  border-bottom: 1px solid $mt3_color-gray-10;
  border-top: 1px solid $mt3_color-gray-10;
  height: 1em;
}


// ====================
// ====================
// Color page
// ====================
// ====================


// ====================
// Color Examples Block
// ====================

.colorexamplepadding {
  padding: .625rem;
}

hr {
  background: $mt3_color-gray-10;
  border: 0;
  display: block;
  height: 1px;
  margin: 2.5rem 0;
}

// ====================
// Illustrated Examples Block
// ====================

.illustratedexamples-container {
  margin: 0;
  padding: 0;
}

.illustratedexamples-item {
  list-style-type: none;
  min-height: 270px;
  text-align: center;

  @media #{$mt3_mq-lg} {
    min-height: 217px;
  }
}

.circle {
  border: 1px solid $mt3_color-gray-10;
  border-radius: 50%;
}


// ====================
// ====================
// Typography page
// ====================
// ====================

.typographyexamples-item {
  border: 1px solid $mt3_color-gray-10;
  padding: 0 $default-size-value;
}

.examplepadding {
  padding: 2em;
}


// ====================
// Footer / Copyright
// ====================

.footer {
  padding-bottom: 2.5em;
  padding-top: 2.5em;

  .github-wrapper {
    * {
      vertical-align: middle;
    }
  }
}

.copyright {
  @media #{$mt3_mq-lg} {
    margin-bottom: 0;
  }
}


// ====================
// Fieldset
// ====================

.fieldset {
  border: none;
}

.iconexample-container {
  border: 1px solid $mt3_color-gray-10;
  border-radius: 50%;
  position: relative;
}

.iconexample-icon,
.iconexample-image {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.iconexample-image {
  max-width: 70%;
}

.downloadicon-btn {
  &:link,
  &:visited,
  &:hover {
    color: $mt3_color-gray-80;
    display: block;
    text-decoration: none;
  }
}

// ====================
// ====================
// Layout page
// ====================
// ====================

.sectionpadding {
  padding-top: $default-size-value;

  @media #{$mt3_mq-lg} {
    padding-top: 3rem;
  }
}

.gridexample {
  overflow: hidden;
  position: relative;
}

.gridexample-container {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -5;
}

.gridexample-item {
  height: 1000vh;
}

.dashed-border {
  background-image: linear-gradient(to bottom, $mt3_color-gray-40 50%, transparent 0);
  background-repeat: repeat-y;
  background-size: .09375em 1.125em;
}

.exampleborder {
  border: 2px solid $mt3_color-black;
}


// ====================
// ====================
// Site Header
// ====================
// ====================

.headerwrapper {
  background: $mt3_color-white;
  border-bottom: 1px solid $mt3_color-gray-10;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: zIndex('site-top');
}

.header {
  height: 3.75rem;
  position: relative;
}

.branding {
  margin-top: 0.83125rem;
  * {
    display: inline-block;
    vertical-align: middle;
  }
}

.sitelogo {
  margin-right: 0.2rem;
}

.sitetitle {
  @extend %mt3_verlag;
  font-size: $mt3_h-sm5;
  font-weight: $mt3_verlag-bold;

  &,
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $mt3_color-black;
    text-decoration: none;
  }
}

.navlist {
  @extend %mt3_verlag;
  display: none;

  @media #{$mt3_mq-lg} {
    text-align: right;
    display: block;
    font-size: $mt3_fs-xsm;
    top: .7rem;
  }
}

.navitem {
  display: inline-block;
  margin-left: 1.375rem;
}

.navlink {
  &,
  &:link,
  &:visited {
    color: $mt3_color-gray-40;
    text-decoration: none;
  }

  &:hover,
  &:active {
    color: $mt3_color-black;
    text-decoration: underline;
  }
}

.navicon {
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  @media #{$mt3_mq-lg} {
    display: none;
  }
}

.navlist-modal {
  @extend %mt3_verlag;
  font-size: $mt3_h-sm6;
  margin-top: $default-size-value * 6;
  padding: $mt3_h-sm6;

  * {
    display: block;
  }

  &--item {
    border-bottom: 1px solid $mt3_color-gray-40;
  }

  &--link {
    padding: $mt3_h-sm6 0 $mt3_h-sm6;

    &,
    &:link,
    &:visited,
    &:active {
      color: $mt3_color-gray-40;
      text-decoration: none;
    }
  }
}


// ====================
// ====================
// Site Secondary Nav
// ====================
// ====================


.secondarynav {
  display: none;

  @media #{$mt3_mq-lg} {
    display: block;
    position: relative;

    &-sticky {
      position: fixed;
      top: $secondary-nav-fixed-top;
    }
  }
}

.secondarynav-list {
  padding-left: 0;
}

.secondarynav-list-item {
  display: block;
  font-family: $mt3_haas-stack;
  font-size: $default-size-value;
  font-weight: 400;
  line-height: 1.4;
}

.secondarynav-item-link {
  &,
  &:active {
    color: $mt3_color-gray-86;
    text-decoration: none;
  }

  &:hover {
    border-bottom: 2px solid $mt3_color-primary;
  }
}


// ====================
// ====================
// Components page
// ====================
// ====================

.illustratedexample-border {
  border: 1px solid $mt3_color-gray-10;
}

.nomargin {
  margin: 0;
}
.nopadding {
  padding: 0;
}

.counter-example {
  height: 12rem;
}

.iconlabelexample {
  min-height: 3em;
}


// ====================
// ====================
// Code snippets
// ====================
// ====================

$codesnippet-fs: .9375rem;

pre {
  &.codesnippet,
  &.codesnippet[class*="language-"],
  &.configurator-codesnippet {
    background-color: $mt3_color-gray-80;
    border: 1px solid $mt3_color-gray-10;
    border-radius: 0;
    margin-top: 1.25rem;
    padding: 1em;

    code {
      font-size: $codesnippet-fs;
      margin: 0;
    }
  }
}

.configurator-markup,
.configurator-codesnippet {
  // Additional styles imported from prism to accomodate the configurator codesnippet
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  line-height: 1.5;
  overflow: auto;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  white-space: pre;
  word-break: normal;
  word-wrap: normal;
}

// Applies to other code found on site. Doesn't apply to code snippets

code {
  font-size: 14px;
}


// Hide code snippet

.hidesnippet {
  display: none;
}

// Code snippet button

.codesnippet-wrapper {
  margin-bottom: 2.5rem;
  position: relative;
}

.codesnippet-button {
  background-color: $mt3_color-white;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: $default-size-value;

  .constrainheight &,
  .constrainheight-mobile & {
    bottom: 0;
    position: absolute;
  }

  &:active,
  &:focus,
  &:hover {
    color: $mt3_color-gray-50;
  }
}


// Chevron up Icon
$snippet-chevron-up: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2037.4%2037.6%22%3E%0A%20%20%3Cpath%20fill%3D%22none%22%20stroke%3D%22currentColor%22%20stroke-width%3D%222%22%20stroke-miterlimit%3D%2210%22%20vector-effect%3D%22non-scaling-stroke%22%20d%3D%22M.7%2028.2l18-18%2018%2018%22%2F%3E%0A%3C%2Fsvg%3E');
//  Pre URL-encoded chevron up SVG:<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 37.4 37.6"><path fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" vector-effect="non-scaling-stroke" d="M.7 28.2l18-18 18 18"/></svg>


.codesnippet-icon {
  &:after {
    background-repeat: no-repeat;
    background-size: 1.5rem;
    content: '';
    display: inline-block;
    margin-left: $default-size-value;
    padding: $default-size-value;
    vertical-align: middle;
  }

  &--collapse {
    &:after {
      background-image: $snippet-chevron-up;
    }
  }

  &--expand {
    &:after {
      background-image: $mt3_dropdown-icon;
    }
  }
}

.codesnippet-icon {
  &:hover,
  &:focus,
  &:active {
    &:after {
      opacity: .4;
    }
  }
}

.expandheight {
  height: auto;
  overflow: auto;
}

.constrainheight {
  height: 320px;
  overflow: hidden;
}

.constrainheight-mobile {
  height: 240px;
  overflow: hidden;
}

.anchor-link {
  display: block;
  margin-top: -9.375rem;
  padding-top: 9.375rem;
}
