// Things with no home
// ===================

// Styles from Member Center

// Colors

$icongs-check: "\2713";
.icongs {
    &.icongs-check:before {
        content: $icongs-check;
    }
}

.mt_paddinghalf {
    padding: 1em;
}

.mt_btn--facebook {
    background-color: $blue-medium;
    color: white;
    padding: 0;
}

.mt_col-5-half {
    float: left;
    position: relative;
    width: 40%;
}

.mt_col-margin-5 {
    margin-right: 5%;
    margin-left: 5%;
}

.op_btn {
    line-height: 24px;
    font-family: $mt_font-serif-stack;
    font-style: italic;
    font-weight: 300;
    text-transform: uppercase;
}

.op_font-bold {
    font-weight: 600;
}

.op_check {
    font-family: $mt_font-sans;
}

.op_links {
    border-bottom: none;
    font-family: $mt_font-sans;
    &:visited {
        border-bottom: none;
    }
}

.mt_line-separator {
    border-bottom: 1px solid $gray-medium;
    height: 11px;
}

.mt_label {
    margin: 0.359375em 0;
}

.mt_color-gray-dark {
    color: $gray-dark;
}

.mt_background-gray-light {
    background-color: $gray-light;
}

.mt_background-red-light {
    background-color: $red-light;
}

.mt_background-green-light {
    background-color: $green-light;
}

.mt_strong-italic {
    font-family: $mt_font-serif-stack-italic;
}

.mt_required {
    position: relative;
    .input-form {
        padding-left: 1.6em;
    }
    label:after {
        color: $state-danger-text;
        content: "*";
        display: block;
        left: 0.7em;
        position: absolute;
        top: 1.2em;
    }
}

.mt_select {
    display: inline;
    position: relative;
}

.mt_select-arrow {
    color: $gray-medium;
    right: 13px;
    position: absolute;
    top: 20px;
    z-index: -1;
}
