
.mt_row {
    @extend .mt_cf;
}

.mt_row-gut-half {
    margin-bottom: $mt_unit / 2;
}

@for $i from 1 through 4 {
    .mt_row-gut-#{$i} {
        margin-bottom: $mt_unit * $i;
    }
}

@each $bp, $width in $layout-bps { // loop through breakpoints
    @media #{ $width } {
        .mt_row-#{$bp}-gut-half {
            margin-bottom: $mt_unit / 2;
        }

        @for $i from 1 through 4 {
            .mt_row-#{$bp}-gut-#{$i} {
                margin-bottom: $mt_unit * $i;
            }
        }
    }
}
