// Inputs, including text area

%mt_input-text-theme {
    @extend %mt_font-alternate;

    background-color: white;
    border: 1px solid $mt_color-lowlight;
    color: $mt_color-gamma;
    margin: 0;
    padding: $mt_padding-half;
}
