$mt_btn-inactive-color: rgba(128, 128, 128, 0.4);

button,
&.mt_btn {
  @extend .mt_h5;
  padding: 16px 32px 16px 32px;
  border: 1px solid transparent;
  border-radius: 0;
  cursor: pointer;
  text-align: center;
  transition: 400ms;
  background-color: transparent;

  &.mt_btn-default{
    background-color: $color-primary;
    &:hover{
      background-color: $mt_color-primary-light;
      border: 1px solid $mt_color-primary-light;
    }

    &--reversed{
      color: $mt_color-neutral-lightest;
    }
    &--inactive{
      background: $color-neutral;
      color: $mt_color-neutral-darkest;
      cursor: default;
      opacity: 0.3;
    }
  }

  &.mt_btn-secondary{
    border: 1px solid $mt_color-primary-light;
    &--reversed{
      color: $mt_color-neutral-lightest;
      border: 1px solid $color-primary;
      &:hover{
        background: $color-primary;
        color: $mt_color-neutral-darkest;
        }
    }
    &--inactive{
        border: 1px solid $mt_btn-inactive-color;
        color: $mt_btn-inactive-color;
        cursor: default;
    }

  }

  &.mt_btn-naked{
    background: none;
    border-bottom: 2px solid $color-primary;
    padding: 0;
    &:hover{
      background-color: transparent;
      color: $color-primary;
    }
    &--reversed{
      color: $mt_color-neutral-lightest;
      border-bottom: 2px solid $color-primary;
    }
    &--inactive{
      color: $mt_btn-inactive-color;
      border: 0;
      cursor: default;
      &:hover{
        color: $mt_btn-inactive-color;
      }
    }
  }

  &--success{
    color: $mt_color-neutral-lightest;
    background-color: $color-affirmation;
    border: 1px solid $color-affirmation;
    &:hover {
        background-color: $mt_color-affirmation-light;
        border: 1px solid $mt_color-affirmation-light;
    }
  }
  &--error{
    color: $mt_color-neutral-lightest;
    background-color: $color-danger;
    border: 1px solid $color-danger;
    &:hover{
      background-color: $mt_color-danger-light;
      border: 1px solid $mt_color-danger-light;
    }
  }
}
