.mt_btn {
  @extend %mt_h5;

  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0;
  cursor: pointer;
  margin-bottom: .675em;
  margin-right: .675em;
  padding: $mt_unit $mt_unit-double;
  text-align: center;
  transition: 400ms;

  &--success {
    background-color: $mt_color-affirmation;
    border: 1px solid $mt_color-affirmation;
    color: $mt_color-neutral-xxxl;

    &:hover {
      background-color: $mt_color-affirmation-l;
      border: 1px solid $mt_color-affirmation-l;
    }
  }

  &--error {
    background-color: $mt_color-danger;
    border: 1px solid $mt_color-danger;
    color: $mt_color-neutral-xxxl;

    &:hover {
      background-color: $mt_color-danger-l;
      border: 1px solid $mt_color-danger-l;
    }
  }
}

.mt_btn--default {
  background-color: $mt_color-primary;

  &:hover {
    background-color: $mt_color-primary-l;
    border: 1px solid $mt_color-primary-l;
  }

  &--inverse {
    color: $mt_color-neutral-xxxl;
  }

  &--inactive {
    background: $mt_color-neutral;
    color: $mt_color-neutral-xxd;
    cursor: default;
    opacity: .3;
  }
}

.mt_btn--secondary {
  border: 1px solid $mt_color-primary-l;

  &:hover {
    background: $mt_color-primary-l;
  }

  &--inverse {
    border: 1px solid $mt_color-primary-l;
    color: $mt_color-neutral-xxxl;

    &:hover {
      background: $mt_color-primary-l;
      color: $mt_color-neutral-xxd;
    }
  }

  &--inactive {
    border: 1px solid transparentize($mt_color-neutral-l, .6);
    color: transparentize($mt_color-neutral-l, .6);
    cursor: default;
  }
}

.mt_btn--naked {
  background: none;

  span {
    border-bottom: 2px solid $mt_color-primary;
  }

  &:hover {
    background-color: transparent;
    color: $mt_color-primary;
  }

  &--inverse {
    color: $mt_color-neutral-xxxl;
  }

  &--inactive {
    border: 0;
    color: transparentize($mt_color-neutral-l, .6);
    cursor: default;

    &:hover {
      color: transparentize($mt_color-neutral-l, .6);
    }
  }
}
