.mt2_input {
  border: $mt2_border-default;
  opacity: .9;
  padding: $mt2_fs-sm $mt2_unit;
  transition: 400ms;

  &:focus,
  &:hover {
    border: $mt2_border-default-hover;
    opacity: 1;
    outline: none;
  }

  &[type='text']:disabled,
  &[type='text']:disabled:hover {
    opacity: .4;
  }

  &--error {
    &,
    &:focus,
    &:hover {
      border: $mt2_border-danger;
      box-shadow: 0 0 $mt2_unit-half $mt2_color-danger;
      opacity: 1;
    }

    &:focus {
      box-shadow: none;
    }
  }
}

.mt2_textarea {
  min-height: $mt2_unit * 6;
}
