@function btn-text-color($color) {
    @return if(yiq($color) >= 128, $color-text, $color-text-inverse);
}

@mixin btn($color) {
    background-color: $color;
    box-shadow: 0 $btn-offset-y darken($color, 20);
    color: btn-text-color($color);

    &:hover {
        background-color: lighten($color, 10);
        box-shadow: 0 $btn-offset-y $color;
        color: lighten(btn-text-color($color), 10);
    }
}
