<h3>Image With Photo Caption (figure)</h3>

<figure>
  <div class="mt_intratio--photo mt_bgcolor--neutral--lighter-even"></div>
  <figcaption>
    <p class="mt_color--neutral--darker">
      <span class="mt_h5">Photo Title</span> <span class="mt_subh4">This is a photo caption. This is a photo caption. This is a photo caption. This is a photo caption. This is a photo caption. This is a photo caption. This is a photo caption.</span>
    </p>

    <span class="mt_subh3 mt_color--neutral--light">Photograph by Name Here<br />
Source: goes here</span>
  </figcaption>
</figure>
