<div class="mt_row pagewrapper mt_col-gut-lg">
  <div class="mt_col-lg-3 mt_col-sm-12">
    <h3 class="mt_h3">Photo Captions and Credits </h3>

    <p class="mt_subh4">
      It is standard practice to include photo credits for any image used on National Geographic’s website. Credits are not necessary when
      an image acts as a promo link to a page that includes that image with its credit.
    </p>
  </div>

  <div class="mt_col-lg-8 mt_col-sm-12 mt_col-offset-0 mt_col-lg-offset-1">
    <figure>
      <div class="mt_intratio--photo mt_bgcolor--neutral--lighter-even"></div>

      <figcaption>
        <p class="mt_color--neutral--darker photocaption">
          <span class="mt_h5">Photo Title</span> <span class="mt_subh4">This is a photo caption. This is a photo caption. This is a photo caption. This is a photo caption. This is a photo caption. This is a photo caption. This is a photo caption.</span>
        </p>

        <span class="mt_subh3 mt_color--neutral--light">Photograph by Name Here<br /> Source: goes here</span>
      </figcaption>
    </figure>
  </div>
</div>
