---
title: Components
---

<div class="mt_row pagewrapper mt_col-gut-sm mt_col-md-gut-md mt_col-lg-gut-lg sectionpadding">
  <div class="mt_col-lg-10 mt_row-gut-2">
    <h1 class="mt_h1">Components</h1>

    <p class="mt_subh1">
      Use the following component library to build websites in any content management system.
    </p>
  </div>
</div>

<div class="mt_bgcolor--neutral--xxl mt_row-gut-4 divider">&nbsp;</div>

{% include "app/modules/sharing/docs.html" %}
<div class="mt_bgcolor--neutral--xxl mt_row-gut-4 divider">&nbsp;</div>
{% include "app/modules/slider/docs.html" %}
<div class="mt_bgcolor--neutral--xxl mt_row-gut-4 divider">&nbsp;</div>
{% include "app/styles/components/ratios.html" %}
<div class="mt_bgcolor--neutral--xxl mt_row-gut-4 divider">&nbsp;</div>
{% include "app/styles/components/figure.html" %}
<div class="mt_bgcolor--neutral--xxl mt_row-gut-4 divider">&nbsp;</div>
{% include "app/styles/components/relatedcontent.html" %}
<div class="mt_bgcolor--neutral--xxl mt_row-gut-4 divider">&nbsp;</div>
{% include "app/modules/icon/docs.html" %}
<div class="mt_bgcolor--neutral--xxl mt_row-gut-4 divider">&nbsp;</div>
{% include "app/modules/button/docs.html" %}
