---
title: UI Patterns
---

<div class="pagewrapper mt3_row mt3_col-gut sectionpadding">
  <div class="mt3_col-lg-10 mt3_row-gut-2">
    <h1 class="mt3_heading--h1--2">UI Patterns</h1>

    <p class="mt3_page-description">
      Whenever possible, adhere to the following library of common user interface patterns.
    </p>
  </div>
</div>

<div class="mt3_bgcolor--gray5 divider">&nbsp;</div>

{% include "src/styles/patterns/buttons.html" %}
{% include "src/styles/patterns/inputs.html" %}
{% include "src/modules/modals/doc.html" %}
{% include "src/styles/blocks/videopromo.html" %}
{% include "src/styles/blocks/counters.html" %}
{% include "src/styles/blocks/channelbranding.html" %}
