<!doctype html>
<html>
<head>
  <title>{{title}} | Mortar: The NGP Living Styleguide</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/styles/mortar-default.css">
  <link rel="stylesheet" href="https://fonts.ngeo.com/hoefler/1-0-1/hco_fonts.css">
</head>
<body>
  <header>
    <h1><a href="/">Mortar</a></h1>
    <h2>The NGP Living Styleguide</h2>
    <nav>
      <ul>
        <li><a href="/theme">Theme</a></li>
      </ul>
    </nav>
  </header>
  {{contents | safe}}
  <script>
  (function(d) {
    var config = {
      kitId: 'wdv5zcl',
      scriptTimeout: 3000
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//fonts.ngeo.com/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
  </script>
</body>
</html>
