$screen-s: 30em;
$screen-m: 768px;
$screen-l: 70em;

$mt3_mq-sm: 'screen and (min-width: #{$screen-s})';
$mt3_mq-md: 'screen and (min-width: #{$screen-m})';
$mt3_mq-lg: 'screen and (min-width: #{$screen-l})';

// Example Use
// ===========
//
// mq variables will need to be interpolated like so:
//
// @media #{$mt3_mq-sm} {
//   div {
//     color: red;
//   }
// }


$mt3_layout-bps: (
  sm: $mt3_mq-sm,
  md: $mt3_mq-md,
  lg: $mt3_mq-lg
);

// This function check if the screen responds to the proper size
// @param $breakpoint this parameter accept s, m, l, xl values.
@mixin respond-to($breakpoint) {

  @if $breakpoint == s {
    @media (max-width: #{$screen-s - .01}) {
      @content;
    }
  }

  @else if $breakpoint == m {
    // respond to medium and small
    @media (min-width: #{$screen-s}) and (max-width: #{$screen-m - .01}) {
      @content;
    }
  }

  @else if $breakpoint == l {
    // respond to medium and bigweb
    @media (min-width: #{$screen-m}) and (max-width: #{$screen-l - .01}) {
      @content;
    }
  }

  @else if $breakpoint == xl {
    // respond to medium and bigweb
    @media (min-width: #{$screen-l}) {
      @content;
    }
  }
}

@mixin respond-to-multiple($breakpoints...) {
  @each $item in $breakpoints {
    @if $item != null {
      @include respond-to($item) {
        @content;
      }
    }
  }
}
