/*
  Variables with no clear place to exist.
  TODO: Fix styling architecture.
*/

// Borders

$mt3_border-default: 1px solid $mt3_color-gray-10;
$mt3_border-default-hover: 1px solid $mt3_color-gray-50;
$mt3_border-danger: 1px solid $mt3_color-danger;
