// =====
// SHAME
// =====

// TODO: MOVE ALL THIS WHERE IT BELONGS

/*
  All these styles were part of default typography styles.
  They are, and should be placed in, part of its respective components.
*/


// Extends

%mt3_text {
  @extend %mt3_haas;
  font-weight: 400;
}


.mt3_page-title--large {
  @extend %mt3_verlag;
  font-size: $mt3_fs-med-xlrg;
  font-weight: 400;
  line-height: 1.05;
  text-rendering: optimizeLegibility;

  @media #{$mt3_mq-md} {
    font-size: $mt3_fs-xxlrg;
  }

  @media #{$mt3_mq-lg} {
    font-size: $mt3_fs-xxxlrg;
  }
}

.mt3_page-title--small {
  @extend %mt3_haas;
  font-size: $mt3_fs-xlrg;
  font-weight: 600;
  line-height: 1.15;
  text-rendering: optimizeLegibility;

  @media #{$mt3_mq-md} {
    font-size: $mt3_fs-med-lrg;
  }

  @media #{$mt3_mq-lg} {
    font-size: $mt3_fs-med-xlrg;
  }
}

.mt3_page-description {
  font-family: $mt3_georgia-stack;
  font-size: $mt3_h-base;
  line-height: 1.6;
}

.mt3_kicker {
  @extend %mt3_verlag;
  border-right: 1px solid $mt3_color-gray-50;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0 1.25rem;

  //If there are multiple kickers in a row,
  // only the first kicker has a border-left
  &:nth-child(1) {
    border-left: 1px solid $mt3_color-gray-50;
  }

  &--link {
    & {
      color: inherit;
      text-decoration: none;
    }

    &:hover,
    &:active,
    &:focus {
      color: inherit;
      text-decoration: underline;
    }
  }
}
