// ===============
// START OLD STUFF
// ===============

// TODO: Da hell is old stuff??

%mt3_h1 {
  font-family: Georgia, serif;
  font-size: $mt3_fs-med-xlrg;
  font-weight: 300;
  letter-spacing: .005em;
  line-height: .95;
  text-rendering: optimizeLegibility;

  @media #{$mt3_mq-md} {
    font-size: $mt3_fs-xxlrg;
  }

  @media #{$mt3_mq-lg} {
    font-size: $mt3_fs-xxxlrg;
  }
}

%mt3_h2 {
  font-family: Georgia, serif;
  font-size: $mt3_fs-xlrg;
  font-weight: 600;
  letter-spacing: .005em;
  line-height: 1.15;
  text-rendering: optimizeLegibility;

  @media #{$mt3_mq-md} {
    font-size: $mt3_fs-med-lrg;
  }

  @media #{$mt3_mq-lg} {
    font-size: $mt3_fs-med-xlrg;
  }
}

%mt3_h3 {
  @extend %mt3_haas;
  font-size: $mt3_fs-lrg;
  font-weight: 600;
  line-height: 1.185;

  @media #{$mt3_mq-lg} {
    font-size: $mt3_fs-xlrg;
  }
}

%mt3_h4 {
  font-family: Georgia, serif;
  font-size: $mt3_fs-lrg;
  font-weight: 600;
  letter-spacing: .003em;
  line-height: 1.36;
}

%mt3_h5 {
  @extend %mt3_haas;
  font-size: $mt3_fs-sm;
  font-weight: 600;
}

%mt3_subh1 {
  @extend %mt3_haas;
  font-size: $mt3_fs-med;
  font-weight: 300;
  line-height: 1.37;
}

%mt3_subh2 {
  @extend %mt3_haas;
  font-size: $mt3_fs-sm;
  font-weight: 300;
  line-height: 1.57;
  text-transform: uppercase;
}

%mt3_subh3 {
  @extend %mt3_haas;
  font-size: $mt3_fs-xsm;
  font-weight: 300;
  text-transform: uppercase;
}

%mt3_subh4 {
  @extend %mt3_haas;
  font-size: $mt3_fs-sm;
  font-weight: 300;
  line-height: 1.43;
}

%mt3_body {
  font-family: Georgia, serif;
  font-size: $mt3_fs-norm;
  font-weight: 300;
  letter-spacing: .001em;
  line-height: 1.6875;

  em {
    @extend %mt3_body--emphasis;
  }

  strong {
    @extend %mt3_body--strong;
  }
}

%mt3_body--emphasis {
  font-family: Georgia, serif;
  font-size: $mt3_fs-norm;
  font-style: italic;
  font-weight: 300;
  letter-spacing: .001em;
  line-height: 1.6875;
}

%mt3_body--strong {
  font-family: Georgia, serif;
  font-size: $mt3_fs-norm;
  font-weight: 700;
  letter-spacing: .001em;
  line-height: 1.6875;
}
