// ==========
// FONT FACES
// ==========


@font-face {
  font-family: "Haas";
  font-style: normal;
  font-weight: 600;
  src:  url('//fonts.ngeo.com/haas/1-0-0/NeueHaasGroteskDispW04-65Md.woff2') format('woff2'),
        url('//fonts.ngeo.com/haas/1-0-0/NeueHaasGroteskDispW04-65Md.woff') format('woff');
}

@font-face {
  font-family: "Haas";
  font-style: italic;
  font-weight: 600;
  src:  url('//fonts.ngeo.com/haas/1-0-0/NeueHaasGroteskDispW04-66MdIt.woff') format('woff'),
        url('//fonts.ngeo.com/haas/1-0-0/NeueHaasGroteskDispW04-66MdIt.woff2') format('woff2');
}

@font-face {
  font-family: "Haas";
  font-style: normal;
  font-weight: 400;
  src:  url('//fonts.ngeo.com/haas/1-0-0/NeueHaasGroteskDispW04-55Rm.woff2') format('woff2'),
        url('//fonts.ngeo.com/haas/1-0-0/NeueHaasGroteskDispW04-55Rm.woff') format('woff');
}

@font-face {
  font-family: "Haas";
  font-style: italic;
  font-weight: 400;
  src:  url('//fonts.ngeo.com/haas/1-0-0/NeueHaasGroteskDispW04-56It.woff2') format('woff2'),
        url('//fonts.ngeo.com/haas/1-0-0/NeueHaasGroteskDispW04-56It.woff') format('woff');
}


$mt3_haas-stack: 'Haas', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
$mt3_verlag-stack: 'HCo Verlag', 'CenturyGothic', AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
$mt3_georgia-stack: Georgia, serif;
