// =============
// FONT HEADINGS
// =============


%mt3_haas-heading {
  @extend %mt3_haas;
  font-weight: 600;
  line-height: 1.1;
}

%mt3_verlag-heading {
  @extend %mt3_verlag;
  font-weight: 400;
  line-height: 1.05;
}

%mt3_georgia-heading {
  font-family: $mt3_georgia-stack;
  font-weight: bold;
  line-height: 1.1;
}

// The following classes with numerical endings (1,2,3) inherit specific fonts

.mt3_heading--h1--1,
.mt3_heading--h2--1,
.mt3_heading--h3--1,
.mt3_heading--h4--1,
.mt3_heading--h5--1,
.mt3_heading--h6--1 {
  @extend %mt3_haas-heading;
}

.mt3_heading--h1--2,
.mt3_heading--h2--2,
.mt3_heading--h3--2,
.mt3_heading--h4--2,
.mt3_heading--h5--2,
.mt3_heading--h6--2 {
  @extend %mt3_verlag-heading;
}

.mt3_heading--h1--3,
.mt3_heading--h2--3,
.mt3_heading--h3--3,
.mt3_heading--h4--3,
.mt3_heading--h5--3,
.mt3_heading--h6--3 {
  @extend %mt3_georgia-heading;
}

.mt3_heading--h1--1,
.mt3_heading--h1--3 {
  font-size: $mt3_h-med3;

  @media #{$mt3_mq-md} {
    font-size: $mt3_h-med7;
  }

  @media #{$mt3_mq-lg} {
    font-size: $mt3_h-med11;
  }
}

.mt3_heading--h1--2 {
  font-size: $mt3_h-med10;

  @media #{$mt3_mq-md} {
    font-size: $mt3_h-xlg;
  }
  @media #{$mt3_mq-lg} {
    font-size: $mt3_h-xxlg;
  }
}

.mt3_heading--h2--1,
.mt3_heading--h2--3 {
  font-size: $mt3_h-sm6;

  @media #{$mt3_mq-md} {
    font-size: $mt3_h-med5;
  }

  @media #{$mt3_mq-lg} {
    font-size: $mt3_h-med9;
  }
}

.mt3_heading--h2--2 {
  font-size: $mt3_h-med8;

  @media #{$mt3_mq-md} {
    font-size: $mt3_h-lg;
  }

  @media #{$mt3_mq-lg} {
    font-size: $mt3_h-xlg;
  }
}

.mt3_heading--h3--1,
.mt3_heading--h3--3 {
  font-size: $mt3_h-sm4;

  @media #{$mt3_mq-md} {
    font-size: $mt3_h-med3;
  }

  @media #{$mt3_mq-lg} {
    font-size: $mt3_h-med5;
  }
}

.mt3_heading--h3--2 {
  font-size: $mt3_h-med5;

  @media #{$mt3_mq-md} {
    font-size: $mt3_h-med9;
  }

  @media #{$mt3_mq-lg} {
    font-size: $mt3_h-med11;
  }
}

.mt3_heading--h4--1,
.mt3_heading--h4--3 {
  font-size: $mt3_h-sm6;

  @media #{$mt3_mq-md} {
    font-size: $mt3_h-sm5;
  }

  @media #{$mt3_mq-lg} {
    font-size: $mt3_h-med2;
  }
}

.mt3_heading--h4--2 {
  font-size: $mt3_h-med1;

  @media #{$mt3_mq-md} {
    font-size: $mt3_h-med4;
  }

  @media #{$mt3_mq-lg} {
    font-size: $mt3_h-med6;
  }
}

.mt3_heading--h5--1,
.mt3_heading--h5--3 {
  font-size: $mt3_h-sm2;

  @media #{$mt3_mq-md} {
    font-size: $mt3_h-sm6;
  }

  @media #{$mt3_mq-lg} {
    font-size: $mt3_h-sm3;
  }
}

.mt3_heading--h5--2 {
  @extend %mt3_verlag;
  font-size: $mt3_h-sm3;

  @media #{$mt3_mq-md} {
    font-size: $mt3_h-sm4;
  }

  @media #{$mt3_mq-lg} {
    font-size: $mt3_h-sm6;
  }
}

.mt3_heading--h6--1,
.mt3_heading--h6--2,
.mt3_heading--h6--3 {
  font-size: $mt3_h-sm1;
}
