// =======
// REBRAND
// =======


@font-face {
  font-family: "Haas";
  font-style: normal;
  font-weight: 600;
  src:  url('//fonts.ngeo.com/haas/1-0-0/NeueHaasGroteskDispW04-65Md.woff2') format('woff2'),
        url('//fonts.ngeo.com/haas/1-0-0/NeueHaasGroteskDispW04-65Md.woff') format('woff');
}

@font-face {
  font-family: "Haas";
  font-style: italic;
  font-weight: 600;
  src:  url('//fonts.ngeo.com/haas/1-0-0/NeueHaasGroteskDispW04-66MdIt.woff') format('woff'),
        url('//fonts.ngeo.com/haas/1-0-0/NeueHaasGroteskDispW04-66MdIt.woff2') format('woff2');
}

@font-face {
  font-family: "Haas";
  font-style: normal;
  font-weight: 400;
  src:  url('//fonts.ngeo.com/haas/1-0-0/NeueHaasGroteskDispW04-55Rm.woff2') format('woff2'),
        url('//fonts.ngeo.com/haas/1-0-0/NeueHaasGroteskDispW04-55Rm.woff') format('woff');
}

@font-face {
  font-family: "Haas";
  font-style: italic;
  font-weight: 400;
  src:  url('//fonts.ngeo.com/haas/1-0-0/NeueHaasGroteskDispW04-56It.woff2') format('woff2'),
        url('//fonts.ngeo.com/haas/1-0-0/NeueHaasGroteskDispW04-56It.woff') format('woff');
}


$mt3_haas-stack: 'Haas', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
$mt3_verlag-stack: 'HCo Verlag', 'CenturyGothic', AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
$mt3_georgia-stack: Georgia, serif;


// Font Size Variables

$mt3_fs-xsm:    .75rem;      // 12px
$mt3_fs-sm:     .875rem;     // 14px
$mt3_fs-norm:   1.0625rem;   // 17px
$mt3_fs-med:    1.1875rem;   // 19px
$mt3_fs-lrg:    1.375rem;    // 22px
$mt3_fs-xlrg:   1.6875rem;   // 27px

$mt3_fs-med-lrg:  2.5rem;    // 40px
$mt3_fs-med-xlrg: 2.875rem; // 46px

$mt3_fs-xxlrg:  3.375rem;    // 54px
$mt3_fs-xxxlrg: 4.0625rem;   // 65px

$mt3_unit:           $mt3_fs-norm;
$mt3_unit-quarter:   $mt3_unit / 4;
$mt3_unit-half:      $mt3_unit / 2;
$mt3_unit-double:    $mt3_unit * 2;
$mt3_unit-triple:    $mt3_unit * 3;
$mt3_unit-quadruple: $mt3_unit * 4;


// New headings font-size variables
// Naming scheme can be improved in future updates


$mt3_h-base: 1.125rem;  // 18px

$mt3_h-sm1: $mt3_h-base;
$mt3_h-sm2: $mt3_h-base + (2/16);    // 20px
$mt3_h-sm6: $mt3_h-base + (3/16);    // 22px

$mt3_h-sm3: $mt3_h-base + (5/16);    // 23px
$mt3_h-sm4: $mt3_h-base + (7/16);    // 25px
$mt3_h-sm5: $mt3_h-base + (8/16);    // 26px
$mt3_h-sm6: $mt3_h-base + (9/16);    // 27px

$mt3_h-med1: $mt3_h-base + (10/16);   // 28px
$mt3_h-med2: $mt3_h-base + (11/16);   // 29px
$mt3_h-med3: $mt3_h-base + (12/16);   // 30px
$mt3_h-med4: $mt3_h-base + (14/16);   // 32px
$mt3_h-med5: $mt3_h-base + (16/16);   // 34px
$mt3_h-med6: $mt3_h-base + (18/16);   // 36px
$mt3_h-med7: $mt3_h-base + (20/16);   // 38px
$mt3_h-med8: $mt3_h-base + (21/16);   // 39px
$mt3_h-med9: $mt3_h-base + (22/16);   // 40px
$mt3_h-med10: $mt3_h-base + (27/16);   // 45px
$mt3_h-med11: $mt3_h-base + (28/16);   // 46px

$mt3_h-lg: $mt3_h-base + (29/16);   // 47px
$mt3_h-xlg: $mt3_h-base + (37/16);  // 55px
$mt3_h-xxlg: $mt3_h-base + (47/16);  // 65px


%mt3_haas-heading {
  font-family: $mt3_haas-stack;
  font-weight: 600;
  letter-spacing: .05em;
  line-height: 1.1;
}

%mt3_verlag-heading {
  font-family: $mt3_verlag-stack;
  font-weight: 400;
  letter-spacing: .05em;
  line-height: 1.05;
  text-transform: uppercase;
  word-spacing: .05em;
}

%mt3_georgia-heading {
  font-family: $mt3_georgia-stack;
  font-weight: bold;
  line-height: 1.1;
}

// The following classes with numerical endings (1,2,3) inherit specific fonts

.mt3_heading--h1--1,
.mt3_heading--h2--1,
.mt3_heading--h3--1,
.mt3_heading--h4--1,
.mt3_heading--h5--1,
.mt3_heading--h6--1 {
  @extend %mt3_haas-heading;
}

.mt3_heading--h1--2,
.mt3_heading--h2--2,
.mt3_heading--h3--2,
.mt3_heading--h4--2,
.mt3_heading--h5--2,
.mt3_heading--h6--2 {
  @extend %mt3_verlag-heading;
}

.mt3_heading--h1--3,
.mt3_heading--h2--3,
.mt3_heading--h3--3,
.mt3_heading--h4--3,
.mt3_heading--h5--3,
.mt3_heading--h6--3 {
  @extend %mt3_georgia-heading;
}

.mt3_heading--h1--1,
.mt3_heading--h1--3 {
  font-size: $mt3_h-med3;

  @media #{$mt3_mq-md} {
    font-size: $mt3_h-med7;
  }

  @media #{$mt3_mq-lg} {
    font-size: $mt3_h-med11;
  }
}

.mt3_heading--h1--2 {
  font-size: $mt3_h-med10;

  @media #{$mt3_mq-md} {
    font-size: $mt3_h-xlg;
  }
  @media #{$mt3_mq-lg} {
    font-size: $mt3_h-xxlg;
  }
}

.mt3_heading--h2--1,
.mt3_heading--h2--3 {
  font-size: $mt3_h-sm6;

  @media #{$mt3_mq-md} {
    font-size: $mt3_h-med5;
  }

  @media #{$mt3_mq-lg} {
    font-size: $mt3_h-med9;
  }
}

.mt3_heading--h2--2 {
  font-size: $mt3_h-med8;

  @media #{$mt3_mq-md} {
    font-size: $mt3_h-lg;
  }

  @media #{$mt3_mq-lg} {
    font-size: $mt3_h-xlg;
  }
}

.mt3_heading--h3--1,
.mt3_heading--h3--3 {
  font-size: $mt3_h-sm4;

  @media #{$mt3_mq-md} {
    font-size: $mt3_h-med3;
  }

  @media #{$mt3_mq-lg} {
    font-size: $mt3_h-med5;
  }
}

.mt3_heading--h3--2 {
  font-size: $mt3_h-med5;

  @media #{$mt3_mq-md} {
    font-size: $mt3_h-med9;
  }

  @media #{$mt3_mq-lg} {
    font-size: $mt3_h-med11;
  }
}

.mt3_heading--h4--1,
.mt3_heading--h4--3 {
  font-size: $mt3_h-sm6;

  @media #{$mt3_mq-md} {
    font-size: $mt3_h-sm5;
  }

  @media #{$mt3_mq-lg} {
    font-size: $mt3_h-med2;
  }
}

.mt3_heading--h4--2 {
  font-size: $mt3_h-med1;

  @media #{$mt3_mq-md} {
    font-size: $mt3_h-med4;
  }

  @media #{$mt3_mq-lg} {
    font-size: $mt3_h-med6;
  }
}

.mt3_heading--h5--1,
.mt3_heading--h5--3 {
  font-size: $mt3_h-sm2;

  @media #{$mt3_mq-md} {
    font-size: $mt3_h-sm6;
  }

  @media #{$mt3_mq-lg} {
    font-size: $mt3_h-sm3;
  }
}

.mt3_heading--h5--2 {
  font-family: $mt3_verlag-stack;
  font-size: $mt3_h-sm3;

  @media #{$mt3_mq-md} {
    font-size: $mt3_h-sm4;
  }

  @media #{$mt3_mq-lg} {
    font-size: $mt3_h-sm6;
  }
}


.mt3_heading--h6--1,
.mt3_heading--h6--2,
.mt3_heading--h6--3 {
  font-size: $mt3_h-sm1;
}


.mt3_page-title--large {
  font-family: $mt3_verlag-stack;
  font-size: $mt3_fs-med-xlrg;
  font-weight: 400;
  letter-spacing: .05em;
  line-height: 1.05;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  word-spacing: .05em;

  @media #{$mt3_mq-md} {
    font-size: $mt3_fs-xxlrg;
  }

  @media #{$mt3_mq-lg} {
    font-size: $mt3_fs-xxxlrg;
  }
}

.mt3_page-title--small {
  font-family: $mt3_haas-stack;
  font-size: $mt3_fs-xlrg;
  font-weight: 600;
  letter-spacing: .015em;
  line-height: 1.15;
  text-rendering: optimizeLegibility;

  @media #{$mt3_mq-md} {
    font-size: $mt3_fs-med-lrg;
  }

  @media #{$mt3_mq-lg} {
    font-size: $mt3_fs-med-xlrg;
  }
}

.mt3_page-description {
  font-family: $mt3_haas-stack;
  font-size: $mt3_fs-med;
  font-weight: 400;
  letter-spacing: .05em;
  line-height: 1.37;
}

.mt3_kicker {
  border-right: 1px solid $mt3_color-gray-50;
  font-family: $mt3_verlag-stack;
  font-size: .75rem;
  font-weight: 400;
  letter-spacing: .1em;
  line-height: 1.5;
  padding: 0 1.25rem;
  text-transform: uppercase;
  word-spacing: .05em;

  //If there are multiple kickers in a row,
  // only the first kicker has a border-left
  &:nth-child(1) {
    border-left: 1px solid $mt3_color-gray-50;
  }

  &--link {

    & {
      color: inherit;
      text-decoration: none;
    }

    &:hover,
    &:active,
    &:focus {
      color: inherit;
      text-decoration: underline;
    }
  }
}



// ===============
// START OLD STUFF
// ===============


%mt3_h1 {
  font-family: Georgia, serif;
  font-size: $mt3_fs-med-xlrg;
  font-weight: 300;
  letter-spacing: .005em;
  line-height: .95;
  text-rendering: optimizeLegibility;

  @media #{$mt3_mq-md} {
    font-size: $mt3_fs-xxlrg;
  }

  @media #{$mt3_mq-lg} {
    font-size: $mt3_fs-xxxlrg;
  }
}

%mt3_h2 {
  font-family: Georgia, serif;
  font-size: $mt3_fs-xlrg;
  font-weight: 600;
  letter-spacing: .005em;
  line-height: 1.15;
  text-rendering: optimizeLegibility;

  @media #{$mt3_mq-md} {
    font-size: $mt3_fs-med-lrg;
  }

  @media #{$mt3_mq-lg} {
    font-size: $mt3_fs-med-xlrg;
  }
}

%mt3_h3 {
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Nimbus Sans L', sans-serif;
  font-size: $mt3_fs-lrg;
  font-weight: 600;
  letter-spacing: -.01em;
  line-height: 1.185;

  @media #{$mt3_mq-lg} {
    font-size: $mt3_fs-xlrg;
  }
}

%mt3_h4 {
  font-family: Georgia, serif;
  font-size: $mt3_fs-lrg;
  font-weight: 600;
  letter-spacing: .003em;
  line-height: 1.36;
}

%mt3_h5 {
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Nimbus Sans L', sans-serif;
  font-size: $mt3_fs-sm;
  font-weight: 600;
}

%mt3_subh1 {
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Nimbus Sans L', sans-serif;
  font-size: $mt3_fs-med;
  font-weight: 300;
  line-height: 1.37;
}

%mt3_subh2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Nimbus Sans L', sans-serif;
  font-size: $mt3_fs-sm;
  font-weight: 300;
  line-height: 1.57;
  text-transform: uppercase;
}

%mt3_subh3 {
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Nimbus Sans L', sans-serif;
  font-size: $mt3_fs-xsm;
  font-weight: 300;
  text-transform: uppercase;
}

%mt3_subh4 {
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Nimbus Sans L', sans-serif;
  font-size: $mt3_fs-sm;
  font-weight: 300;
  line-height: 1.43;
}

%mt3_body {
  font-family: Georgia, serif;
  font-size: $mt3_fs-norm;
  font-weight: 300;
  letter-spacing: .001em;
  line-height: 1.6875;

  em {
    @extend %mt3_body--emphasis;
  }

  strong {
    @extend %mt3_body--strong;
  }
}

%mt3_body--emphasis {
  font-family: Georgia, serif;
  font-size: $mt3_fs-norm;
  font-style: italic;
  font-weight: 300;
  letter-spacing: .001em;
  line-height: 1.6875;
}

%mt3_body--strong {
  font-family: Georgia, serif;
  font-size: $mt3_fs-norm;
  font-weight: 700;
  letter-spacing: .001em;
  line-height: 1.6875;
}
