<!doctype html>
<html class="mt_backgroundbasic">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Mortar: <%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://fonts.ngeo.com/hoefler/1-0-1/hco_fonts.css">
        <link rel="stylesheet" href="http://assets.nationalgeographic.com/icongs_0-10-0/icongs.css">
        <link rel="stylesheet" href="./css/mortar.css">
        <link rel="stylesheet" href="./css/hologram.css">
        <link rel="stylesheet" href="bower_components/pygments/css/colorful.css">
        <script src="bower_components/modernizr/modernizr.js"></script>
    </head>

    <body>
        <header>
            <hgroup class="mt_backgroundhighlight">
                <h1 class="mt_h1--alt mt_headingwithlink"><a href="./">Mortar</a></h1>
                <h2 class="mt_subh2">A living style guide for the National Geographic Society</h2>
            </hgroup>
            <nav class="mt_backgroundinverse">
            <% @categories.each do |category, file_name| %>
                <a class="navitem mt_headinginverse h5" href="<%= file_name %>"><%= category %></a>
            <% end %>
                <a class="navitem mt_headinginverse h5" href="http://natgeo.github.io/icongs/">icoNGS</a>
            </nav>
        </header>

        <div class="container mt_cf">
            <%if @blocks %>
            <nav class="subnav mt_background--lowlight">
                <ul>
                <% @blocks.each do |b| %>
                    <li class="mt_headingwithlink"><a href="#<%= b[:name] %>"><%= b[:title] %></a></li>
                <% end %>
                </ul>
            </nav>
            <% end %>
            <main class="content">
