%mt3_blockquote {
  p {
    @extend %mt3_body--emphasis;

    font-size: 1rem;
  }

  border-left: ($mt3_fs-med-lrg / 2) solid $mt3_color-gray-5;
  color: $mt3_color-gray-80;
  margin: ($mt3_fs-med-lrg * 2) 0;
  padding-left: $mt3_fs-med-lrg;
  padding-right: $mt3_fs-med-lrg;
}

.mt3_blockquote {
  @extend %mt3_blockquote;
}

.mt3_blockquote--footer {
  text-align: right;
}
