.mt3_caption {
  &-body {
    @extend %mt3_haas;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.43;
  }

  &__caption-text {
    p:only-of-type {
      display: inline;
    }
  }

  &-title {
    @extend %mt3_verlag;
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.43;
    padding-right: 10px;
  }

  &-credit {
    @extend %mt3_verlag;
    font-size: .6875rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 14px;
    &:first-of-type {
      margin: 0;
    }
  }

  &-creditname {
    @extend %mt3_verlag;
    font-size: .6875rem;
    font-weight: 700;
    line-height: 1.5;
  }

  &-container {
    margin: 16px 0 36px;

    &--indent {
      border-left: 1px solid $mt3_color-gray-10;
      padding-left: 30px;
    }
  }
}
