%mt3_pullquote {
  border-bottom: 1px solid $mt3_color-gray-10;
  border-top: 1px solid $mt3_color-gray-10;
  color: $mt3_color-gray-80;
  margin: ($mt3_fs-xxxlrg / 2) 0;
  padding: ($mt3_fs-xxxlrg / 2) 0;

  p {
    /* Font-size & line-height values are carried over
      from the existing .mt3_h3 styles */
    font-family: $mt3_georgia-stack;
    font-size: $mt3_fs-lrg;
    line-height: 1.185;
    margin-top: 0;
    text-align: center;

    @media #{$mt3_mq-lg} {
      font-size: $mt3_fs-xlrg;
    }

    &:first-of-type::before {
      content: '\201C';

      @media #{$mt3_mq-lg} {
        margin-left: -$mt3_fs-sm;
      }
    }

    &:last-of-type::after {
      content: '\201D';
    }
  }

  @media #{$mt3_mq-lg} {
    padding: $mt3_fs-xxxlrg / 2;
  }
}

.mt3_pullquote {
  @extend %mt3_pullquote;

  &--footer {
    @extend %mt3_verlag;
    font-size: $mt3_fs-xsm;
    line-height: 1.5;
    text-align: center;
  }

  &--attributionname {
    border-left: 1px solid $mt3_color-gray-50;
    border-right: 1px solid $mt3_color-gray-50;
    font-weight: 600;
    padding: 0 1.25rem;
  }

  &--attributiontitle {
    border-left: 1px solid $mt3_color-gray-50;
    border-right: 1px solid $mt3_color-gray-50;
    color: $mt3_color-gray-50;
    font-weight: 400;
    padding: 0 1.25rem;
  }

  &--attributionname + &--attributiontitle {
    border-left: 0;
  }
}
