---
title: Layout
---

<article class="mt_row pagewrapper">
  <div class="mt_col-12 mt_row-gut-1 mt_col-gut-half mt_col-md-gut-0">
    <h1 class="mt_h1">Layout</h1>
    <p class="mt_subh1">
      We use a grid system at NationalGeographic.com. The default grid setting is 12 columns with a 40px gutter between columns, though the grid is configurable based on the options here.
    </p>
  </div>

  <!--Grid Example  -->

  <div class="mt_bgcolor--primary--lighter gridexample">
    <div class="mt_col-12 mt_col-sm-1 mt_col-gut-norm dashed-border">
      <div class="mt_bgcolor--primary gridexample-item">&nbsp;</div>
    </div>
    <div class="mt_col-2 mt_col-sm-1 mt_col-gut-norm dashed-border gridexample-container--hidden">
      <div class="mt_bgcolor--primary gridexample-item">&nbsp;</div>
    </div>
    <div class="mt_col-2 mt_col-sm-1 mt_col-gut-norm dashed-border gridexample-container--hidden">
      <div class="mt_bgcolor--primary gridexample-item">&nbsp;</div>
    </div>
    <div class="mt_col-2 mt_col-sm-1 mt_col-gut-norm dashed-border gridexample-container--hidden">
      <div class="mt_bgcolor--primary gridexample-item">&nbsp;</div>
    </div>
    <div class="mt_col-2 mt_col-sm-1 mt_col-gut-norm dashed-border gridexample-container--hidden">
      <div class="mt_bgcolor--primary gridexample-item">&nbsp;</div>
    </div>
    <div class="mt_col-2 mt_col-sm-1 mt_col-gut-norm dashed-border gridexample-container--hidden">
      <div class="mt_bgcolor--primary gridexample-item">&nbsp;</div>
    </div>
    <div class="mt_col-2 mt_col-sm-1 mt_col-gut-norm dashed-border gridexample-container--hidden">
      <div class="mt_bgcolor--primary gridexample-item">&nbsp;</div>
    </div>
    <div class="mt_col-2 mt_col-sm-1 mt_col-gut-norm dashed-border gridexample-container--hidden">
      <div class="mt_bgcolor--primary gridexample-item">&nbsp;</div>
    </div>
    <div class="mt_col-2 mt_col-sm-1 mt_col-gut-norm dashed-border gridexample-container--hidden">
      <div class="mt_bgcolor--primary gridexample-item">&nbsp;</div>
    </div>
    <div class="mt_col-2 mt_col-sm-1 mt_col-gut-norm dashed-border gridexample-container--hidden">
      <div class="mt_bgcolor--primary gridexample-item">&nbsp;</div>
    </div>
    <div class="mt_col-2 mt_col-sm-1 mt_col-gut-norm dashed-border gridexample-container--hidden">
      <div class="mt_bgcolor--primary gridexample-item">&nbsp;</div>
    </div>
    <div class="mt_col-2 mt_col-sm-1 mt_col-gut-norm dashed-border gridexample-container--hidden">
      <div class="mt_bgcolor--primary gridexample-item">&nbsp;</div>
    </div>
  </div>

  <!-- Rectangles -->

  <div class="mt_col-sm-2 mt_col-gut-norm">
    <div class="rectangle mt_row-gut-2">&nbsp;</div>
  </div>

  <div class="mt_col-sm-3 mt_col-gut-norm">
    <div class="rectangle mt_row-gut-2">&nbsp;</div>
  </div>

  <div class="mt_col-sm-4 mt_col-gut-norm">
    <div class="rectangle mt_row-gut-2">&nbsp;</div>
  </div>

  <div class="mt_col-sm-2 mt_col-gut-norm mt_col-sm-offset-1 mt_col-offset-0">
    <div class="rectangle mt_row-gut-2">&nbsp;</div>
  </div>

  <!-- Class names -->

  <div class="mt_col-sm-2 mt_col-gut-norm mt_row-gut-half mt_h5">.mt_class-here</div>
  <div class="mt_col-sm-3 mt_col-gut-norm mt_row-gut-half mt_h5">.mt_class-here</div>
  <div class="mt_col-sm-4 mt_col-gut-norm mt_row-gut-half mt_h5">.mt_class-here</div>
  <div class="mt_col-sm-2 mt_col-gut-norm mt_row-gut-half mt_col-sm-offset-1 mt_col-offset-0 mt_h5">.mt_class-here</div>
</article>

<div class="mt_row-gut-2">&nbsp;</div>

<div class="mt_bgcolor--neutral--lighter-even-even mt_row-gut-2 divider">&nbsp;</div>


{% include "app/styles/layout/columns.html" %}
{% include "app/styles/layout/column-gutters.html" %}
{% include "app/styles/layout/rows.html" %}
