$mt3_color-primary: hsl(48, 100%, 50%);
$mt3_color-affirmation: hsl(124, 73%, 43%);
$mt3_color-danger: hsl(8, 100%, 47%);
$mt3_color-neutral: hsl(0, 0%, 50%);

$mt3_colors: (
  primary: $mt3_color-primary,
  affirmation: $mt3_color-affirmation,
  danger: $mt3_color-danger,
  neutral: $mt3_color-neutral
);

$mt3_social-colors: (
  google-plus: #dc4e41,
  facebook: #3b5998,
  flickr: #ff0084,
  instagram: #3f729b,
  linkedin: #0077b5,
  pinterest: #bd081c,
  snapchat: #fffc00,
  tumblr: #35465c,
  twitter: #55acee,
  vine: #00bf8f,
  vimeo: #1ab7ea,
  whatsapp: #43d854,
  youtube: #cd201f
);
