$mt3_mq-sm: 'screen and (min-width: 30em)';
$mt3_mq-md: 'screen and (min-width: 50em)';
$mt3_mq-lg: 'screen and (min-width: 70em)';

// Example Use
// ===========
//
// mq variables will need to be interpolated like so:
//
// @media #{$mt3_mq-sm} {
//     div {
//         color: red;
//     }
// }


$mt3_layout-bps: (
  sm: $mt3_mq-sm,
  md: $mt3_mq-md,
  lg: $mt3_mq-lg
);
