// Font Size Variables

$mt2_fs-xsm:    .75rem;      // 12px
$mt2_fs-sm:     .875rem;     // 14px
$mt2_fs-norm:   1.0625rem;   // 17px
$mt2_fs-med:    1.1875rem;   // 19px
$mt2_fs-lrg:    1.375rem;    // 22px
$mt2_fs-xlrg:   1.6875rem;   // 27px

$mt2_fs-med-lrg:  2.5rem;    // 40px
$mt2_fs-med-xlrg: 2.875rem; // 46px

$mt2_fs-xxlrg:  3.375rem;    // 54px
$mt2_fs-xxxlrg: 4.0625rem;   // 65px

$mt2_unit:           $mt2_fs-norm;
$mt2_unit-quarter:   $mt2_unit / 4;
$mt2_unit-half:      $mt2_unit / 2;
$mt2_unit-double:    $mt2_unit * 2;
$mt2_unit-triple:    $mt2_unit * 3;
$mt2_unit-quadruple: $mt2_unit * 4;

%mt2_h1 {
  font-family: 'Chronicle Display 3r', Georgia, serif;
  font-size: $mt2_fs-med-xlrg;
  font-weight: 300;
  letter-spacing: .005em;
  line-height: .95;
  text-rendering: optimizeLegibility;

  @media #{$mt2_mq-md} {
    font-size: $mt2_fs-xxlrg;
  }

  @media #{$mt2_mq-lg} {
    font-size: $mt2_fs-xxxlrg;
  }
}

%mt2_h2 {
  font-family: 'Chronicle Deck 6r', Georgia, serif;
  font-size: $mt2_fs-xlrg;
  font-weight: 600;
  letter-spacing: .005em;
  line-height: 1.15;
  text-rendering: optimizeLegibility;

  @media #{$mt2_mq-md} {
    font-size: $mt2_fs-med-lrg;
  }

  @media #{$mt2_mq-lg} {
    font-size: $mt2_fs-med-xlrg;
  }
}

%mt2_h3 {
  font-family: 'Pragmatica-web', 'Helvetica Neue', Helvetica, Arial, 'Nimbus Sans L', sans-serif;
  font-size: $mt2_fs-lrg;
  font-weight: 600;
  letter-spacing: -.01em;
  line-height: 1.185;

  @media #{$mt2_mq-lg} {
    font-size: $mt2_fs-xlrg;
  }
}

%mt2_h4 {
  font-family: Georgia, serif;
  font-size: $mt2_fs-lrg;
  font-weight: 600;
  letter-spacing: .003em;
  line-height: 1.36;
}

%mt2_h5 {
  font-family: 'Pragmatica-web', 'Helvetica Neue', Helvetica, Arial, 'Nimbus Sans L', sans-serif;
  font-size: $mt2_fs-sm;
  font-weight: 600;
}

%mt2_subh1 {
  font-family: 'Pragmatica-web', 'Helvetica Neue', Helvetica, Arial, 'Nimbus Sans L', sans-serif;
  font-size: $mt2_fs-med;
  font-weight: 300;
  line-height: 1.37;
}

%mt2_subh2 {
  font-family: 'Pragmatica-web', 'Helvetica Neue', Helvetica, Arial, 'Nimbus Sans L', sans-serif;
  font-size: $mt2_fs-sm;
  font-weight: 300;
  line-height: 1.57;
  text-transform: uppercase;
}

%mt2_subh3 {
  font-family: 'Pragmatica-web', 'Helvetica Neue', Helvetica, Arial, 'Nimbus Sans L', sans-serif;
  font-size: $mt2_fs-xsm;
  font-weight: 300;
  text-transform: uppercase;
}

%mt2_subh4 {
  font-family: 'Pragmatica-web', 'Helvetica Neue', Helvetica, Arial, 'Nimbus Sans L', sans-serif;
  font-size: $mt2_fs-sm;
  font-weight: 300;
  line-height: 1.43;
}

%mt2_body {
  font-family: Georgia, serif;
  font-size: $mt2_fs-norm;
  font-weight: 300;
  letter-spacing: .001em;
  line-height: 1.6875;

  em {
    @extend %mt2_body--emphasis;
  }

  strong {
    @extend %mt2_body--strong;
  }
}

%mt2_body--emphasis {
  font-family: Georgia, serif;
  font-size: $mt2_fs-norm;
  font-style: italic;
  font-weight: 300;
  letter-spacing: .001em;
  line-height: 1.6875;
}

%mt2_body--strong {
  font-family: Georgia, serif;
  font-size: $mt2_fs-norm;
  font-weight: 700;
  letter-spacing: .001em;
  line-height: 1.6875;
}
