@mixin form-control-validation($text-color: #555, $border-color: #ccc, $background-color: #f5f5f5) {
    // Color the label and help text
    .help-block,
    .radio,
    .checkbox,
    .radio-inline,
    .checkbox-inline,
    &.radio label,
    &.checkbox label,
    &.radio-inline label,
    &.checkbox-inline label {
        color: $text-color;
        font-size: 14px;
        font-weight: bold;
        padding: 7.5px 0;
    }
    // Set the border and box shadow on specific inputs to match
    .mt_input-form {
        border-color: $border-color;
        @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
        // Redeclare so transitions work
        &:focus {
            border-color: darken($border-color, 10%);
            $shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px lighten($border-color, 20%);
            @include box-shadow($shadow);
        }
    }
}

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}

@mixin input-autofill {
    &:-moz-autofill { @content; }
    &:-khtml-autofill { @content; }
    &:-webkit-autofill { @content; }
}
