.mt3_video {
  &-player {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 2;

    video,
    iframe {
      width: 100%;
    }
  }

  &-wrapper {
    background-color: $mt3_default-modules-images-background;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    &:after {
      border: 6px solid $mt3_default-modules-images-box-logo;
      box-sizing: border-box;
      content: " ";
      height: 58px;
      left: 50%;
      margin: -29px 0 0 -20px;
      position: absolute;
      top: 50%;
      width: 40px;
    }
  }
}
