---
title: Home
---

<div class="mt3_row mt3_bgcolor--primary sectionpadding">
  <div class="pagewrapper mt3_col-gut">
    <div class="mt3_col-lg-10">
      <h1 class="mt3_h1 intro-txt">Welcome to Mortar</h1>
      <p class="version intro-txt mt3_heading--h6--1 mt3_row-gut-2">
        <!-- TODO: fix this version number to not be hardcoded -->
        Currently v3.1.7-beta
      </p>


      <p class="mt3_subh1 intro-txt mt3_row-gut-2">
        Mortar is the official Style Guide for National Geographic&apos;s digital products. To use Mortar, add the following line of code into the header of your project:
      </p>

      <code class="mt3_bgcolor--white mt3_row-gut-2 codemarkup css-file"></code>
      <script type="text/javascript">
        var rootPath = window.location.href;
        var cssPath = rootPath + 'styles/mortar-default{{cssSuffix}}.css'
        $('.css-file').text('<link href="' + cssPath + '" rel="stylesheet" />');
      </script>

      <p class="mt3_subh4 mt3_row-gut-2">
        Mortar is version controlled, meaning you have to opt in to each release by updating your header with the link above. If you don't want to opt in to the latest version (cited above), you can safely keep your existing Mortar reference.
      </p>
    </div>
  </div>
</div>

<div class="mt3_bgcolor--gray5 mt3_row-gut-2 divider">&nbsp;</div>

<div class="pagewrapper mt3_col-gut mt3_row">
  <h3 class="mt3_h3">Important Note</h3>
  <p class="mt3_subh4 mt3_row-gut-2">
    Mortar v3.1.7 is pre-release software. Some features will be deprecated and removed from Mortar prior to general release. Some features are still under development. Please avoid using any feature with the <span class="badge">In Development</span> badge. If you use features "In Development" you should expect to see errors.
  </p>
</div>

<div class="mt3_bgcolor--gray5 mt3_row-gut-2 divider">&nbsp;</div>

{% include "src/site/_partials/home/getting_started.html" %}
<div class="mt3_bgcolor--gray5 mt3_row-gut-2 divider">&nbsp;</div>

{% include "src/site/_partials/home/philosophy.html" %}
<div class="mt3_bgcolor--gray5 mt3_row-gut-2 divider">&nbsp;</div>

{% include "src/site/_partials/home/documentation.html" %}
{% include "src/site/_partials/home/links.html" %}
{% include "src/site/_partials/home/feedback.html" %}
