$mt3_videomodal-max-width: 860px;
$mt3_color-inverse: $mt3_color-white;

.mt3_video-modal {
  &-kicker {
    @extend .mt3_kicker;
    @include couldBeRichText();
    float: left;
    line-height: 1;
    margin-bottom: 10px;
    position: relative;
    text-decoration: none;
    z-index: $mt3_z-middle + 10;

    a:hover, a.mt3_promocard-kicker:hover {
      cursor: pointer;
      text-decoration: underline;
    }

    &--inverse {
      border-right: 1px solid $mt3_color-inverse;

      &:nth-child(1) {
        border-left: 1px solid $mt3_color-inverse;
      }
    }
  }

  &-subhead--right {
    float: left;
    text-decoration: none;
    z-index: $mt3_z-middle - 1;

    &:hover {
      text-decoration: none;
    }
  }

  &-container {
    margin: 0 auto;
    max-width: $mt3_videomodal-max-width;
    padding: 60px 30px 0;

    .mt3_border--gray40 {
      border-left: 1px solid $mt3_color-gray-40;
    }
  }

  &__head {
    margin: 10px 0 40px;
  }

  &__title {
    font-size: $mt3_h-med9 + (2 / 16);

    @media (max-width: 767px) {
      font-size: $mt3_h-sm5;
    }
  }

  &__description {
    margin: 30px 0 40px;
    .mt3_caption-body {
      @include couldBeRichText();
    }
  }

  &__overflow--hidden {
    overflow: hidden;
  }
}
